Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  a940f3fbb4fbb07c467c9c98c76a7ab7ff4d0804
Due: none

fix: review notes
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

style(button): redesign hover state for text button
  src/components/button/bl-button.css
Due: stylelint src/**/*.css

style(button): change naming for text hover bg color
  src/components/button/bl-button.css
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

feat(button): refactor hover state for text button (#234)
  src/components/button/bl-button.css
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  4ea8f5aca610a97c73898c8d13173da079a2c776
Due: none

docs(design): add sizing to design system
  docs/design-system/sizing.stories.mdx
Due: none

docs(design): style box heights with size variables
  docs/design-system/sizing.stories.mdx
Due: none

Update docs/design-system/sizing.stories.mdx
  docs/design-system/sizing.stories.mdx
Due: none

docs(design): change missing width styles with vars
  docs/design-system/sizing.stories.mdx
Due: none

docs: add how to customize a components style
  docs/how-to-customize-a-components-style.stories.mdx
  docs/images/css-custom-properties-component.png
  docs/images/css-custom-properties-storybook.png
Due: none

fix: pr reviews
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.css
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: tests & max-height
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

docs(design): add sizing to design system (#237)
  docs/design-system/sizing.stories.mdx
Due: none

docs: add brief information to design system
  docs/how-to-customize-a-components-style.stories.mdx
Due: none

docs: add informative tweaks for customize a components
  docs/how-to-customize-a-components-style.stories.mdx
Due: none

docs: fix some typo
  docs/how-to-customize-a-components-style.stories.mdx
Due: none

docs: use bl-alert for warnings
  src/components/badge/bl-badge.stories.mdx
  src/components/button/bl-button.stories.mdx
  src/components/icon/bl-icon.stories.mdx
  src/components/input/bl-input.stories.mdx
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
  src/components/tab-group/bl-tab-group.stories.mdx
  src/components/tab-group/tab-panel/bl-tab-panel.stories.mdx
  src/components/tab-group/tab/bl-tab.stories.mdx
  src/components/tooltip/bl-tooltip.stories.mdx
Due: none

docs: add example for defining css variable
  docs/how-to-customize-a-components-style.stories.mdx
Due: none

docs: add how to customize a components style (#238)
  docs/how-to-customize-a-components-style.stories.mdx
  docs/images/css-custom-properties-component.png
  docs/images/css-custom-properties-storybook.png
Due: none

fix: disable state & stories
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/option/bl-select-option.stories.mdx
Due: stylelint src/**/*.css

feat(pagination): complete pagination functionality
  commitlint.config.js
  src/baklava.ts
  src/components/pagination/bl-pagination.css
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: decorators added to stories
  src/components/select/bl-select.stories.mdx
Due: none

docs: playground usage
  docs/how-to-use-playground.stories.mdx
  docs/images/playground-landing-page.png
Due: none

docs: playground warning improved
  docs/how-to-use-playground.stories.mdx
Due: none

docs: add suggestion at playground usage
  docs/how-to-use-playground.stories.mdx
Due: none

refactor(input): validation state with elementinternals
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

docs: remove caption at alert in playground
  docs/how-to-use-playground.stories.mdx
Due: none

docs: playground usage (#241)
  docs/how-to-use-playground.stories.mdx
  docs/images/playground-landing-page.png
Due: none

chore: improve the ide experience for design tokens
  .vscode/extensions.json
Due: none

chore: add .vscode settings file to project
  .gitignore
  .vscode/settings.json
Due: none

fix: add new line at settings.json
  .vscode/settings.json
Due: none

chore: improve the ide experience for design tokens (#243)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

style(bl-tooltip): add max-content width
  src/components/tooltip/bl-tooltip.css
Due: stylelint src/**/*.css

fix(pagination): fix attribute names
  src/components/pagination/bl-pagination.css
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: positioning, pr reviews
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.css
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: ui notes
  src/components/select/bl-select.css
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(pagination): change paginate function logic
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

docs: add pagination stories
  src/components/pagination/bl-pagination.stories.mdx
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

feat: select component (#225)
  scripts/generate-react-exports.js
  src/baklava.ts
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.css
  src/components/select/option/bl-select-option.stories.mdx
  src/components/select/option/bl-select-option.test.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
