Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

refactor(accordion): add animationStatus
  src/components/accordion-group/accordion/bl-accordion.ts
  src/components/accordion-group/bl-accordion-group.test.ts
  src/components/accordion-group/bl-accordion-group.ts
Due: tsc --noEmit, eslint .

feat(calendar): trigger event when new date selected
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

feat(calendar): add calendar component basic story
  src/components/calendar/bl-calendar.stories.mdx
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

fix(select): removing popover element from dom causes error on popover setup
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): removing popover element from dom causes error on popover setup (#826)
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  7d/59dbd5dd8f6d9d1893e39b6e62f06d2a541199
Due: none

feat(calendar): adding multipe type option for calendar
  playground/template.html
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint .

feat(calendar): fix multiple type select view
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

fix(select): shouln't hide label on searchable
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(select): shouln't hide label on searchable (#829)
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  d8/137c95998c113570411289758c98f485039b00
Due: none

feat(calendar): disable user to select from disabled dates
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(calendar): disable user to select a date before min date or after max date
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

docs(storybook): add ssr and csr documentation for next (#824)
  docs/using-baklava-in-next.stories.mdx
  docs/using-baklava-in-react.stories.mdx
Due: none

docs(github): create codeowners
  .github/CODEOWNERS
Due: none

docs(github): create codeowners (#831)
  .github/CODEOWNERS
Due: none

fix(checkbox): fix error state of checkbox
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.test.ts
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(checkbox): fix error state of checkbox group
  src/components/checkbox-group/bl-checkbox-group.css
  src/components/checkbox-group/bl-checkbox-group.test.ts
  src/components/checkbox-group/bl-checkbox-group.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(checkbox): linter
  src/components/checkbox-group/bl-checkbox-group.css
  src/components/checkbox-group/checkbox/bl-checkbox.css
Due: stylelint src/**/*.css

feat(calendar): show previous month and next month days on calendar
  src/components/calendar/bl-calendar.constant.ts
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(checkbox): add invalid events
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint .

test(checkbox): validation tests
  src/components/checkbox-group/bl-checkbox-group.test.ts
  src/components/checkbox-group/checkbox/bl-checkbox.test.ts
Due: tsc --noEmit, eslint .

story(checkbox): add validation stories
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
Due: none

feat(select): search locale support
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/localization.ts
  src/utilities/getLocale.ts
Due: tsc --noEmit, eslint .

fix(select): fix recurring space closing select box issue
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feat: accordion component (#818)
  commitlint.config.cjs
  src/baklava.ts
  src/components/accordion-group/accordion/bl-accordion.css
  src/components/accordion-group/accordion/bl-accordion.stories.mdx
  src/components/accordion-group/accordion/bl-accordion.test.ts
  src/components/accordion-group/accordion/bl-accordion.ts
  src/components/accordion-group/bl-accordion-group.css
  src/components/accordion-group/bl-accordion-group.stories.mdx
  src/components/accordion-group/bl-accordion-group.test.ts
  src/components/accordion-group/bl-accordion-group.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  c2/1191d1fddec197e8533855bf5426869c259302
Due: none

refactor(checkbox): add remoEventListener on disconnectedCallback
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  09/68a8f9023057c8dc282d350ac7d078b70533ab
Due: none

feat(calendar): handle disabled dates and min max date properly
  playground/template.html
  src/components/calendar/bl-calendar.constant.ts
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint .

fix(dialog): fix nested dialog propagation problem
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

fix(select): fix recurring space closing select box issue (#844)
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  0d/e50ae5288323536abe5663b115337958d2f734
Due: none

fix(dialog): fix nested dialog propagation problem (#847)
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  83/09185ee4348f0137e07305743767945b56c907
Due: none

feat(tooltip): add target attribute
  src/components/popover/bl-popover.ts
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
  src/utilities/elements.ts
Due: tsc --noEmit, eslint .

refactor(storybook): add target attribute story
  src/components/tooltip/bl-tooltip.stories.mdx
Due: none

Notes added by 'git notes add'
  79/9ae3e30288562cc71fb390465fefe8e13c1323
Due: none

docs: version update in docs
  README.md
  docs/customizing-baklava-theme.stories.mdx
  docs/localization.stories.mdx
  docs/using-baklava-in-next.stories.mdx
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
Due: none
