Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

docs: implement trendyol tool hedwig to collect feedback (#957)
  .storybook/preview-head.html
Due: none

docs: implement trendyol tool hedwig to collect feedback (#957) (#959)
  .storybook/preview-head.html
Due: none

feat(datepicker): run prettier
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(datepicker): get disabled date as string or date array
  src/components/calendar/bl-calendar.stories.mdx
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

refactor: add error attribute for custom errors
  src/components/input/bl-input.ts
  src/components/textarea/bl-textarea.ts
  src/utilities/form-control.test.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint .

feat(datepicker): review updates
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.test.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(datepicker): string to date converter review update
  src/components/calendar/bl-calendar.stories.mdx
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.stories.mdx
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.test.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
  src/utilities/string-to-date-converter.test.ts
  src/utilities/string-to-date-converter.ts
Due: tsc --noEmit, eslint .

feat(datepicker): add css variables to wrapper class
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.test.ts
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(datepicker): add input size and input label type as prop to datepicker
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

feat(datepicker): change divider width
  src/components/datepicker/bl-datepicker.css
Due: stylelint src/**/*.css

feat(datepicker): developing datepicker component (#907)
  commitlint.config.cjs
  playground/template.html
  src/baklava.ts
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.stories.mdx
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
  src/components/input/bl-input.css
  src/components/popover/bl-popover.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.test.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
  src/utilities/string-to-date-converter.test.ts
  src/utilities/string-to-date-converter.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  7b/0ddd55bfcbd0bef0823bd76ec94abca8f7c6a6
Due: none

feat(calendar): fix next month selection fix when current month is december
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

feat(datepicker): review updates
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

feat(datepicker): bug fix for date selection
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

feat(datepicker): review update
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

feat(calendar): fix next month selection fix when current month is de… (#963)
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  23/a351307331d94280ff938174fb38aec9cb1aef
Due: none

refactor: add stories
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.ts
  src/components/textarea/bl-textarea.stories.mdx
  src/components/textarea/bl-textarea.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint .

test: add input tests
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/components/textarea/bl-textarea.test.ts
  src/utilities/form-control.test.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint .

feat(datepicker): fix some bugs
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

feat(datepicker): fix some bugs
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

feat(tag): create tag component
  commitlint.config.cjs
  scripts/build.js
  src/baklava.ts
  src/components/tag/bl-tag.css
  src/components/tag/bl-tag.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(input): fix css bug
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

feat(datepicker): fix input bug
  src/components/datepicker/bl-datepicker.test.ts
  src/components/input/bl-input.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(input): run prettier
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

feat(calendar): fix css classes
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

feat(calendar): run prettier on bl-calendar.css
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

doc: add adr documents for dropdown
  src/components/dropdown/doc/ADR.md
  src/components/dropdown/docs/ADR/event-system.md
  src/components/dropdown/docs/ADR/group-support.md
  src/components/dropdown/docs/ADR/icon-implementation.md
  src/components/dropdown/docs/ADR/keyboard-navigation.md
  src/components/dropdown/docs/ADR/variant-system.md
Due: none

fix: fix lint issue on web-test-runner and enchance structure for vs code
  .vscode/settings.json
  web-test-runner.config.mjs
Due: none

feature(dropdown): add icon support
  src/components/dropdown/bl-dropdown.ts
Due: tsc --noEmit, eslint .

test: upgrade version of web-test-runner and use playwright package
  package-lock.json
  package.json
Due: none

ci: change playwright install command
  .github/workflows/verify.yml
Due: none

ci: change playwright install command
  .github/workflows/verify-and-release-beta.yml
Due: none

Update pull-request-next.yml
  .github/workflows/pull-request-next.yml
Due: none
