Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

Update src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

Update using-baklava-in-next.stories.mdx
  docs/using-baklava-in-next.stories.mdx
Due: none

review updates
  src/components/calendar/bl-calendar.constant.ts
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint .

selecting disabled dates bug fix
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

style(dialog): remove unnecessary padding for critical and captionless situation
  src/components/dialog/bl-dialog.css
Due: stylelint src/**/*.css

event name fix
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

feat(select): fix search text is not clear bug when user click clear button (#885)
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix: Use lowercase script import in using-baklava-in-next.stories.mdx (#884)
  docs/using-baklava-in-next.stories.mdx
Due: none

feat: calendar component (#823)
  commitlint.config.cjs
  custom-elements-manifest.config.mjs
  playground/template.html
  src/baklava.ts
  src/components/button/bl-button.css
  src/components/calendar/bl-calendar.constant.ts
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.stories.mdx
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: spinner component (#877)
  src/baklava.ts
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/spinner/bl-spinner.css
  src/components/spinner/bl-spinner.stories.mdx
  src/components/spinner/bl-spinner.test.ts
  src/components/spinner/bl-spinner.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  9f/ad8caba8286efbf7a53bc68eb99b8fb882555d
Due: none

docs(ADR): move ADRs under components directories (#865)
  src/components/accordion-group/doc/ADR.md
  src/components/alert/doc/ADR.md
  src/components/badge/doc/ADR.md
  src/components/button/doc/ADR.md
  src/components/checkbox-group/doc/ADR.md
  src/components/dialog/doc/ADR.md
  src/components/drawer/doc/ADR.md
  src/components/dropdown/doc/ADR.md
  src/components/icon/doc/ADR.md
  src/components/input/doc/ADR.md
  src/components/notification/doc/ADR.md
  src/components/pagination/doc/ADR.md
  src/components/popover/doc/ADR.md
  src/components/progress-indicator/doc/ADR.md
  src/components/radio-group/doc/ADR.md
  src/components/select/doc/ADR.md
  src/components/select/doc/Accessibility.md
  src/components/split-button/doc/ADR.md
  src/components/switch/doc/ADR.md
  src/components/tab-group/doc/ADR.md
  src/components/table/doc/ADR.md
  src/components/textarea/doc/ADR.md
  src/components/tooltip/doc/ADR.md
Due: none

fix(checkbox): add relative value for position in checkbox container
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.test.ts
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(checkbox): add relative value for position in checkbox container (#896)
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.test.ts
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  38/5d215a690d76dcf3d62543ed2b622ebee1484b
Due: none

chore(deps): bump actions/upload-pages-artifact from 1 to 3
  .github/workflows/publish-storybook.yml
Due: none

docs: add icons library link to readme
  README.md
Due: none

feat(input): prevent enter to submit form
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

fix: add set timeout to ensure latest listening
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

feat(dialog): add width and caption line clamp css property
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.mdx
  src/components/dialog/bl-dialog.stories.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: chromatic
  src/components/dialog/bl-dialog.stories.ts
Due: tsc --noEmit, eslint .

feat(input): prevent enter to submit form (#691)
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  1d/df7c08dc718028204722f413b721565aa18bf8
Due: none

style(dialog): change align items to flex-start
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.stories.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

style(dialog): change close button size
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

test(dialog): update snapshot
  src/components/dialog/bl-dialog.test.ts
Due: tsc --noEmit, eslint .

fix(checkbox): fix validation state of checkbox
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  7e/628bb716e76b6b3956e530cb96e9ae87a52bce
Due: none

feat(datepicker): developing datepicker component
  commitlint.config.cjs
  playground/template.html
  src/baklava.ts
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(datepicker): run prettier
  playground/template.html
  src/components/datepicker/bl-datepicker.css
Due: stylelint src/**/*.css

feat(datepicker): fix storybook bug
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.ts
  src/components/input/bl-input.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(datepicker): typescript type bug fix
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

feat(datepicker): ui review updates
  playground/template.html
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(datepicker): showing floating date count fix
  playground/template.html
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(datepicker): clear unnecessary codes
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(tooltip): use mouseenter as event listener
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  17/ddd2db758631c79c4ad8a7f14190bc7e3c93a5
Due: none

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
