Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

test(popover): verify clean disconnect while open
  src/components/popover/bl-popover.test.ts
Due: tsc --noEmit, eslint .

feat(popover): show/hide via native Popover API top layer with fallback
  src/components/popover/bl-popover.css
  src/components/popover/bl-popover.test.ts
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(popover): correct top-layer positioning inside transformed ancestors
  package-lock.json
  package.json
  src/components/popover/bl-popover.test.ts
Due: tsc --noEmit, eslint .

docs(popover): note top-layer rendering behavior
  src/components/popover/bl-popover.stories.mdx
Due: none

test(tooltip): regression for top-layer rendering in table cell (#1049)
  src/components/tooltip/bl-tooltip.test.ts
Due: tsc --noEmit, eslint .

ci: migrate npm release to trusted publishing (OIDC) (#1205)
  .github/workflows/publish-chromatic.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/release.yml
  .github/workflows/verify-and-release-beta.yml
  .github/workflows/verify-and-release-stable.yml
  .github/workflows/verify.yml
  .npmrc
  package-lock.json
  package.json
Due: none

ci: consolidate release into single workflow for npm trusted publishing (#1206)
  .github/workflows/release.yml
  .github/workflows/verify-and-release-beta.yml
  .github/workflows/verify-and-release-stable.yml
  package.json
Due: none

feat(bl-button): add icon size tests and update styles for loading state
  src/components/button/bl-button.css
  src/components/button/bl-button.test.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  f4/1564e60fa83700913b64b9af48aa26ab99d8a9
Due: none

Notes added by 'git notes add'
  e48c4beefa196cc608e0c0b3aa7d194b7efe5639
Due: none

feat(datepicker): add error prop support
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

fix(stepper): align connector fill and colors
  package.json
  src/components/stepper/bl-stepper-item.css
  src/components/stepper/bl-stepper-item.test.ts
  src/components/stepper/bl-stepper-item.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

chore: revert customElements and packageManager
  package.json
Due: none

chore: remove comments
  src/components/stepper/bl-stepper-item.css
  src/components/stepper/bl-stepper-item.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(datepicker): add error prop support (#1212)
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

fix(stepper): align connector fill and colors (#1213)
  src/components/stepper/bl-stepper-item.css
  src/components/stepper/bl-stepper-item.test.ts
  src/components/stepper/bl-stepper-item.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  a7dab83038f27cd3286aa7fb3d6f1dbd0f193abe
Due: none

feat(input): show required asterisk on label when input is required
  src/components/input/bl-input.css
  src/components/input/bl-input.test.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(input): add required-indicator prop to control asterisk visibility
  src/components/input/bl-input.css
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(input): add required-indicator storybook examples
  src/components/input/bl-input.stories.mdx
Due: none

docs(input): move required-indicator section after input validation
  src/components/input/bl-input.stories.mdx
Due: none

feat(input): show required asterisk on label when input is required (#1216)
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  7837fc5a43f22de2246895d9a29eb43f90b5e656
Due: none

chore: lint fix
  src/components/switch/bl-switch.css
  src/themes/default.css
Due: stylelint src/**/*.css

docs: add detailed agent guide under poc
  poc/AGENTS.md
Due: none

docs: add pre-POC project understanding & component reference
  poc/COMPONENT-REFERENCE.md
  poc/PROJECT-UNDERSTANDING.md
  poc/wayfinder/README.md
  poc/wayfinder/map.md
  poc/wayfinder/tickets/01-poc-konusunu-netlestir.md
  poc/wayfinder/tickets/02-proje-dokumantasyonunu-olustur.md
Due: none

poc(agent-tooling): refresh scorecard to deepseek naive n>=3 (87->92, esc 22->4)
  poc/agent-tooling/bench/results/scorecard.json
  poc/agent-tooling/bench/results/scorecard.md
Due: none

poc(agent-tooling): document composer bridge impracticality as a measured finding
  poc/agent-tooling/README.md
Due: none

poc(agent-tooling): finalize deepseek-only deliverable, defer composer cross-model
  poc/agent-tooling/README.md
Due: none

poc(agent-tooling): update internal references from poc/ to tools/ after relocation
  tools/agent-tooling/AGENTS-TOOLING.md
  tools/agent-tooling/AGENTS.md
  tools/agent-tooling/PROJECT-UNDERSTANDING.md
  tools/agent-tooling/README.md
  tools/agent-tooling/cli/bin/baklava.mjs
  tools/agent-tooling/mcp/mcp-server.mjs
  tools/agent-tooling/self-test.mjs
Due: none

tools(agent-tooling): drop PoC branding; use agent-tooling naming and tools/ paths
  tools/agent-tooling/AGENTS-TOOLING.md
  tools/agent-tooling/AGENTS.md
  tools/agent-tooling/PROJECT-UNDERSTANDING.md
  tools/agent-tooling/README.md
  tools/agent-tooling/bench/results/adversarial-subagents/compare.md
  tools/agent-tooling/bench/results/adversarial-subagents/render/augmented/accordion-faq.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/augmented/checkout-steps.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/augmented/destructive-confirm.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/augmented/filter-tabs.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/augmented/login-form.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/augmented/notification-toast.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/augmented/product-table.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/augmented/settings-toggles.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/baseline/accordion-faq.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/baseline/checkout-steps.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/baseline/destructive-confirm.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/baseline/filter-tabs.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/baseline/login-form.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/baseline/notification-toast.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/baseline/product-table.json
  tools/agent-tooling/bench/results/adversarial-subagents/render/baseline/settings-toggles.json
  tools/agent-tooling/bench/results/real-subagents/compare.md
  tools/agent-tooling/bench/src/cli.mjs
  tools/agent-tooling/bench/src/evaluate.mjs
  tools/agent-tooling/bench/src/render.mjs
  tools/agent-tooling/cli/bin/baklava.mjs
  tools/agent-tooling/mcp/mcp-server.mjs
  tools/agent-tooling/self-test.mjs
Due: none

docs(agent-tooling): drop unused composer cross-model narrative from README
  tools/agent-tooling/README.md
Due: none

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
