Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

feat: textarea component
  src/baklava.ts
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.stories.mdx
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
  src/utilities/form-control.test.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(button): fix flex variable typo
  src/components/button/bl-button.css
  src/components/button/bl-button.ts
  src/components/pagination/bl-pagination.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(button): fix flex variable typo (#348)
  src/components/button/bl-button.css
  src/components/button/bl-button.ts
  src/components/pagination/bl-pagination.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  d4d689cedfec6eb9de6f9a7253c7f1b949c687a9
Due: none

fix(tooltip): a11y and UI consistency improvements
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(input): a11y improvements
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

feat: fix textarea expand behaviour and reviews
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(tooltip): remove vendor prefixed style
  src/components/tooltip/bl-tooltip.css
Due: stylelint src/**/*.css

fix(alert): visual arrangements
  src/components/alert/bl-alert.css
Due: stylelint src/**/*.css

fix(alert): description font style fixed
  src/components/alert/bl-alert.css
Due: stylelint src/**/*.css

fix(select): visual fixes over long texts
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
Due: stylelint src/**/*.css

test(checkbox): demo with a background color added
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
Due: none

feat: switch component (#266)
  src/baklava.ts
  src/components/switch/bl-switch.css
  src/components/switch/bl-switch.stories.mdx
  src/components/switch/bl-switch.test.ts
  src/components/switch/bl-switch.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

style: line height values are back
  .storybook/preview-head.html
  docs/customizing-baklava-theme.stories.mdx
  docs/design-system/typography.stories.mdx
  src/themes/default.css
Due: stylelint src/**/*.css

style(alert): position adjustments of close button
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(input): a11y improvements (#351)
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

refactor(tooltip): removed unused type
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  b0123c9d47439a02749cf3a6cd5a0139ba45c9df
Due: none

fix(select): style fix on floating label background
  src/components/select/bl-select.css
Due: stylelint src/**/*.css

fix(checkbox): line-height fix for checkmark
  src/components/checkbox-group/checkbox/bl-checkbox.css
Due: stylelint src/**/*.css

fix(tooltip): a11y and UI consistency improvements (#350)
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  7d3a3f7335363e975a0a1b769acedc11595c10d1
Due: none

GSelect components option key always sets [object Object] fixed
  package.json
  src/components/GSelect/GSelect.vue
Due: none

GSelect components option key always sets [object Object] fixed (#357)
  package.json
  src/components/GSelect/GSelect.vue
Due: none

fix(select): visual fixes over long texts (#355)
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
Due: stylelint src/**/*.css

refactor: color palette
  src/components/alert/bl-alert.css
  src/components/badge/bl-badge.css
  src/components/badge/bl-badge.ts
  src/components/button/bl-button.css
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
  src/components/dialog/bl-dialog.css
  src/components/drawer/bl-drawer.css
  src/components/dropdown/bl-dropdown.css
  src/components/input/bl-input.css
  src/components/progress-indicator/bl-progress-indicator.css
  src/components/radio-group/radio/bl-radio.css
  src/components/select/bl-select.css
  src/components/select/option/bl-select-option.css
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/tab-panel/bl-tab-panel.css
  src/components/tab-group/tab/bl-tab.css
  src/components/tooltip/bl-tooltip.css
  src/themes/default.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(alert): visual arrangements for alerts and font line-heights (#354)
  .storybook/preview-head.html
  docs/customizing-baklava-theme.stories.mdx
  docs/design-system/typography.stories.mdx
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/themes/default.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs: color palette wip
  docs/design-system/colors.stories.mdx
Due: none

ci: semantic-release node 18 requirement fix
  .github/workflows/release.yml
Due: none

ci: semantic-release node 18 requirement fix (#363)
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  2b/b24a8f0aa1d565a8bc9be5ce36b84347f32358
Due: none

feat: added storybook scenarios
  src/components/select/bl-select.stories.mdx
Due: none

fix: update HTMLElementTagNameMap interface
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feat: add stories and tests
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.stories.mdx
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs: add requirements documentation
  docs/requirements.stories.mdx
Due: none

docs: add details to pollyfills and clean definitions
  docs/requirements.stories.mdx
Due: none

docs: delete deprecated package
  docs/requirements.stories.mdx
Due: none

fix(switch): add public toggle event, switch with label example
  commitlint.config.js
  src/components/switch/bl-switch.css
  src/components/switch/bl-switch.stories.mdx
  src/components/switch/bl-switch.test.ts
  src/components/switch/bl-switch.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs: add requirements documentation (#365)
  docs/requirements.stories.mdx
Due: none
