Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js}": [
    "eslint --rule 'no-console: error' --fix",
    "prettier --write src/"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

test(tab): fix linter
  .prettierrc.json
  src/baklava.ts
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/bl-tab-group.test.ts
  src/components/tab-group/bl-tab-group.ts
  src/components/tab-group/tab-panel/bl-tab-panel.css
  src/components/tab-group/tab-panel/bl-tab-panel.test.ts
  src/components/tab-group/tab-panel/bl-tab-panel.ts
  src/components/tab-group/tab/bl-tab.css
  src/components/tab-group/tab/bl-tab.test.ts
  src/components/tab-group/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

test(tab): fix linter for tooltip
  src/components/tooltip/bl-tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

test(tooltip): visual regression tests for tooltip
  .editorconfig
  .storybook/main.js
  .storybook/preview-body.html
  .storybook/preview-head.html
  docs/contributing.stories.mdx
  docs/welcome.stories.mdx
  package-lock.json
  package.json
  src/components/button/bl-button.css
  src/components/tooltip/bl-tooltip.stories.mdx
  src/components/tooltip/bl-tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

fix(tab): sonar issue
  src/components/tab-group/bl-tab-group.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(tab): linter after sonar issue fixed
  src/components/tab-group/bl-tab-group.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix: web component multiple register error
  docs/using-baklava-in-react.stories.mdx
  scripts/generate-react-exports.js
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

docs: usage in react document extended
  docs/using-baklava-in-react.stories.mdx
Due: none

chore: exclude react from baklava-react bundle
  scripts/build.js
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore: auto generated file excluded from prettier
  .prettierignore
Due: none

chore: simplify logic of generate react exports
  scripts/generate-react-exports.js
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore: change build stages
  package-lock.json
  package.json
  scripts/build.js
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

docs: change react doc event names
  docs/using-baklava-in-react.stories.mdx
Due: none

feat(tab): storybook for tab,tab panel and tab group completed
  src/components/tab-group/bl-tab-group.stories.mdx
  src/components/tab-group/tab-panel/bl-tab-panel.stories.mdx
  src/components/tab-group/tab/bl-tab.stories.mdx
Due: none

feat(progress-indicator): completed progress-indicator component
  commitlint.config.js
  src/baklava.ts
  src/components/progress-indicator/bl-progress-indicator.css
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
  src/components/progress-indicator/bl-progress-indicator.test.ts
  src/components/progress-indicator/bl-progress-indicator.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore: simplify generate-react-exports.js
  scripts/generate-react-exports.js
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(tab): tab scroll bug fixed
  src/components/tab-group/tab/bl-tab.css
Due: none

feat: add react support (#181)
  .gitignore
  .prettierignore
  docs/using-baklava-in-react.stories.mdx
  package-lock.json
  package.json
  scripts/build.js
  scripts/generate-react-exports.js
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

Notes added by 'git notes add'
  8887d06d268e4c069eba43c07d2696e2edd0310c
Due: none

GImage error image && retry mechanism added
  src/components/GImage/GImage.stories.ts
  src/components/GImage/GImage.vue
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

version update
  package.json
Due: prettier --write

fix(button): outline hover state fixed
  .storybook/main.js
  package-lock.json
  package.json
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

console.log removed
  src/components/GImage/GImage.vue
Due: none

GImage error image && retry mechanism added (#186)
  package.json
  src/components/GImage/GImage.stories.ts
  src/components/GImage/GImage.vue
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

fix: button attributes restructured
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
  src/components/tooltip/bl-tooltip.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(badge): css variables used as privately
  src/components/badge/bl-badge.css
  src/components/badge/bl-badge.stories.mdx
Due: none

refactor(badge): lint fixes
  src/components/badge/bl-badge.css
Due: none

fix(progress-indicator): code review and fix
  src/components/progress-indicator/bl-progress-indicator.css
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
  src/components/progress-indicator/bl-progress-indicator.test.ts
  src/components/progress-indicator/bl-progress-indicator.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(badge): css variables used as privately (#188)
  src/components/badge/bl-badge.css
  src/components/badge/bl-badge.stories.mdx
Due: none

Notes added by 'git notes add'
  9792746d1bcea336234c6ac22de386b617a49efc
Due: none

feat(tab): wording changes
  src/components/tab-group/tab/bl-tab.stories.mdx
Due: none

refactor(button): reverted changes in bl-button.ts
  src/components/button/bl-button.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

refactor: review resolves
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/tab-panel/bl-tab-panel.css
  src/components/tab-group/tab/bl-tab.css
  src/components/tooltip/bl-tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

refactor: lint
  src/components/button/bl-button.ts
  src/components/tab-group/tab/bl-tab.css
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(tab): added JSDoc
  src/components/tab-group/bl-tab-group.ts
  src/components/tab-group/tab-panel/bl-tab-panel.ts
  src/components/tab-group/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(tab): added unregister function
  src/components/tab-group/bl-tab-group.ts
  src/components/tab-group/tab-panel/bl-tab-panel.ts
  src/components/tab-group/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

refactor: fix lint
  src/components/tab-group/bl-tab-group.ts
  src/components/tab-group/tab-panel/bl-tab-panel.ts
  src/components/tab-group/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

test(tab): icon mock in test
  src/components/tab-group/bl-tab-group.test.ts
  src/components/tab-group/tab-panel/bl-tab-panel.ts
  src/components/tab-group/tab/bl-tab.test.ts
  src/components/tab-group/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(tab): fixed lint
  src/components/tab-group/bl-tab-group.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore: added vscode recommended extensions (#189)
  .gitignore
  .vscode/extensions.json
Due: prettier --write

feat(tab): tab component's storybook is detailed
  src/components/tab-group/tab/bl-tab.stories.mdx
Due: none
