Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ., stylelint src/components/**/*.css

fix(tooltip): tooltip positioning bug fix (#202)
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.stories.mdx
  src/components/tooltip/bl-tooltip.ts
Due: eslint ., stylelint src/components/**/*.css

Notes added by 'git notes add'
  7e0f40e0e1dea217145058418bb16de0fb5c7683
Due: none

docs: add note for using inline styling at storybook components (#200)
  src/components/badge/bl-badge.stories.mdx
  src/components/button/bl-button.stories.mdx
  src/components/icon/bl-icon.stories.mdx
  src/components/input/bl-input.stories.mdx
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
  src/components/tab-group/bl-tab-group.stories.mdx
  src/components/tab-group/tab-panel/bl-tab-panel.stories.mdx
  src/components/tab-group/tab/bl-tab.stories.mdx
  src/components/tooltip/bl-tooltip.stories.mdx
Due: eslint .

feat(alert): added title description and variants
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: eslint ., stylelint src/components/**/*.css

feat(alert): added icon support & closable button
  playground/template.html
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: eslint ., stylelint src/components/**/*.css

feat(alert): added button & refactored html content and render function
  playground/template.html
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: eslint ., stylelint src/components/**/*.css

docs(checkbox): add storybook files for checkbox and checkbox group
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
Due: eslint .

test(checkbox): add test files for checkbox and checkbox group
  src/components/checkbox-group/bl-checkbox-group.test.ts
  src/components/checkbox-group/checkbox/bl-checkbox.test.ts
Due: eslint .

refactor(checkbox): refactor for checkbox and checkbox group
  src/components/checkbox-group/bl-checkbox-group.css
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: eslint ., stylelint src/components/**/*.css

fix(checkbox): make label property optional
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: eslint .

fix(tooltip): convert tooltip css variables to private
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.ts
Due: eslint ., stylelint src/components/**/*.css

refactor(tooltip): linter fixes
  src/components/tooltip/bl-tooltip.css
Due: stylelint src/components/**/*.css

fix(tooltip): convert tooltip css variables to private (#204)
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.ts
Due: eslint ., stylelint src/components/**/*.css

Notes added by 'git notes add'
  9a579cfbcf569c9097ac99ce108e1dea46010a23
Due: none

docs: fix cdn urls in vue doc
  docs/using-baklava-in-vue.stories.mdx
Due: eslint .

fix(checkbox): delete checkbox group element and allow single checkbox to be indeterminate
  src/baklava.ts
  src/components/checkbox-group/bl-checkbox-group.css
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
  src/components/checkbox-group/bl-checkbox-group.test.ts
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/checkbox/bl-checkbox.css
  src/components/checkbox/bl-checkbox.stories.mdx
  src/components/checkbox/bl-checkbox.test.ts
  src/components/checkbox/bl-checkbox.ts
Due: eslint ., stylelint src/components/**/*.css

style(checkbox): fix css prettier issue
  src/components/checkbox/bl-checkbox.css
Due: stylelint src/components/**/*.css

perf: minify css
  scripts/build.js
Due: eslint .

feat(alert): added pagination default function
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: eslint ., stylelint src/components/**/*.css

docs: badge links are fixed
  README.md
Due: eslint .

docs: badge links are fixed (#210)
  README.md
Due: eslint .

feat: minify css (#209)
  scripts/build.js
Due: eslint .

Notes added by 'git notes add'
  d2473e7f3563332480811330547b1e3e08ce4d0b
Due: none

chore: add visual regression test for button component states
  package-lock.json
  package.json
  src/components/button/bl-button.stories.mdx
Due: eslint .

chore: add border radius variables
  src/themes/default.css
Due: stylelint src/components/**/*.css

fix(tab): fix border radius variables
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/tab-panel/bl-tab-panel.css
Due: stylelint src/components/**/*.css

fix: lint problems
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/tab-panel/bl-tab-panel.css
Due: stylelint src/components/**/*.css

fix: px to rem for border-radius-pill
  src/themes/default.css
Due: stylelint src/components/**/*.css

feat(alert): property name refactor
  src/components/alert/bl-alert.ts
Due: eslint .

fix: remove zero border radius
  src/themes/default.css
Due: stylelint src/components/**/*.css

docs: border radius are added to design system
  docs/design-system/border-radius.stories.mdx
Due: eslint .

feat: select component
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.css
  src/components/select/option/bl-select-option.ts
  src/components/select/option/bl-select-option.type.ts
  src/components/select/types.ts
Due: eslint ., stylelint src/components/**/*.css

fix: remove border radius zero values
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/tab-panel/bl-tab-panel.css
Due: stylelint src/components/**/*.css

feat(alert): design refactor
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: eslint ., stylelint src/components/**/*.css

chore: describe border radius variables (#213)
  docs/design-system/border-radius.stories.mdx
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/tab-panel/bl-tab-panel.css
  src/themes/default.css
Due: eslint ., stylelint src/components/**/*.css

docs: fix border radius rem variable
  docs/design-system/border-radius.stories.mdx
Due: eslint .

docs: fix border radius rem variable (#214)
  docs/design-system/border-radius.stories.mdx
Due: eslint .

fix: add addon to the dev dep
  package-lock.json
  package.json
Due: none

feat(alert): divided to alert-group & alert-item components draft
  src/baklava.ts
  src/components/alert/bl-alert-group.css
  src/components/alert/bl-alert-group.ts
  src/components/alert/bl-alert-item.css
  src/components/alert/bl-alert-item.ts
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: eslint ., stylelint src/components/**/*.css

Path conditions:
  eslint .: any of: *.{ts,tsx,js,md,mdx}
  stylelint src/components/**/*.css: any of: *.css
