Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

bench(agent-tooling): add third arm 'aiagent' (MCP only) to before/after harness
  tools/agent-tooling/bench/src/cli.mjs
Due: none

bench(agent-tooling): name 3rd arm 'mcp-only' (agent using MCP only)
  tools/agent-tooling/bench/src/cli.mjs
Due: none

feat(agent-tooling): add CEM-backed 'validate' lint command
  tools/agent-tooling/AGENTS-TOOLING.md
  tools/agent-tooling/README.md
  tools/agent-tooling/cli/bin/baklava.mjs
  tools/agent-tooling/self-test.mjs
Due: none

feat(agent-tooling): add validate_output tool to the local MCP server
  tools/agent-tooling/mcp/mcp-server.mjs
Due: none

fix(button): keep hover styles when `disabled` is nullish
  src/components/button/bl-button.css
  src/components/button/bl-button.test.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

bench(agent-tooling): make the 3 MCP-centic arms the headline benchmark
  tools/agent-tooling/bench/results/naive-mcp3/compare.json
  tools/agent-tooling/bench/results/naive-mcp3/compare.md
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/baseline/accordion-faq.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/baseline/checkout-steps.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/baseline/destructive-confirm.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/baseline/filter-tabs.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/baseline/login-form.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/baseline/notification-toast.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/baseline/product-table.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/baseline/settings-toggles.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-only/accordion-faq.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-only/checkout-steps.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-only/destructive-confirm.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-only/filter-tabs.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-only/login-form.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-only/notification-toast.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-only/product-table.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-only/settings-toggles.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-validated/accordion-faq.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-validated/checkout-steps.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-validated/destructive-confirm.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-validated/filter-tabs.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-validated/login-form.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-validated/notification-toast.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-validated/product-table.json
  tools/agent-tooling/bench/results/naive-mcp3/evaluated/mcp-validated/settings-toggles.json
  tools/agent-tooling/bench/results/naive-mcp3/sensitivity.json
  tools/agent-tooling/bench/results/naive-mcp3/sensitivity.md
  tools/agent-tooling/bench/results/naive-mcp3/summary.json
  tools/agent-tooling/bench/results/scorecard.json
  tools/agent-tooling/bench/results/scorecard.md
  tools/agent-tooling/bench/src/cli.mjs
Due: none

fix(pagination): clean up resize listener on disconnect
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

fix: change hover color of table
  src/components/table/table-row/bl-table-row.css
Due: stylelint src/**/*.css

fix(design): replace hardcoded colors with design tokens
  src/components/calendar/bl-calendar.css
  src/components/dialog/bl-dialog.css
  src/components/spinner/bl-spinner.css
  src/components/spinner/bl-spinner.test.ts
  src/components/table/table-header-cell/bl-table-header-cell.css
  src/themes/dark.css
  src/themes/default.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css
