Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ., stylelint src/components/**/*.css

.lintstagedrc:

{
  "*.{ts,tsx,js,md,mdx}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/components/**/*.css"
  ]
}

feat(input): input as native form elements
  package-lock.json
  package.json
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: eslint .

refactor(checkbox): some logic simplified
  src/components/checkbox/bl-checkbox.css
  src/components/checkbox/bl-checkbox.stories.mdx
  src/components/checkbox/bl-checkbox.test.ts
  src/components/checkbox/bl-checkbox.ts
Due: eslint ., stylelint src/components/**/*.css

refactor(checkbox): remove unneeded style
  src/components/checkbox/bl-checkbox.css
Due: stylelint src/components/**/*.css

refactor: lint fixes
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: eslint ., stylelint src/components/**/*.css

chore: mdx linter removed
  .eslintrc.js
  .stylelintrc.json
  package-lock.json
  package.json
Due: eslint .

docs: add button hover state
  src/components/button/bl-button.stories.mdx
Due: eslint .

fix: remove storybook-addon-pseudo-states
  package-lock.json
  package.json
Due: none

chore: transform css to handle native component states
  scripts/build.js
Due: eslint .

fix: delete unused story template
  src/components/button/bl-button.stories.mdx
Due: eslint .

chore: add production check for build script before release
  package.json
  scripts/build.js
Due: eslint .

fix: change build mode to production for releases
  .github/workflows/release.yml
Due: none

refactor: make release.yml more clean for production builds
  .github/workflows/release.yml
  package.json
Due: none

fix: add more information to build stage
  .github/workflows/release.yml
Due: none

Revert "feat(alert): divided to alert-group & alert-item components draft"
  src/baklava.ts
  src/components/alert/bl-alert-group.css
  src/components/alert/bl-alert-group.ts
  src/components/alert/bl-alert-item.css
  src/components/alert/bl-alert-item.ts
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: eslint ., stylelint src/components/**/*.css

feat(alert): refactored due to issue, functionality trimmed and slot logic added
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
  src/components/alert/icon.converter.ts
Due: eslint ., stylelint src/components/**/*.css

feat(alert): close button replaced with bl-button
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: eslint ., stylelint src/components/**/*.css

refactor: building improvements and code cleanup
  .github/workflows/release.yml
  scripts/build.js
  src/components/button/bl-button.stories.mdx
Due: eslint .

fix: parameter implementation
  src/components/button/bl-button.stories.mdx
Due: eslint .

fix: improve github action message
  .github/workflows/release.yml
Due: none

chore: add visual regression test for button component states (#212)
  .github/workflows/release.yml
  scripts/build.js
  src/components/button/bl-button.stories.mdx
Due: eslint .

feat: floating-ui
  src/components/select/bl-select.css
  src/components/select/bl-select.ts
Due: eslint ., stylelint src/components/**/*.css

docs: linting document improved
  docs/linting.stories.mdx
  package.json
Due: eslint .

docs: link fixes
  docs/linting.stories.mdx
Due: eslint .

docs: icon docs arrangements
  docs/design-system/adding-a-new-icon.stories.mdx
  docs/design-system/iconography.stories.mdx
Due: eslint .

refactor: remove duplicated stagelint config
  .lintstagedrc
  package.json
Due: none

feat(alert): desktop design completed
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: eslint ., stylelint src/components/**/*.css

chore(input): add element-internals-polyfill to support safari
  package-lock.json
  package.json
  src/components/input/bl-input.ts
Due: eslint .

refactor: review fixes
  .eslintrc.js
  .lintstagedrc
  .lintstagedrc.js
Due: eslint .

feat(alert): attribute name & html refactored
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: eslint ., stylelint src/components/**/*.css

feat(alert): default variant css changed
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: eslint ., stylelint src/components/**/*.css

feat(alert): added storybook
  .storybook/main.js
  package-lock.json
  package.json
  src/components/alert/bl-alert.stories.mdx
Due: eslint .

chore: pipeline and commit hook linters are synced (#195)
  .eslintrc.js
  .lintstagedrc
  .lintstagedrc.js
  .stylelintrc.json
  docs/design-system/adding-a-new-icon.stories.mdx
  docs/design-system/iconography.stories.mdx
  docs/linting.stories.mdx
  package-lock.json
  package.json
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: eslint ., stylelint src/components/**/*.css

chore: create license file
  LICENSE
Due: none

feat(alert): storybook canvas spacing added
  src/components/alert/bl-alert.stories.mdx
Due: eslint .

refactor(input): lint fix
  src/components/input/bl-input.css
Due: stylelint src/components/**/*.css

fix(checkbox): disabled color corrected
  src/components/checkbox/bl-checkbox.css
Due: stylelint src/components/**/*.css

feat(alert): visible property privatized
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: eslint ., stylelint src/components/**/*.css

Revert "feat(alert): visible property privatized"
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: eslint ., stylelint src/components/**/*.css

feat(alert): visible property privatized
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.stories.mdx
  src/components/alert/bl-alert.ts
Due: eslint ., stylelint src/components/**/*.css

feat: tests added
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.test.ts
  src/components/select/option/bl-select-option.ts
Due: eslint .
