Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

fix(radio): selected disabled state fixed
  src/components/radio-group/radio/bl-radio.css
  src/components/radio-group/radio/bl-radio.stories.mdx
Due: stylelint src/**/*.css

fix: center dialog & position backdrop
  src/components/dialog/dialog-polyfill/bl-dialog-polyfill.css
  src/components/dialog/dialog-polyfill/bl-dialog-polyfill.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

test(radio): interaction test for focus state
  src/components/radio-group/bl-radio-group.stories.mdx
Due: none

fix(radio): empty space fix
  src/components/radio-group/bl-radio-group.css
Due: stylelint src/**/*.css

test(radio): keyboard interaction test fix
  src/components/radio-group/bl-radio-group.stories.mdx
Due: none

fix(dialog): add dialog polyfill operations
  playground/template.html
  src/baklava.ts
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
  src/components/dialog/dialog-polyfill/bl-dialog-polyfill.css
  src/components/dialog/dialog-polyfill/bl-dialog-polyfill.ts
  src/types/index.d.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: implement lazy react exports
  package.json
  scripts/generate-react-exports.js
Due: eslint .

fix(dialog): code review and fix
  playground/template.html
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

style(dialog): fix style lint error
  src/components/dialog/bl-dialog.css
Due: stylelint src/**/*.css

fix(dialog): fix z-index
  src/components/dialog/bl-dialog.css
Due: stylelint src/**/*.css

fix: upgrade lit-labs/react
  package-lock.json
Due: none

feat: radio component (#301)
  commitlint.config.js
  package-lock.json
  package.json
  src/baklava.ts
  src/components/radio-group/bl-radio-group.css
  src/components/radio-group/bl-radio-group.stories.mdx
  src/components/radio-group/bl-radio-group.test.ts
  src/components/radio-group/bl-radio-group.ts
  src/components/radio-group/radio/bl-radio.css
  src/components/radio-group/radio/bl-radio.stories.mdx
  src/components/radio-group/radio/bl-radio.test.ts
  src/components/radio-group/radio/bl-radio.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  70846273d15c75daa522e2edeac6f041cba8a900
Due: none

refactor(dialog): code review and refactor dialog
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(dialog): refactor event listeners
  playground/template.html
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

feat: create checkbox group component
  src/baklava.ts
  src/components/checkbox-group/bl-checkbox-group.css
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
  src/components/checkbox-group/checkbox/bl-checkbox.test.ts
  src/components/checkbox-group/checkbox/bl-checkbox.ts
  src/components/checkbox/bl-checkbox.ts
  src/components/select/bl-select.test.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(dialog): revert template and fix fixme comments
  playground/template.html
  src/components/dialog/bl-dialog.css
Due: stylelint src/**/*.css

test(checkbox-group): add unit tests
  commitlint.config.js
  src/baklava.ts
  src/components/checkbox-group/bl-checkbox-group.test.ts
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.test.ts
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

chore: dropdown popover
  src/baklava.ts
  src/components/button/bl-button.css
  src/components/button/bl-button.ts
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/bl-dropdown.ts
  src/components/dropdown/group/bl-dropdown-group.css
  src/components/dropdown/group/bl-dropdown-group.ts
  src/components/dropdown/item/bl-dropdown-item.css
  src/components/dropdown/item/bl-dropdown-item.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: support of dialog in old versions of browsers (#319)
  playground/template.html
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
  src/types/index.d.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  1d777557f55a970d29896239a6ed424026f84abd
Due: none

fix(select): fix choose dynamic select bug
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint .

chore: improvements on bl-button
  src/components/button/bl-button.css
  src/components/button/bl-button.ts
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/bl-dropdown.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

chore: added autoUpdate at popover
  src/components/dropdown/bl-dropdown.ts
Due: tsc --noEmit, eslint .

docs(checkbox-group): add stories
  src/components/checkbox-group/bl-checkbox-group.css
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(pagination): add item per page value bl-change event
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

fix(pagination): add item per page value bl-change event (#325)
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  ac3fdc8c4ba1b63cf86f259ff84c7452173deb9f
Due: none

chore: added tests
  src/components/button/bl-button.ts
  src/components/dropdown/bl-dropdown.test.ts
  src/components/dropdown/bl-dropdown.ts
  src/components/dropdown/group/bl-dropdown-group.test.ts
  src/components/dropdown/group/bl-dropdown-group.ts
  src/components/dropdown/item/bl-dropdown-item.css
  src/components/dropdown/item/bl-dropdown-item.stories.mdx
  src/components/dropdown/item/bl-dropdown-item.test.ts
  src/components/dropdown/item/bl-dropdown-item.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(pagination): throw events only on page & total-items changes
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

fix(pagination): throw events only on page & total-items changes (#326)
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  53867784ea3b5b1ec6b2677ea4e031de2883e276
Due: none

feat: drawer component
  commitlint.config.js
  src/baklava.ts
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

test(drawer): add unit tests
  src/components/drawer/bl-drawer.stories.mdx
  src/components/drawer/bl-drawer.test.ts
  src/components/drawer/bl-drawer.ts
Due: tsc --noEmit, eslint .

fix(drawer): fix linter check error
  src/components/drawer/bl-drawer.ts
Due: tsc --noEmit, eslint .

fix(drawer): refactor for new rules
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.test.ts
  src/components/drawer/bl-drawer.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(drawer): add stories for drawer
  src/components/drawer/bl-drawer.stories.mdx
Due: none

chore: add dropdown button stories
  src/components/button/bl-button.css
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/bl-dropdown.stories.mdx
  src/components/dropdown/bl-dropdown.ts
  src/components/dropdown/group/bl-dropdown-group.css
  src/components/dropdown/group/bl-dropdown-group.stories.mdx
  src/components/dropdown/item/bl-dropdown-item.stories.mdx
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(drawer): refactor for attribute, css, stories
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.stories.mdx
  src/components/drawer/bl-drawer.test.ts
  src/components/drawer/bl-drawer.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(checkbox-group): navigate with tab
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint .
