Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write

refactor: general folder structure simplified.
  .gitignore
  .storybook/CustomTheme.js
  .storybook/babel.config.js
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview-head.html
  .storybook/preview.js
  .storybook/storybook.css
  docs/welcome.stories.mdx
  grace.config.js
  package.json
  scripts/styles.js
  src/.storybook/static/media/README.md
  src/.storybook/stories/assets/logos/lit.png
  src/.storybook/stories/assets/logos/lit.svg
  src/.storybook/stories/assets/logos/stencil.png
  src/.storybook/stories/assets/logos/storybook.png
  src/.storybook/stories/assets/logos/typescript.png
  src/.storybook/stories/assets/logos/web-components.png
  src/.storybook/stories/assets/storybook-screens/collaborate.png
  src/.storybook/stories/assets/storybook-screens/document.png
  src/.storybook/stories/assets/storybook-screens/reuse.png
  src/.storybook/stories/assets/storybook-screens/search.png
  src/.storybook/storybook-styles.css
  src/.storybook/storybook.css
  src/components/gr-button/gr-button.css
  src/components/gr-button/gr-button.styles.ts
  src/components/gr-button/gr-button.ts
  src/shared.css
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

refactor(storybook): Config fixes.
  .storybook/main.js
  grace.config.js
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs: Some starter documentation added for design system.
  docs/design-system/colors.stories.mdx
  docs/design-system/iconography.stories.mdx
  docs/design-system/typography.stories.mdx
Due: none

docs(button): Docs for button converted to mdx format.
  src/components/gr-button/gr-button.stories.mdx
  src/components/gr-button/gr-button.stories.ts
  src/components/gr-button/gr-button.styles.ts
  src/components/gr-button/gr-button.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

refactor(storybook): Storybook configuration simplified.
  .storybook/CustomTheme.js
  .storybook/babel.config.js
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview-head.html
  .storybook/preview.js
  .storybook/storybook.css
  package-lock.json
  package.json
  postcss.config.js
  rollup.config.js
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

refactor(storybook): Improvements done.
  .storybook/main.js
  docs/design-system/typography.stories.mdx
  package-lock.json
  package.json
  src/components/gr-button/gr-button.stories.mdx
  src/components/gr-button/gr-button.styles.ts
  src/components/gr-button/gr-button.ts
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

refactor(lint): initial improvements done
  .eslintignore
  .eslintrc.json
  .prettierrc.json
  .stylelintrc.json
  package-lock.json
  package.json
  src/components/gr-button/gr-button.stories.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(lint): class selector regex rule deleted
  .stylelintrc.json
Due: prettier --write

refactor(test): coverage config added 100%
  .gitignore
  package-lock.json
  src/components/gr-button/gr-button.ts
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write

refactor(test): github pull request action added
  .github/workflows/pull-request.yml
Due: none

fix(test): added newline for github action
  .github/workflows/pull-request.yml
Due: none

fix(test): delete dash at github workflow
  .github/workflows/pull-request.yml
Due: none

fix(test): upgrade node version at github workflow
  .github/workflows/pull-request.yml
Due: none

fix(test): add playwright as a dependency at github workflow
  .github/workflows/pull-request.yml
Due: none

docs(test): add story for testing
  docs/testing.stories.mdx
Due: none

chore(test): Add run tests at husky pre commit
  .husky/pre-commit
Due: none

chore(test): Simplified
  package.json
  web-test-runner.config.mjs
Due: prettier --write

chore(lint): Simplify linters
  .eslintrc.json
  package-lock.json
  package.json
  postcss.config.js
  src/components/gr-button/gr-button.styles.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

chore(lint): Add lint github action to check files
  .github/workflows/lint.yml
Due: none

fix(lint): Lint files
  .prettierrc.json
  .storybook/main.js
  .stylelintrc.json
  package.json
  rollup.config.js
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(storybook): some examples added
  .storybook/main.js
  package-lock.json
  package.json
  rollup.config.js
  src/components/gr-button/gr-button.stories.mdx
  src/components/gr-button/gr-button.styles.ts
  src/components/gr-button/gr-button.ts
  src/imports.d.ts
  tsconfig.json
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(storybook): hiding styles from component args table
  src/components/gr-button/gr-button.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

ci(storybook): deploy storybook to chromatic
  .github/workflows/chromatic.yml
  package-lock.json
  package.json
Due: prettier --write

ci(storybook): chromatic workflow fixed
  .github/workflows/chromatic.yml
  package.json
Due: prettier --write

docs(test): add missing title at the testing story
  docs/testing.stories.mdx
Due: none

style(button): testing to break visual regression test
  src/components/gr-button/gr-button.styles.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(storybook): fix for code sample issues
  .storybook/main.js
  .storybook/preview.js
  src/components/gr-button/gr-button.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs(lint): add linting documentation
  .eslintrc.json
  .prettierrc.json
  docs/linting.stories.mdx
  tsconfig.json
Due: prettier --write

fix(lint): delete unnecessary story file
  src/components/gr-button/gr-button.stories.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(storybook): fix for code sample issues (#106)
  .storybook/main.js
  .storybook/preview.js
  src/components/gr-button/gr-button.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(lint): update package-lock.json
  package-lock.json
  src/components/gr-button/gr-button.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix: update package.json, package-lock.json
  .gitignore
  package-lock.json
  package.json
  src/themes/default.css
  tsconfig.json
  web-test-runner.config.mjs
Due: prettier --write

fix(lint): update package.json, package-lock.json
  package-lock.json
  package.json
Due: prettier --write

feat: commit scope list is provided
  commitlint.config.js
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: prompt-cli for commitlint added
  package-lock.json
  package.json
Due: prettier --write

feat: commit script added as a shortcut for commitlint prompt-cli
  package.json
Due: prettier --write

docs: documentation added for commit rules
  docs/commit-rules.stories.mdx
Due: none

docs: documentation order arranged
  .storybook/preview.js
  docs/testing.stories.mdx
  docs/welcome.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: git message template file provided
  .gitconfig
  .gitmessage
  docs/commit-rules.stories.mdx
Due: none

feat: commit message validation with husky (#107)
  .gitconfig
  .gitmessage
  .storybook/preview.js
  commitlint.config.js
  docs/commit-rules.stories.mdx
  docs/testing.stories.mdx
  docs/welcome.stories.mdx
  package-lock.json
  package.json
Due: eslint --rule 'no-console: error' --fix, prettier --write

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,md})
