Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(icon): new icons added (#495)
  src/components/icon/icon-list.ts
  src/components/icon/icons/global_export.svg
  src/components/icon/icons/history.svg
  src/components/icon/icons/money.svg
  src/components/icon/icons/motorcycle_check.svg
  src/components/icon/icons/qr.svg
  src/components/icon/icons/split_money.svg
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  71/d33834fb94c4f085710b354ed8e1a97140141a
Due: none

feat: add homepage field to package.json
  package.json
Due: none

feat: color palette playground
  .storybook/assets/color-palette.html
  src/components/drawer/bl-drawer.css
  src/themes/default.css
Due: stylelint src/**/*.css

docs: repository field added to package metadata
  package.json
Due: none

docs: increase threshold to prevent false positive
  src/components/button/bl-button.stories.mdx
Due: none

docs: bugs url added to package metadata
  package.json
Due: none

docs: create SECURITY.md
  SECURITY.md
Due: none

docs: add homepage field to package.json (#497)
  package.json
  src/components/button/bl-button.stories.mdx
Due: none

feat(alert): update ui
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.stories.mdx
  src/components/alert/bl-alert.test.ts
  src/components/alert/bl-alert.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(alert): fix styling with close button
  src/components/alert/bl-alert.css
Due: stylelint src/**/*.css

feat(input): set custom error state
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

docs(dialog): examples with full-width actions added
  src/components/dialog/bl-dialog.stories.mdx
Due: none

feat: new color palette
  .storybook/assets/color-palette.html
  docs/design-system/colors.stories.mdx
  src/components/alert/bl-alert.css
  src/components/button/bl-button.css
  src/components/checkbox-group/bl-checkbox-group.css
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/dialog/bl-dialog.css
  src/components/drawer/bl-drawer.css
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/group/bl-dropdown-group.css
  src/components/icon/bl-icon.stories.mdx
  src/components/input/bl-input.css
  src/components/pagination/bl-pagination.css
  src/components/popover/bl-popover.css
  src/components/progress-indicator/bl-progress-indicator.css
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
  src/components/radio-group/bl-radio-group.css
  src/components/radio-group/radio/bl-radio.css
  src/components/select/bl-select.css
  src/components/select/option/bl-select-option.css
  src/components/switch/bl-switch.css
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/tab-panel/bl-tab-panel.css
  src/components/tab-group/tab/bl-tab.css
  src/components/textarea/bl-textarea.css
  src/components/tooltip/bl-tooltip.css
  src/themes/default.css
Due: stylelint src/**/*.css

chore: storybook version upgrade
  .eslintrc.js
  .npmrc
  package-lock.json
  package.json
Due: eslint .

fix(input): typo
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

docs(input): information about using custom validation state
  src/components/input/bl-input.stories.mdx
Due: none

Notes added by 'git notes add'
  1e/7bda719c5bd77146d84967ab40d88a8572d437
Due: none

feat(progress-indicator): transition on value changes
  src/components/progress-indicator/bl-progress-indicator.css
  src/components/progress-indicator/bl-progress-indicator.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs: css custom property docs improved
  src/components/badge/bl-badge.ts
  src/components/button/bl-button.ts
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/icon/bl-icon.ts
  src/components/radio-group/bl-radio-group.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

refactor: fine tuning some color values
  src/themes/default.css
Due: stylelint src/**/*.css

fix(button): tertiary hover background fix
  .storybook/assets/color-palette.html
  src/components/button/bl-button.css
Due: stylelint src/**/*.css

fix(input): label style and background color fixed
  src/components/input/bl-input.css
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): vertical aligning issue fixed
  src/components/input/bl-input.css
  src/components/select/bl-select.css
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): keyboard navigation on safari
  package-lock.json
  package.json
  src/components/input/bl-input.ts
  src/components/select/bl-select.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint .

ci: upload coverage report even tests fail
  .github/workflows/verify.yml
Due: none

fix: use delegate focus for initial focus
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/components/select/bl-select.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint .

test(input): clear unused import
  src/components/input/bl-input.test.ts
Due: tsc --noEmit, eslint .

docs(dialog): examples with full-width actions added (#504)
  src/components/dialog/bl-dialog.stories.mdx
Due: none

feat(progress-indicator): transition on value changes (#505)
  src/components/progress-indicator/bl-progress-indicator.css
  src/components/progress-indicator/bl-progress-indicator.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  59/ea75be9a86af0158d9524f92214fd319e9c461
Due: none

fix: delegate focus in form components
  src/components/checkbox-group/checkbox/bl-checkbox.ts
  src/components/input/bl-input.ts
  src/components/select/bl-select.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint .

fix: fix color references
  .storybook/assets/color-palette.html
  docs/design-system/colors.stories.mdx
  docs/how-to-customize-a-components-style.stories.mdx
  src/components/alert/bl-alert.css
  src/components/badge/bl-badge.stories.mdx
  src/components/badge/bl-badge.ts
  src/components/button/bl-button.css
  src/components/button/bl-button.ts
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/dialog/bl-dialog.css
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.ts
  src/components/dropdown/bl-dropdown.css
  src/components/icon/bl-icon.stories.mdx
  src/components/icon/bl-icon.ts
  src/components/input/bl-input.css
  src/components/popover/bl-popover.css
  src/components/popover/bl-popover.stories.mdx
  src/components/popover/bl-popover.ts
  src/components/progress-indicator/bl-progress-indicator.css
  src/components/radio-group/bl-radio-group.css
  src/components/radio-group/bl-radio-group.ts
  src/components/radio-group/radio/bl-radio.css
  src/components/select/bl-select.ts
  src/components/switch/bl-switch.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: trick to sizing fieldset legend
  src/components/input/bl-input.css
  src/components/select/bl-select.css
  src/components/textarea/bl-textarea.css
Due: stylelint src/**/*.css

fix: input icon posiiton fix
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

docs: logo for storybook
  .storybook/manager.js
Due: eslint .

ci: reset and clear chromatic token from repo
  .github/workflows/publish-chromatic.yml
  .github/workflows/verify-and-release.yml
  package.json
Due: none

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
