Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

fix(tooltip): remove extra space
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs: fixed typo in customizing-baklava-theme file fixes #638
  docs/customizing-baklava-theme.stories.mdx
Due: none

docs: fixed typo in customizing-baklava-theme file pallette fixes #638
  docs/customizing-baklava-theme.stories.mdx
Due: none

docs: fixed typo in customizing-baklava-theme file (#639)
  docs/customizing-baklava-theme.stories.mdx
Due: none

fix(tooltip): remove extra space (#637)
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  0f/5b4d806e309da0f969a6008f65b69d4b6ed48b
Due: none

fix(radio): radio button flex-shrink problem
  src/components/radio-group/radio/bl-radio.css
Due: stylelint src/**/*.css

fix(radio): fix height limit and block flow improvements
  src/components/radio-group/bl-radio-group.css
  src/components/radio-group/radio/bl-radio.css
Due: stylelint src/**/*.css

feat(icon): add attribute for remove icon
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

feat(icon): set padding-horizontal values with css properties
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(radio): radio button flex-shrink problem (#636)
  src/components/radio-group/radio/bl-radio.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  32/a71046c87552b0fd937398f10acda9e1fd3e6d
Due: none

feat(radio): vertical alignment via css prop
  .storybook/preview-head.html
  src/components/radio-group/bl-radio-group.css
  src/components/radio-group/radio/bl-radio.css
  src/components/radio-group/radio/bl-radio.stories.mdx
  src/components/radio-group/radio/bl-radio.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(input): update name of padding variables
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(input): set padding-horizontal values with css properties (#643)
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  a3/0c84a1d525585def9ad3891921d338e6a2052f
Due: none

fix(input): invalid event triggers so many times
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

feat(input): implement icon slot
  src/components/input/bl-input.css
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(input): add icon slot doc with spinner eg
  src/components/input/bl-input.stories.mdx
Due: none

feat(react): export react component types
  scripts/generate-react-exports.js
Due: eslint .

fix(input): remove type from input min/max
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

docs: Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

docs: Update bug_report.yml (#652)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

docs(input): move style tag outside of bl-input
  src/components/input/bl-input.stories.mdx
Due: none

refactor(input): make icon slot bool private
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

chore(input): update min max types
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

feat(input): add date to types
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  65/290fd7fe3fd2519adc19656936639f706f4189
Due: none

docs(input): update min max info
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

refactor(react): replace export name
  scripts/generate-react-exports.js
Due: eslint .

feat(react): export react component types (#650)
  scripts/generate-react-exports.js
Due: eslint .

fix(input): remove type from input min/max (#651)
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  b2/bac5ae36a7f9bdbabdd5268bda0679cc9eb131
Due: none

feat(radio): add alignment css properties
  src/components/radio-group/bl-radio-group.css
  src/components/radio-group/bl-radio-group.stories.mdx
  src/components/radio-group/bl-radio-group.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(input): remove color for consistency
  src/components/input/bl-input.stories.mdx
Due: none

feat(input): icon slot for bl-input (#649)
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(tooltip): add css variable for set display of tooltip trigger
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  3a/01e54ef78d8e1c66de0f50934a8614f0611666
Due: none

chore(icon): add icon type support
  src/components/badge/bl-badge.ts
  src/components/button/bl-button.ts
  src/components/dropdown/item/bl-dropdown-item.ts
  src/components/icon/bl-icon.ts
  src/components/icon/icon-list.ts
  src/components/input/bl-input.ts
  src/components/tab-group/tab/bl-tab.ts
Due: tsc --noEmit, eslint .

feat(radio): update storybook alignment story
  src/components/radio-group/bl-radio-group.stories.mdx
Due: none
