Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

fix(select): disabled not reflecting
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint .

fix(select): disabled not reflecting (#430)
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  bb/50a8f91adf4eca1d4a5303382dbadef9e3b93c
Due: none

feat(select): keyboard navigation
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.css
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(drawer): css transform was breaking fixed positioning inside
  src/components/drawer/bl-drawer.css
Due: stylelint src/**/*.css

feat(icon): new icons added
  src/components/icon/icon-list.ts
  src/components/icon/icons/add_part.svg
  src/components/icon/icons/announcement.svg
  src/components/icon/icons/chart.svg
  src/components/icon/icons/clock.svg
  src/components/icon/icons/coupon.svg
  src/components/icon/icons/desktop.svg
  src/components/icon/icons/desktop_filled.svg
  src/components/icon/icons/drag_and_drop.svg
  src/components/icon/icons/growth.svg
  src/components/icon/icons/heart.svg
  src/components/icon/icons/heart_fill.svg
  src/components/icon/icons/medal.svg
  src/components/icon/icons/mobile.svg
  src/components/icon/icons/mobile_fill.svg
  src/components/icon/icons/money_transfer.svg
  src/components/icon/icons/new_store.svg
  src/components/icon/icons/offers.svg
  src/components/icon/icons/order_settings.svg
  src/components/icon/icons/order_time.svg
  src/components/icon/icons/price_settings.svg
  src/components/icon/icons/star_triple.svg
  src/components/icon/icons/target.svg
  src/components/icon/icons/turn_back_fill.svg
Due: tsc --noEmit, eslint .

fix(pagination): items per page selection uses new select value
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

feat(select): popover position option, some refactor
  src/components/select/bl-select.css
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

'currentColor' and icon list issues fixed
  src/components/icon/icon-list.ts
  src/components/icon/icons/add_part.svg
  src/components/icon/icons/chart.svg
  src/components/icon/icons/coupon.svg
  src/components/icon/icons/desktop.svg
  src/components/icon/icons/drag_and_drop.svg
  src/components/icon/icons/growth.svg
  src/components/icon/icons/heart.svg
  src/components/icon/icons/medal.svg
  src/components/icon/icons/mobile.svg
  src/components/icon/icons/money_transfer.svg
  src/components/icon/icons/new_store.svg
  src/components/icon/icons/order_settings.svg
  src/components/icon/icons/order_time.svg
  src/components/icon/icons/price_settings.svg
  src/components/icon/icons/turn_back_fill.svg
Due: tsc --noEmit, eslint .

old icons removed from icon_list
  src/components/icon/icon-list.ts
Due: tsc --noEmit, eslint .

feat(select): form validation wip
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
  src/components/select/bl-select.css
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(icon): new icons added (#432)
  src/components/icon/icon-list.ts
  src/components/icon/icons/add_part.svg
  src/components/icon/icons/announcement.svg
  src/components/icon/icons/chart.svg
  src/components/icon/icons/clock.svg
  src/components/icon/icons/coupon.svg
  src/components/icon/icons/desktop.svg
  src/components/icon/icons/desktop_filled.svg
  src/components/icon/icons/drag_and_drop.svg
  src/components/icon/icons/growth.svg
  src/components/icon/icons/heart.svg
  src/components/icon/icons/heart_fill.svg
  src/components/icon/icons/medal.svg
  src/components/icon/icons/mobile.svg
  src/components/icon/icons/mobile_fill.svg
  src/components/icon/icons/money_transfer.svg
  src/components/icon/icons/new_store.svg
  src/components/icon/icons/offers.svg
  src/components/icon/icons/order_settings.svg
  src/components/icon/icons/order_time.svg
  src/components/icon/icons/price_settings.svg
  src/components/icon/icons/star_triple.svg
  src/components/icon/icons/target.svg
  src/components/icon/icons/turn_back_fill.svg
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  54/91fcd06e873654fc1c7778b5ac52af64aa9362
Due: none

test(select): test cases improved
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.test.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(icon): influencer icon name changed and order_time icon fixed
  src/components/icon/icon-list.ts
  src/components/icon/icons/order_time.svg
  src/components/icon/icons/profile_star.svg
Due: tsc --noEmit, eslint .

fix(icon): influencer icon name changed and order_time icon fixed (#439)
  src/components/icon/icon-list.ts
  src/components/icon/icons/order_time.svg
  src/components/icon/icons/profile_star.svg
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  b8/4813b04ce52c47b89d603e58f12c5219aa9bb2
Due: none

style(input): style autofill input (#412)
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

enhanced search added for g-select search
  src/components/GSelect/GSelect.vue
Due: none

version change
  package.json
Due: none

enhanced search added for g-select search (#441)
  package.json
  src/components/GSelect/GSelect.vue
Due: none

removed logger
  src/components/GSelect/GSelect.vue
Due: none

G select enhanced search (#442)
  src/components/GSelect/GSelect.vue
Due: none

G select enhanced search (#444)
  package.json
Due: none

g-select enhanced refactor
  package.json
  src/components/GSelect/GSelect.vue
Due: none

G select enhanced search (#445)
  package.json
  src/components/GSelect/GSelect.vue
Due: none

sort fix
  src/components/GSelect/GSelect.vue
Due: none

G select enhanced search (#447)
  package.json
  src/components/GSelect/GSelect.vue
Due: none

chore: update lit
  package-lock.json
  package.json
Due: none

feat(select): init first validation wip
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

chore: update lit (#448)
  package-lock.json
  package.json
Due: none

fix: fix react event name mappings
  package-lock.json
  package.json
  scripts/generate-react-exports.js
Due: eslint .

feat: custom event type declerations for react wrappers
  custom-elements-manifest.config.mjs
  package-lock.json
  package.json
  scripts/generate-react-exports.js
Due: eslint .

docs(select): extra docs and visual tests
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

chore: discussion link added as issue template
  .github/ISSUE_TEMPLATE/config.yml
Due: none

feat: add popover component
  src/baklava.ts
  src/components/popover/bl-popover.css
  src/components/popover/bl-popover.stories.mdx
  src/components/popover/bl-popover.test.ts
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: add popover component and update package
  package-lock.json
  package.json
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

refactor: code styling and regex improvement
  custom-elements-manifest.config.mjs
  scripts/generate-react-exports.js
Due: eslint .
