Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

fix: upgrade next version to resolve vulnerability (#929)
  examples/next-app-router-ssr/package.json
Due: none

Notes added by 'git notes add'
  bb/0d15ec559a9e09a8678244c6aee909744b0597
Due: none

docs: resolve conflict in storybook (#928)
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
Due: none

Notes added by 'git notes add'
  0a/72eb63f5aa658fd172ad91d697f83eea57ca35
Due: none

feat(datepicker): fix css custom property
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  40/ae0bd89d9589ea24e7da4d3cad425f1b560b24
Due: none

doc: change version
  README.md
  docs/customizing-baklava-theme.stories.mdx
  docs/localization.stories.mdx
  docs/using-baklava-in-next.stories.mdx
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
  examples/input-mask-react/package.json
  examples/input-mask-vue/package.json
  examples/input-mask/package.json
Due: none

Notes added by 'git notes add'
  7f/66431a74184e5bdd9ada825ecc0fc59d0e7418
Due: none

feat(datepicker): change story name
  src/components/datepicker/bl-datepicker.stories.mdx
Due: none

feature(rtl-support): add rtl support for baklava components (#920)
  CONTRIBUTING.md
  docs/rtl-support.stories.mdx
  playground/template.html
  src/components/alert/bl-alert.css
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/dialog/bl-dialog.css
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.ts
  src/components/input/bl-input.css
  src/components/notification/bl-notification.css
  src/components/notification/card/bl-notification-card.css
  src/components/pagination/bl-pagination.css
  src/components/pagination/bl-pagination.ts
  src/components/popover/bl-popover.css
  src/components/popover/bl-popover.ts
  src/components/progress-indicator/bl-progress-indicator.css
  src/components/select/bl-select.css
  src/components/spinner/bl-spinner.css
  src/components/split-button/bl-split-button.css
  src/components/split-button/bl-split-button.stories.mdx
  src/components/split-button/bl-split-button.ts
  src/components/switch/bl-switch.css
  src/components/switch/bl-switch.ts
  src/components/tab-group/tab/bl-tab.css
  src/components/table/bl-table.stories.mdx
  src/components/table/table-cell/bl-table-cell.css
  src/components/table/table-header-cell/bl-table-header-cell.css
  src/components/table/table-header/bl-table-header.css
  src/components/table/table-row/bl-table-row.css
  src/components/textarea/bl-textarea.css
  src/components/tooltip/bl-tooltip.test.ts
  src/themes/default.css
  src/utilities/direction.test.ts
  src/utilities/direction.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(rtl-support): trigger release
  docs/rtl-support.stories.mdx
Due: none

feat(rtl-support): trigger beta release (#937)
  docs/rtl-support.stories.mdx
Due: none

Notes added by 'git notes add'
  9b/cc33e2e3f6b51edc1de48a99e1df2a72ee3b77
Due: none

feat(calendar): Enhance accessibility by adding visually hidden text to navigation buttons
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(switch): update cursor style to not-allowed when disabled
  src/components/switch/bl-switch.css
Due: stylelint src/**/*.css

feat(switch): update cursor style to not-allowed when disabled (#943)
  src/components/switch/bl-switch.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  9b/9fa6c47c464ecc39d1192479d433a3c5f7edfd
Due: none

feat(calendar): add label to calendar buttons for a11y(accessibility) improvements
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(calendar): button label changes dynamically according to month and year.
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

feat(calendar): variables are camel case now
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

feat(pagination): Add input validation to restrict values between 1 and last page and input UI match the design in Figma
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

feat(checkbox): Add keyboard handling for Enter and Space keys to toggle checked state
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint .

feat(a11y): Accessibility improvements for Dialog, Drawer, Progress Indicator and Radio
  src/components/dialog/bl-dialog.ts
  src/components/drawer/bl-drawer.ts
  src/components/progress-indicator/bl-progress-indicator.ts
  src/components/radio-group/radio/bl-radio.ts
Due: tsc --noEmit, eslint .

feat(calendar): Enhance accessibility by adding visually hidden text … (#940)
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  aa/cd375244fc89f404b37525c9b7a7ec91d1cd7b
Due: none

feat(dialog, drawer, progress-indicator): Add accessibility labels to close buttons and progress indicator
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
  src/components/drawer/bl-drawer.test.ts
  src/components/drawer/bl-drawer.ts
  src/components/progress-indicator/bl-progress-indicator.test.ts
  src/components/progress-indicator/bl-progress-indicator.ts
Due: tsc --noEmit, eslint .

feat(radio,radio-group): Enhance accessibility with arrow key navigation and aria attributes
  src/components/radio-group/bl-radio-group.ts
  src/components/radio-group/radio/bl-radio.test.ts
  src/components/radio-group/radio/bl-radio.ts
Due: tsc --noEmit, eslint .

feat(datepicker): add secondary option to locale
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

feat(checkbox): Enter key removed for checkbox
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint .

chore(input): improve type-safety
  src/components/icon/bl-icon.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

chore(input): fix tests
  src/components/icon/bl-icon.ts
  src/components/input/bl-input.test.ts
Due: tsc --noEmit, eslint .

chore(input): improve type-safety (#954)
  src/components/icon/bl-icon.ts
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

feat(tag-component): tag component adr
  src/components/tag/doc/ADR.md
Due: none

feat(datepicker): self-review updates
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(dialog, drawer, progress-indicator): Add accessibility labels to… (#949)
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
  src/components/drawer/bl-drawer.test.ts
  src/components/drawer/bl-drawer.ts
  src/components/progress-indicator/bl-progress-indicator.test.ts
  src/components/progress-indicator/bl-progress-indicator.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  c6/86e2111ce438ab2fd9362322e7a6beee3b20fb
Due: none

feat(checkbox): Add keyboard handling for Enter and Space keys to tog… (#946)
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  dd/096ebb96f0b71f382c65ad1d730ebec3b8fd25
Due: none

docs: implement trendyol tool hedwig to collect feedback
  .storybook/preview-head.html
Due: none
