Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write

feat: build system converted to esbuild
  .npmignore
  .storybook/main.js
  .storybook/preview.js
  .stylelintrc.json
  dev/README.md
  dev/index.html
  grace.config.js
  package-lock.json
  package.json
  rollup.config.js
  scripts/build.js
  scripts/bundle-assets.js
  src/components/gr-button/gr-button.css
  src/components/gr-button/gr-button.stories.mdx
  src/components/gr-button/gr-button.styles.ts
  src/components/gr-button/gr-button.test.ts
  src/components/gr-button/gr-button.ts
  src/grace.ts
  src/themes/default.css
  svgo.config.js
  tsconfig.json
  web-dev-server.config.mjs
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write

ci: build project before storybook deployment
  .github/workflows/chromatic.yml
Due: none

ci: action worklows are unified
  .github/workflows/chromatic.yml
  .github/workflows/github-actions.yml
  .github/workflows/lint.yml
  .github/workflows/pull-request.yml
  .github/workflows/verify-and-preview.yml
Due: none

ci: github actions workflow rearrenged
  .github/workflows/verify-and-preview.yml
Due: none

feat: build system converted to esbuild (#109)
  .github/workflows/chromatic.yml
  .github/workflows/github-actions.yml
  .github/workflows/lint.yml
  .github/workflows/pull-request.yml
  .github/workflows/verify-and-preview.yml
  .npmignore
  .storybook/main.js
  .storybook/preview.js
  .stylelintrc.json
  dev/README.md
  dev/index.html
  grace.config.js
  package-lock.json
  package.json
  rollup.config.js
  scripts/build.js
  scripts/bundle-assets.js
  src/components/gr-button/gr-button.css
  src/components/gr-button/gr-button.stories.mdx
  src/components/gr-button/gr-button.styles.ts
  src/components/gr-button/gr-button.test.ts
  src/components/gr-button/gr-button.ts
  src/grace.ts
  src/themes/default.css
  svgo.config.js
  tsconfig.json
  web-dev-server.config.mjs
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write

chore: beta release flow created for next version
  .releaserc
Due: none

ci: semantic release configuration
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --write

ci: maintenance branches renamed
  .github/workflows/release.yml
  .releaserc
Due: none

ci: use basit release workflow
  .github/workflows/release.yml
  .releaserc
Due: none

ci: use next branch as beta prerelease
  .releaserc
Due: none

Notes added by 'git notes add'
  7f969c68caa07e483622d3f5a8c9ea01c39b1582
Due: none

ci: release workflow fixes
  .github/workflows/release.yml
Due: none

ci: reusable worklow created for verify job
  .github/workflows/release.yml
  .github/workflows/verify-and-preview.yml
  .github/workflows/verify.yml
Due: none

ci: verify workflow file path fixed
  .github/workflows/release.yml
  .github/workflows/verify-and-preview.yml
  .github/workflows/verify.yml
Due: none

ci: verify workflow file path fixed
  .github/workflows/release.yml
  .github/workflows/verify-and-preview.yml
Due: none

ci: workflows are rearranged
  .github/workflows/pull-request.yml
  .github/workflows/shared/publish-storybook.yml
  .github/workflows/shared/release.yml
  .github/workflows/shared/verify.yml
  .github/workflows/verify-and-release.yml
Due: none

ci: reusable workflows needs to be placed in worklows folder
  .github/workflows/publish-storybook.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .github/workflows/verify-and-release.yml
  .github/workflows/verify.yml
Due: none

ci: missing runs-on parameter added
  .github/workflows/publish-storybook.yml
Due: none

ci: pass secrets to reused workflows
  .github/workflows/publish-storybook.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .github/workflows/verify-and-release.yml
Due: none

feat: automatic releases from next branch implemented
  .github/workflows/release.yml
  .releaserc
Due: none

ci: github token defined for release job
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  1250fca1d2611b94dbf2694eb44ed4f7ae227c5e
Due: none

ci: create build and coverage artifacts
  .github/workflows/verify.yml
Due: none

ci: don't add assets to github releases
  .releaserc
Due: none

ci: no build job in verify workflow
  .github/workflows/verify.yml
Due: none

ci: upload build artifact
  .github/workflows/release.yml
Due: none

Add pagination labelText prop
  src/components/GDataTable/GDataTable.stories.ts
  src/components/GDataTable/GDataTable.vue
  src/components/GDataTable/__snapshots__/GDataTable.spec.ts.snap
  src/components/GPagination/GPagination.spec.ts
  src/components/GPagination/GPagination.stories.ts
  src/components/GPagination/GPagination.vue
Due: eslint --rule 'no-console: error' --fix, prettier --write

1.0.40
  package-lock.json
  package.json
Due: prettier --write

Feature/g pagination language support (#110)
  package-lock.json
  package.json
  src/components/GDataTable/GDataTable.stories.ts
  src/components/GDataTable/GDataTable.vue
  src/components/GDataTable/__snapshots__/GDataTable.spec.ts.snap
  src/components/GPagination/GPagination.spec.ts
  src/components/GPagination/GPagination.stories.ts
  src/components/GPagination/GPagination.vue
Due: eslint --rule 'no-console: error' --fix, prettier --write

SBA-1611: GDatePicker language support
  package.json
  src/components/GDatePicker/GDatePicker.stories.ts
  src/components/GDatePicker/GDatePicker.vue
  src/components/GDatePicker/__snapshots__/GDatePicker.spec.ts.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write

added stories
  src/components/GDatePicker/GDatePicker.stories.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

remove unnecessary props
  src/components/GDatePicker/GDatePicker.stories.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

Feature: GDatePicker language support (#111)
  package.json
  src/components/GDatePicker/GDatePicker.stories.ts
  src/components/GDatePicker/GDatePicker.vue
  src/components/GDatePicker/__snapshots__/GDatePicker.spec.ts.snap
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: icon component boilerplate is created
  src/components/icon/gr-icon.css
  src/components/icon/gr-icon.stories.mdx
  src/components/icon/gr-icon.test.ts
  src/components/icon/gr-icon.ts
  src/grace.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

chore: testing utilities fine tuned
  .storybook/main.js
  package-lock.json
  package.json
  tsconfig.json
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: event decorator draft
  src/utilities/event.test.ts
  src/utilities/event.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

test: event decorator test coverage increase
  package-lock.json
  package.json
  src/utilities/event.test.ts
  src/utilities/event.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,md})
