Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  a3/c803e20de724385d3d2e0cab4f1b420868a548
Due: none

feat(input): add showPicker to input (#710)
  package-lock.json
  package.json
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/imports.d.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  33/5c5bb497fa60bcd89f1fffcd30519d5ec4c942
Due: none

Revert "fix(input): add search input type"
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

refactor: old array conversion (#712)
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/dropdown/bl-dropdown.ts
  src/components/radio-group/bl-radio-group.ts
Due: tsc --noEmit, eslint .

Update README.md
  README.md
Due: none

feat(input): add tests & storybook example
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
Due: tsc --noEmit, eslint .

feat(pagination): use auto width on select
  src/components/pagination/bl-pagination.css
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(react): wrap with React.lazy
  scripts/generate-react-exports.js
Due: eslint .

fix(react): add export default
  scripts/generate-react-exports.js
Due: eslint .

refactor: default iconPath
  src/utilities/asset-paths.ts
Due: tsc --noEmit, eslint .

fix(react): wrap with React.lazy (#716)
  scripts/generate-react-exports.js
Due: eslint .

docs(readme): update cdn example (#714)
  README.md
Due: none

feat(input): display type icons (#713)
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  b7/d9faff64891ea3754101a84de006b15ef4c287
Due: none

fix(select): reflection added for proper styling
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

chore(react): infer component types
  scripts/generate-react-exports.js
Due: eslint .

chore(react): infer component types (#721)
  scripts/generate-react-exports.js
Due: eslint .

docs(test): Add testing with vitest section to react
  docs/using-baklava-in-react.stories.mdx
Due: none

chore(react): improve react types & typescript check
  .prettierrc.json
  package-lock.json
  package.json
  scripts/generate-react-exports.js
  tsconfig.json
Due: eslint .

chore(vue): add vue typescript support
  docs/using-baklava-in-vue.stories.mdx
  package.json
  scripts/generate-vue-types.js
Due: eslint .

chore(react): revert typescript changes
  package-lock.json
  package.json
  scripts/generate-react-exports.js
Due: eslint .

chore(deps): upgrade ts
  package-lock.json
  package.json
Due: none

fix(vue): missing component types
  scripts/generate-vue-types.js
Due: eslint .

docs(pagination): variable documentation rolledback
  src/components/pagination/bl-pagination.stories.mdx
Due: none

refactor: default iconPath (#718)
  src/utilities/asset-paths.ts
Due: tsc --noEmit, eslint .

chore(react): set specific type to element type
  scripts/generate-react-exports.js
Due: eslint .

fix(select): reflection added for proper styling (#720)
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(react): add event types
  scripts/generate-react-exports.js
Due: eslint .

Notes added by 'git notes add'
  2f/15718f720562104a90d99c874acba2e8c76b48
Due: none

feat(pagination): use auto width on select (#692)
  src/components/pagination/bl-pagination.css
Due: stylelint src/**/*.css

chore(vue): add vue typescript support (#726)
  docs/using-baklava-in-vue.stories.mdx
  package.json
  scripts/generate-vue-types.js
Due: eslint .

Notes added by 'git notes add'
  f4/170f24e749c05c21ab0554b36acfa18f710145
Due: none

chore(react): reduce import/export type
  scripts/generate-react-exports.js
Due: eslint .

feat(icon): icon list order fixed
  src/components/icon/icon-list.ts
  src/components/icon/icons/market_order_processing.svg
  src/components/icon/icons/review.svg
Due: tsc --noEmit, eslint .

icon renaming undone
  src/components/icon/icon-list.ts
  src/components/icon/icons/market_processing.svg
Due: tsc --noEmit, eslint .

feat(icon): review icon is added (#732)
  src/components/icon/icon-list.ts
  src/components/icon/icons/review.svg
Due: tsc --noEmit, eslint .

docs(test): Add testing with vitest section to react (#724)
  docs/using-baklava-in-react.stories.mdx
Due: none

Notes added by 'git notes add'
  03/f21f7df75ad2f6af3645dced7079abd4eb24db
Due: none

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
