Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js}": [
    "eslint --rule 'no-console: error' --fix",
    "prettier --write src/"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat: select components initialized
  src/baklava.ts
  src/components/select/bl-select.css
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.css
  src/components/select/option/bl-select-option.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

test(tab): added add/remove tab tests
  src/components/tab-group/bl-tab-group.test.ts
  src/components/tab-group/tab/bl-tab.test.ts
  src/components/tab-group/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

refactor(button): docs and style refactor
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
Due: none

refactor: prettier fix
  src/components/button/bl-button.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(tab): unnecessary code snippets removed form tab storybooks
  src/components/tab-group/bl-tab-group.stories.mdx
  src/components/tab-group/tab-panel/bl-tab-panel.stories.mdx
Due: none

docs(tooltip): variant attribute fix
  src/components/tooltip/bl-tooltip.stories.mdx
Due: none

fix(tab): set tooltip placement as default
  src/components/tab-group/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(progress-indicator): fix storybook control bug and add jsdoc info
  src/components/input/bl-input.stories.mdx
  src/components/progress-indicator/bl-progress-indicator.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

refactor: tooltip style moved to css file
  src/components/tab-group/tab/bl-tab.css
  src/components/tab-group/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(progress-indicator): fix jsdoc default values
  src/components/progress-indicator/bl-progress-indicator.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore: refactored due to comments
  .vscode/extensions.json
Due: prettier --write

chore: added vscode recommended extensions (#189) (#190)
  .gitignore
  .vscode/extensions.json
Due: prettier --write

fix(tab): css variables
  src/components/tab-group/tab/bl-tab.css
  src/components/tab-group/tab/bl-tab.stories.mdx
Due: none

fix(tab): remove title attribute
  src/components/tab-group/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(tab): linter format
  src/components/tab-group/tab/bl-tab.css
Due: none

fix(tab): remove tab title from tab-panel and tab-group stories
  src/components/tab-group/bl-tab-group.stories.mdx
  src/components/tab-group/bl-tab-group.test.ts
  src/components/tab-group/tab-panel/bl-tab-panel.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

docs: add Styling Components section to react doc
  docs/using-baklava-in-react.stories.mdx
Due: none

fix(tab): 1px margin bottom for icon notify and badge
  src/components/tab-group/tab/bl-tab.css
Due: none

docs: fix css properties in react doc
  docs/using-baklava-in-react.stories.mdx
Due: none

fix(progress-indicator): fix progress indicator text font
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
Due: none

feat: tab component (#160)
  commitlint.config.js
  src/baklava.ts
  src/components/button/bl-button.ts
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/bl-tab-group.stories.mdx
  src/components/tab-group/bl-tab-group.test.ts
  src/components/tab-group/bl-tab-group.ts
  src/components/tab-group/tab-panel/bl-tab-panel.css
  src/components/tab-group/tab-panel/bl-tab-panel.stories.mdx
  src/components/tab-group/tab-panel/bl-tab-panel.test.ts
  src/components/tab-group/tab-panel/bl-tab-panel.ts
  src/components/tab-group/tab/bl-tab.css
  src/components/tab-group/tab/bl-tab.stories.mdx
  src/components/tab-group/tab/bl-tab.test.ts
  src/components/tab-group/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  34918050b887b8ca5bdd68f872df9762a23da2f0
Due: none

docs: change tooltip class css property in react doc
  docs/using-baklava-in-react.stories.mdx
Due: none

feat: progress-indicator component (#184)
  commitlint.config.js
  src/baklava.ts
  src/components/input/bl-input.stories.mdx
  src/components/progress-indicator/bl-progress-indicator.css
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
  src/components/progress-indicator/bl-progress-indicator.test.ts
  src/components/progress-indicator/bl-progress-indicator.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Notes added by 'git notes add'
  c359b4d475bbcd7c8ad4f8ccfa5635b698b79127
Due: none

chore: pipeline and commit hook linters are synced
  .eslintrc.js
  .lintstagedrc
  package-lock.json
  package.json
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

refactor: comment removed
  .eslintrc.js
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

docs: add Styling Components section to react doc (#193)
  docs/using-baklava-in-react.stories.mdx
Due: none

docs: remove pseudo hover states at button
  .storybook/main.js
  package-lock.json
  package.json
  src/components/button/bl-button.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

fix(button): outline hover state fixed (#187)
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
Due: none

Notes added by 'git notes add'
  e03125f29446c30436e7f789756b484c5fa1b106
Due: none

feat: single & multi select
  src/components/select/bl-select.css
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.css
  src/components/select/option/bl-select-option.ts
  src/components/select/option/bl-select-option.type.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

refactor(button): change button type as kind
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(tab): add button kind to tab
  src/components/tab-group/tab/bl-tab.ts
  src/components/tooltip/bl-tooltip.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat: click-outisde handler
  src/components/select/bl-select.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(button)!: button attributes refactored (#191)
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
  src/components/tab-group/tab/bl-tab.ts
  src/components/tooltip/bl-tooltip.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

docs: add note for using inline styling at storybook components
  src/components/badge/bl-badge.stories.mdx
  src/components/button/bl-button.stories.mdx
  src/components/icon/bl-icon.stories.mdx
  src/components/input/bl-input.stories.mdx
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
  src/components/tab-group/bl-tab-group.stories.mdx
  src/components/tab-group/tab-panel/bl-tab-panel.stories.mdx
  src/components/tab-group/tab/bl-tab.stories.mdx
  src/components/tooltip/bl-tooltip.stories.mdx
Due: none

feat(checkbox): draft checkbox component
  commitlint.config.js
  src/baklava.ts
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(alert): draft alert component #138
  commitlint.config.js
  src/baklava.ts
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(tooltip): tooltip positioning bug fix
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.stories.mdx
  src/components/tooltip/bl-tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/
