Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

style(button): fix hover state on primary variant
  src/components/button/bl-button.css
Due: stylelint src/**/*.css

fix(button): convert css variables to private
  src/components/button/bl-button.css
Due: stylelint src/**/*.css

feat(icon): new icons added
  src/components/icon/icons/complain.svg
  src/components/icon/icons/full_size.svg
  src/components/icon/icons/group_of_people.svg
  src/components/icon/icons/hourglass.svg
  src/components/icon/icons/instagram.svg
  src/components/icon/icons/market_processing.svg
  src/components/icon/icons/puzzle.svg
  src/components/icon/icons/warehouse.svg
  src/components/icon/icons/youtube.svg
Due: none

feat(icon): new icons added
  src/components/icon/icon-list.ts
Due: tsc --noEmit, eslint .

fix: change all button usages appwise
  src/components/alert/bl-alert.test.ts
  src/components/alert/bl-alert.ts
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/tab-group/tab/bl-tab.ts
  src/components/tooltip/bl-tooltip.stories.mdx
Due: tsc --noEmit, eslint .

feat(icon): icon colors fixed
  src/components/icon/icons/complain.svg
  src/components/icon/icons/full_size.svg
  src/components/icon/icons/group_of_people.svg
  src/components/icon/icons/hourglass.svg
  src/components/icon/icons/instagram.svg
  src/components/icon/icons/market_processing.svg
  src/components/icon/icons/puzzle.svg
  src/components/icon/icons/warehouse.svg
  src/components/icon/icons/youtube.svg
Due: none

docs(button): improve storybook
  src/components/button/bl-button.stories.mdx
Due: none

docs(button): fix typos
  src/components/button/bl-button.stories.mdx
Due: none

fix(button): correct icon button selector
  src/components/button/bl-button.css
Due: stylelint src/**/*.css

feat(icon): new icons added (#273)
  src/components/icon/icon-list.ts
  src/components/icon/icons/complain.svg
  src/components/icon/icons/full_size.svg
  src/components/icon/icons/group_of_people.svg
  src/components/icon/icons/hourglass.svg
  src/components/icon/icons/instagram.svg
  src/components/icon/icons/market_processing.svg
  src/components/icon/icons/puzzle.svg
  src/components/icon/icons/warehouse.svg
  src/components/icon/icons/youtube.svg
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  b29d2f8fdb365b48ed5692800cdf0f263a7de8db
Due: none

feat(select): hide remove icon button on single selection
  src/components/pagination/bl-pagination.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: refactor button variants (#271)
  src/components/alert/bl-alert.test.ts
  src/components/alert/bl-alert.ts
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.ts
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/tab-group/tab/bl-tab.ts
  src/components/tooltip/bl-tooltip.stories.mdx
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  b3e2a1eb0ac01e509f8512a961ed9d1d88163dbb
Due: none

fix(pagination): update button variants
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: pagination component (#261)
  commitlint.config.js
  package-lock.json
  package.json
  src/baklava.ts
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/pagination/bl-pagination.css
  src/components/pagination/bl-pagination.stories.mdx
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/utilities/icon-mock.ts
  web-test-runner.config.mjs
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  43b06926501cd2098dac3170b74f4154b728e53b
Due: none

docs: new logo added
  README.md
Due: none

chore: generic code of conduct document added
  CODE_OF_CONDUCT.md
Due: none

chore: deprecated extension removed
  .vscode/extensions.json
Due: none

chore: generate types in build including for react
  package.json
  scripts/generate-react-exports.js
Due: eslint .

fix: move baklava-react imports to the page top
  scripts/generate-react-exports.js
Due: eslint .

fix: featured and alternative colors fixed and new colors added
  docs/design-system/colors.stories.mdx
  src/components/button/bl-button.css
  src/components/checkbox/bl-checkbox.css
  src/components/tooltip/bl-tooltip.css
  src/themes/default.css
Due: stylelint src/**/*.css

docs: add warning for beta version
  README.md
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
  src/components/button/bl-button.stories.mdx
Due: none

chore: generic code of conduct document added (#274)
  CODE_OF_CONDUCT.md
Due: none

fix(pagination): totalItems change control added
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

fix(pagination): totalItems change control added (#279)
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  52e6b0ce56b0d7d8c0422fee255767ca0e3db29e
Due: none

fix: change component imports with types
  README.md
  scripts/generate-react-exports.js
Due: eslint .

fix: featured and alternative colors fixed and new colors added (#277)
  docs/design-system/colors.stories.mdx
  src/components/button/bl-button.css
  src/components/checkbox/bl-checkbox.css
  src/components/tooltip/bl-tooltip.css
  src/themes/default.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  084b3bbdecbfeee9c211838115bddca12206b912
Due: none

chore: deprecated extension removed (#275)
  .vscode/extensions.json
Due: none

fix: generate type declarations for build (#278)
  README.md
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
  package.json
  scripts/generate-react-exports.js
  src/components/button/bl-button.stories.mdx
Due: eslint .

Notes added by 'git notes add'
  f512623f82cc20ea35d6e56e9531b18c43a83142
Due: none

added alias prop for fix GInput price currency
  package.json
  src/components/GInputPrice/GInputPrice.vue
Due: none

added alias prop for fix GInput price currency (#282)
  package.json
  src/components/GInputPrice/GInputPrice.vue
Due: none

docs: warning added about npm and cdn versions
  docs/using-baklava-in-react.stories.mdx
Due: none

docs: warning added about npm and cdn versions (#283)
  docs/using-baklava-in-react.stories.mdx
Due: none

fix(progress-indicator): add reflect for props
  src/components/progress-indicator/bl-progress-indicator.ts
Due: tsc --noEmit, eslint .

feat: added toast component and added 2 features to progress indicator
  src/baklava.ts
  src/components/progress-indicator/bl-progress-indicator.css
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
  src/components/progress-indicator/bl-progress-indicator.test.ts
  src/components/progress-indicator/bl-progress-indicator.ts
  src/components/toast/bl-toast.css
  src/components/toast/bl-toast.stories.mdx
  src/components/toast/bl-toast.test.ts
  src/components/toast/bl-toast.ts
  src/themes/default.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css
