Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

feat(alert): unit tests added
  src/components/alert/bl-alert.test.ts
  src/components/alert/bl-alert.ts
  src/components/alert/icon.converter.test.ts
Due: tsc --noEmit, eslint .

feat(alert): close button accessibility warning fix
  src/components/alert/bl-alert.test.ts
  src/components/alert/bl-alert.ts
Due: tsc --noEmit, eslint .

feat(alert): prettify fix
  playground/template.html
  src/components/alert/bl-alert.ts
Due: tsc --noEmit, eslint .

feat(alert): formatter fix
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.test.ts
  src/components/alert/bl-alert.ts
  src/components/alert/icon.converter.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: eslint & prettier conflict
  .eslintrc.js
Due: eslint .

chore: create license file (#215)
  LICENSE
Due: none

feat(alert): pr comment fixes
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.stories.mdx
  src/components/alert/bl-alert.test.ts
  src/components/alert/bl-alert.ts
  src/converters/string-boolean.converter.test.ts
  src/converters/string-boolean.converter.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(alert): responsive design added & storybook updated
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.stories.mdx
  src/components/alert/bl-alert.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(input): listen value changes in native input
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

feat(alert): comment fixes for component, design, storybook
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.stories.mdx
  src/components/alert/bl-alert.test.ts
  src/components/alert/bl-alert.ts
  src/utilities/string-boolean.converter.test.ts
  src/utilities/string-boolean.converter.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(alert): static css values replaced with variables
  playground/template.html
  src/components/alert/bl-alert.css
Due: stylelint src/**/*.css

feat(alert): template reverted
  playground/template.html
Due: none

fix(input): listen value changes in native input (#219)
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  116919c5904430c79d03fb6a5318bedad01ff6c0
Due: none

fix(checkbox): prevent user selection for checkbox label
  src/components/checkbox/bl-checkbox.css
Due: stylelint src/**/*.css

feat(alert): button position switch fix
  src/components/alert/bl-alert.css
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

feat(alert): fixed storybook controls & changed error variant to danger
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.stories.mdx
  src/components/alert/bl-alert.test.ts
  src/components/alert/bl-alert.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: stories, invalid text
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.stories.mdx
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: disabled state
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
Due: stylelint src/**/*.css

refactor(checkbox): remove unneeded style
  src/components/checkbox/bl-checkbox.css
Due: stylelint src/**/*.css

docs(checkbox): add storybook files for checkbox and checkbox group
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
Due: none

fix(checkbox): make label property optional
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint .

test(checkbox): add test files for checkbox and checkbox group
  src/components/checkbox-group/bl-checkbox-group.test.ts
  src/components/checkbox-group/checkbox/bl-checkbox.test.ts
Due: tsc --noEmit, eslint .

refactor(input): lint fix
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

refactor(checkbox): refactor for checkbox and checkbox group
  src/components/checkbox-group/bl-checkbox-group.css
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(checkbox): delete checkbox group element and allow single checkbox to be indeterminate
  src/baklava.ts
  src/components/checkbox-group/bl-checkbox-group.css
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
  src/components/checkbox-group/bl-checkbox-group.test.ts
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/checkbox/bl-checkbox.css
  src/components/checkbox/bl-checkbox.stories.mdx
  src/components/checkbox/bl-checkbox.test.ts
  src/components/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(checkbox): some logic simplified
  src/components/checkbox/bl-checkbox.css
  src/components/checkbox/bl-checkbox.stories.mdx
  src/components/checkbox/bl-checkbox.test.ts
  src/components/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(checkbox): draft checkbox component
  commitlint.config.js
  src/baklava.ts
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

style(checkbox): fix css prettier issue
  src/components/checkbox/bl-checkbox.css
Due: stylelint src/**/*.css

fix(checkbox): disabled color corrected
  src/components/checkbox/bl-checkbox.css
Due: stylelint src/**/*.css

feat(alert): spacing added between text and buttons
  src/components/alert/bl-alert.css
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

fix(input): lint fix
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

fix(checkbox): cursor pointer for label and checkbox
  src/components/checkbox/bl-checkbox.css
Due: stylelint src/**/*.css

docs(alert): code samples fixed and simplified
  src/components/alert/bl-alert.stories.mdx
Due: none

feat(checkbox): indeterminate state handling added
  src/components/checkbox/bl-checkbox.test.ts
  src/components/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint .

docs(checkbox): indeterminate and checked state docs added
  src/components/checkbox/bl-checkbox.stories.mdx
Due: none

feat: alert component (#217)
  .eslintrc.js
  .storybook/main.js
  commitlint.config.js
  package-lock.json
  package.json
  src/baklava.ts
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.stories.mdx
  src/components/alert/bl-alert.test.ts
  src/components/alert/bl-alert.ts
  src/utilities/string-boolean.converter.test.ts
  src/utilities/string-boolean.converter.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  6a7d74753be6dc451f9d4babfd735183a49e6859
Due: none

feat: checkbox component (#201)
  commitlint.config.js
  src/baklava.ts
  src/components/checkbox/bl-checkbox.css
  src/components/checkbox/bl-checkbox.stories.mdx
  src/components/checkbox/bl-checkbox.test.ts
  src/components/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css
