Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(tooltip): css variable to set display of tooltip trigger (#655)
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  36/9750a7854abaaf46399dacbf7391c9068323e6
Due: none

chore(icon): add icon type support (#656)
  src/components/badge/bl-badge.ts
  src/components/button/bl-button.ts
  src/components/dropdown/item/bl-dropdown-item.ts
  src/components/icon/bl-icon.ts
  src/components/icon/icon-list.ts
  src/components/input/bl-input.ts
  src/components/tab-group/tab/bl-tab.ts
Due: tsc --noEmit, eslint .

feat(select): a11y improvement on select and option components (#588)
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.test.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  0d/99a12c6431616eb0edfcb92ef4daff3a3957b7
Due: none

fix(radio): fix height limit and block flow improvements (#640)
  .storybook/preview-head.html
  src/components/radio-group/bl-radio-group.css
  src/components/radio-group/bl-radio-group.stories.mdx
  src/components/radio-group/bl-radio-group.ts
  src/components/radio-group/radio/bl-radio.css
  src/components/radio-group/radio/bl-radio.stories.mdx
  src/components/radio-group/radio/bl-radio.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  03/9af1e4389ef6bde17f352b4f3df100b0a83c9d
Due: none

Notes added by 'git notes add'
  5c/bd553649133a116ff9c9f22f2768dbd868bfb0
Due: none

chore: update eslint rules
  .eslintrc.cjs
  .prettierignore
  .prettierrc.json
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

feat(select): add select clearable prop
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

docs(select): update storybook clearable docs
  src/components/select/bl-select.stories.mdx
Due: none

feat(select): remove older conditions to render remove btn
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Update src/components/select/bl-select.test.ts
  src/components/select/bl-select.test.ts
Due: tsc --noEmit, eslint .

docs(select): update storybook story for clearable select
  src/components/select/bl-select.stories.mdx
Due: none

feat(select): display clear always at multiple select
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  56/9b11dd3feecd1eaf3501a995dbb02d9356b487
Due: none

fix(checkbox): add stroke to checkbox disabled
  src/components/checkbox-group/checkbox/bl-checkbox.css
Due: stylelint src/**/*.css

chore(deps-dev): update stylelint config
  .stylelintrc.json
  package-lock.json
  package.json
  src/components/switch/bl-switch.css
  src/themes/default.css
Due: stylelint src/**/*.css

chore(deps-dev): add new eslint plugins
  .eslintrc.cjs
  .npmrc
  package-lock.json
  package.json
  src/components/alert/bl-alert.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

feat(input): support more input types
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

fix: focused option element on BlRadioGroup
  src/components/radio-group/bl-radio-group.test.ts
  src/components/radio-group/bl-radio-group.ts
Due: tsc --noEmit, eslint .

feat(input): support more input types (#671)
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

fix(checkbox): add stroke to checkbox disabled (#667)
  src/components/checkbox-group/checkbox/bl-checkbox.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  28/e6a5fdf7eac1ccac95b4bd526d902264cf5ff6
Due: none

docs(pagination): adding example of itemsPerPageOptions usage
  src/components/pagination/bl-pagination.stories.mdx
Due: none

fix(select): return single value for single select
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(radio): focused option element
  src/components/radio-group/bl-radio-group.test.ts
  src/components/radio-group/bl-radio-group.ts
Due: tsc --noEmit, eslint .

docs(pagination): adding example of itemsPerPageOptions usage (#674)
  src/components/pagination/bl-pagination.stories.mdx
Due: none

docs: Fixed grammar mistakes in contributing docs
  CONTRIBUTING.md
Due: none

docs: Fixed grammar mistakes in contributing docs (#679)
  CONTRIBUTING.md
Due: none

chore: update prettier config
  .prettierrc.json
  src/components/pagination/bl-pagination.ts
  src/components/radio-group/bl-radio-group.ts
  src/components/select/bl-select.ts
  src/components/textarea/bl-textarea.css
  src/themes/default.css
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(storybook): fix commit rules documentation link
  docs/design-system/adding-a-new-icon.stories.mdx
  docs/linting.stories.mdx
Due: none

docs(storybook): fix a typo in badge stories
  src/components/badge/bl-badge.stories.mdx
Due: none

fix(tab): changing the tooltip button in the tab with help text to an icon
  src/components/tab-group/tab/bl-tab.ts
Due: tsc --noEmit, eslint .

docs(storybook): fix some typos in documentation (#684)
  docs/design-system/adding-a-new-icon.stories.mdx
  docs/linting.stories.mdx
  src/components/badge/bl-badge.stories.mdx
Due: none

feat(pagination): added style for resizing page size field
  src/components/pagination/bl-pagination.css
  src/components/pagination/bl-pagination.stories.mdx
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(checkbox): breaking long words better
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
Due: stylelint src/**/*.css

chore(deps): storybook v7.4 upgrade
  package-lock.json
  package.json
Due: none

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
