Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(tab): tracking selected attribute for each tab
  src/components/tab-group/bl-tab-group.test.ts
  src/components/tab-group/bl-tab-group.ts
  src/components/tab-group/tab/bl-tab.test.ts
  src/components/tab-group/tab/bl-tab.ts
Due: tsc --noEmit, eslint .

fix(tab): tracking selected attribute for each tab (#369)
  src/components/tab-group/bl-tab-group.test.ts
  src/components/tab-group/bl-tab-group.ts
  src/components/tab-group/tab/bl-tab.test.ts
  src/components/tab-group/tab/bl-tab.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  36/1f2eee7e656cdb21bdecf6e89eb76b40ac9020
Due: none

feat(input): step feature added for number input
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

refactor: renaming colors
  docs/design-system/colors.stories.mdx
  docs/using-baklava-in-react.stories.mdx
  src/components/alert/bl-alert.css
  src/components/badge/bl-badge.css
  src/components/badge/bl-badge.stories.mdx
  src/components/badge/bl-badge.ts
  src/components/button/bl-button.css
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
  src/components/select/bl-select.css
  src/components/select/option/bl-select-option.css
  src/themes/default.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Update src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.stories.mdx
Due: none

feat: fix reviews
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

ci: pr worklow rearranged
  .github/workflows/publish-chromatic.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/verify.yml
  package-lock.json
  package.json
Due: none

chore(switch): add a note to disregard the inline styles in stories
  src/components/switch/bl-switch.stories.mdx
Due: none

feat: switch component (#356)
  commitlint.config.js
  src/baklava.ts
  src/components/switch/bl-switch.css
  src/components/switch/bl-switch.stories.mdx
  src/components/switch/bl-switch.test.ts
  src/components/switch/bl-switch.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  23/0ddeea0db68d99acb7e0656092028ceae612f1
Due: none

feat: update autoresize and css
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: update test and stories
  src/components/button/bl-button.test.ts
  src/components/textarea/bl-textarea.stories.mdx
  src/components/textarea/bl-textarea.test.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint .

fix(input): reflection of attributes used in styles
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

fix(input): reflection of attributes used in styles (#379)
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  84/2a2dcec91b129a217f0d2ebe03aa34bc7b8332
Due: none

feat(input): implement password type to input
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(input): merge with next & lint
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

ci: pr worklow rearranged (#377)
  .github/workflows/publish-chromatic.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/verify.yml
  package-lock.json
  package.json
Due: none

ci: dont fail with chromatic tests
  package.json
Due: none

feat(input): step feature added for number input (#371)
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  99/f0f8779c59c71d9607f8ff9f8d8a91c4bb1d35
Due: none

ci: fix chromatic job missing reports
  .github/workflows/publish-chromatic.yml
  .github/workflows/sonar-qube-check.yml
  package.json
Due: none

test(input): add tests to cover password type
  src/components/input/bl-input.test.ts
Due: tsc --noEmit, eslint .

test(storybook): iframe url provided for drawer demo
  .storybook/assets/demo-iframe.html
  .storybook/main.js
  src/components/drawer/bl-drawer.stories.mdx
Due: eslint .

test(input): add test to validate icon name
  src/components/input/bl-input.test.ts
Due: tsc --noEmit, eslint .

feat(input): add password type to storybook
  src/components/input/bl-input.stories.mdx
Due: none

fix(drawer): drawer content padding fix
  src/components/drawer/bl-drawer.css
Due: stylelint src/**/*.css

test(input): fix password type test not working
  src/components/input/bl-input.test.ts
Due: tsc --noEmit, eslint .

fix(drawer): dynamic viewport height issue fixed
  src/components/drawer/bl-drawer.css
Due: stylelint src/**/*.css

fix(drawer): visual fixes for viewport safe margins
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: fix autoresize and remove slot
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.stories.mdx
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: change character counter color
  src/components/textarea/bl-textarea.css
Due: stylelint src/**/*.css

test(input): improve test coverage
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

feat: add font variable and line height
  src/components/textarea/bl-textarea.css
Due: stylelint src/**/*.css

docs: adr and figma links added to component docs
  src/components/alert/bl-alert.stories.mdx
  src/components/badge/bl-badge.stories.mdx
  src/components/button/bl-button.stories.mdx
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
  src/components/dialog/bl-dialog.stories.mdx
  src/components/drawer/bl-drawer.stories.mdx
  src/components/dropdown/bl-dropdown.stories.mdx
  src/components/dropdown/group/bl-dropdown-group.stories.mdx
  src/components/dropdown/item/bl-dropdown-item.stories.mdx
  src/components/icon/bl-icon.stories.mdx
  src/components/input/bl-input.stories.mdx
  src/components/pagination/bl-pagination.stories.mdx
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
  src/components/radio-group/bl-radio-group.stories.mdx
  src/components/radio-group/radio/bl-radio.stories.mdx
  src/components/select/bl-select.stories.mdx
  src/components/select/option/bl-select-option.stories.mdx
  src/components/switch/bl-switch.stories.mdx
  src/components/tab-group/bl-tab-group.stories.mdx
  src/components/tab-group/tab-panel/bl-tab-panel.stories.mdx
  src/components/tab-group/tab/bl-tab.stories.mdx
  src/components/tooltip/bl-tooltip.stories.mdx
Due: none

docs: regrouping components in storybook
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
  src/components/dropdown/bl-dropdown.stories.mdx
  src/components/radio-group/bl-radio-group.stories.mdx
  src/components/radio-group/radio/bl-radio.stories.mdx
  src/components/select/bl-select.stories.mdx
  src/components/tab-group/bl-tab-group.stories.mdx
  src/components/tab-group/tab-panel/bl-tab-panel.stories.mdx
  src/components/tab-group/tab/bl-tab.stories.mdx
Due: none

docs: useful links added to readme
  README.md
Due: none

feat: fix reviews
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.stories.mdx
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
  src/utilities/form-control.test.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

test(storybook): iframe url provided for drawer demo (#382)
  .storybook/assets/demo-iframe.html
  .storybook/main.js
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.stories.mdx
Due: eslint ., stylelint src/**/*.css

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
