Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(calendar): run prettier
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Add security-gates workflow and update README
  .github/workflows/security-gates.yml
Due: none

Add security-gates workflow and update README
  .github/workflows/scorecard.yml
Due: none

Add security-gates workflow and update README
  README.md
Due: none

docs(select): update storybook
  src/components/select/bl-select.stories.mdx
Due: none

fix(bl-calendar): Add RTL support for arrow icons to prevent visual s… (#998)
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(input): add clear button for search input (#715)
  src/components/calendar/bl-calendar.css
  src/components/input/bl-input.css
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(input): add clear button for search input (#715)
  src/components/input/bl-input.css
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

#1010 update bl-popover for event bubbling
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

ci: update upload-artifact action to use master branch
  .github/workflows/release.yml
  .github/workflows/verify.yml
Due: none

ci: update upload-artifact action to use master branch (#1012)
  .github/workflows/release.yml
  .github/workflows/verify.yml
Due: none

Notes added by 'git notes add'
  17/50cdcd2a78b307f2538de4d53f4e47a1b63fbf
Due: none

feat: Add security-gates and update README (#1002)
  .github/workflows/scorecard.yml
  .github/workflows/security-gates.yml
  README.md
Due: none

Notes added by 'git notes add'
  17/fcb02f5d0bb65de3b59f23318a1b22d0f6fbe1
Due: none

feat(input): add divider between clear button and search icon
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(input): add clear button for search input (#715) (#1008)
  src/components/input/bl-input.css
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  82/4557af8412ebaa953a2a4fa4b58b12f1594276
Due: none

#1010 update bl-popover for event bubbling (#1011)
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

feat(dropdown): add support for disabling dropdown items
  src/components/dropdown/bl-dropdown.stories.mdx
  src/components/dropdown/bl-dropdown.test.ts
  src/components/dropdown/item/bl-dropdown-item.stories.mdx
  src/components/dropdown/item/bl-dropdown-item.test.ts
  src/components/dropdown/item/bl-dropdown-item.ts
  src/components/split-button/bl-split-button.test.ts
Due: tsc --noEmit, eslint .

feat(popover): trigger semantic
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

fix(popover): fix event bubbling (#1019)
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  ea/80786bf80ad787dbe644df0cd52051a1b17664
Due: none

docs(dropdown): fix dropdown opener
  src/components/dropdown/bl-dropdown.stories.mdx
Due: none

docs(dropdown): remove unused play function from disabled stories
  src/components/dropdown/bl-dropdown.stories.mdx
Due: none

feat(dropdown): add support for disabling dropdown items (#1018)
  src/components/dropdown/bl-dropdown.stories.mdx
  src/components/dropdown/bl-dropdown.test.ts
  src/components/dropdown/item/bl-dropdown-item.stories.mdx
  src/components/dropdown/item/bl-dropdown-item.test.ts
  src/components/dropdown/item/bl-dropdown-item.ts
  src/components/split-button/bl-split-button.test.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  fd/d277aa78b22127482bff21d02560a69f864119
Due: none

feat(datepicker): fix type issue
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint .

feat(datepicker): fix type issue (#1021)
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  6b/f302b7b113e9580b4969c4c1804ac54d726b43
Due: none

docs: rtl support
  README.md
  src/components/accordion-group/accordion/bl-accordion.stories.mdx
  src/components/accordion-group/bl-accordion-group.stories.mdx
  src/components/alert/bl-alert.stories.mdx
  src/components/badge/bl-badge.stories.mdx
  src/components/button/bl-button.stories.mdx
  src/components/calendar/bl-calendar.stories.mdx
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/dialog/bl-dialog.mdx
  src/components/dialog/bl-dialog.stories.ts
  src/components/drawer/bl-drawer.stories.mdx
  src/components/dropdown/bl-dropdown.stories.mdx
  src/components/dropdown/group/bl-dropdown-group.stories.mdx
  src/components/dropdown/item/bl-dropdown-item.stories.mdx
  src/components/input/bl-input.stories.mdx
  src/components/notification/bl-notification.mdx
  src/components/notification/bl-notification.stories.ts
  src/components/pagination/bl-pagination.stories.mdx
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
  src/components/radio-group/bl-radio-group.stories.mdx
  src/components/radio-group/radio/bl-radio.stories.mdx
  src/components/select/bl-select.stories.mdx
  src/components/split-button/bl-split-button.stories.mdx
  src/components/switch/bl-switch.stories.mdx
  src/components/tab-group/tab/bl-tab.stories.mdx
  src/components/table/bl-table.stories.mdx
  src/components/textarea/bl-textarea.stories.mdx
  src/components/tooltip/bl-tooltip.stories.mdx
Due: tsc --noEmit, eslint .

ci: update securty gate artifact
  .github/workflows/scorecard.yml
Due: none

docs: remove range calendar example, upgrade iframe baklava verison
  src/components/calendar/bl-calendar.stories.mdx
Due: none

docs: change pagination height
  src/components/pagination/bl-pagination.stories.mdx
Due: none

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
