Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

feat(datepicker): disabled datepicker clear icon should also be disabled. Undefined length error also fixed.
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
  src/utilities/format-to-date-array.test.ts
  src/utilities/format-to-date-array.ts
Due: tsc --noEmit, eslint .

fix(table): use MutationObserver for reactive row detection (#1161)
  src/components/table/table-body/bl-table-body.test.ts
  src/components/table/table-body/bl-table-body.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  19/fcccee6fc1739b3c0110693066fa8eee1fc317
Due: none

feat(datepicker): review updated
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(datepicker): disabled datepicker clear icon should also be disab… (#1168)
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
  src/utilities/format-to-date-array.test.ts
  src/utilities/format-to-date-array.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  d5/08de4c84931afeb47492effef26116da8dff2a
Due: none

Update bl-button.stories.mdx
  src/components/button/bl-button.stories.mdx
Due: none

chore: remove vscode settings from git tracking
  .gitignore
  .vscode/settings.json
Due: none

fix(react): replace React.lazy with synchronous createComponent in React wrappers
  cemPlugins/generateReactExports.js
  cemPlugins/utils/resolveFilePath.js
Due: eslint .

fix(select): prevent duplicate option registration and invalid unregistration
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(select): prevent duplicate option registration and incorrect unregistration (#1190)
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  68/c228ffe8f43b84e98b046916d3a8c7b235c46b
Due: none

test(popover): expect popover=manual attribute on .popover
  src/components/popover/bl-popover.test.ts
Due: tsc --noEmit, eslint .

feat(popover): mark .popover as native popover and reset UA defaults
  src/components/popover/bl-popover.css
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(popover): show/hide via native Popover API top layer with fallback
  src/components/popover/bl-popover.css
  src/components/popover/bl-popover.test.ts
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

test(popover): verify clean disconnect while open
  src/components/popover/bl-popover.test.ts
Due: tsc --noEmit, eslint .

test(tooltip): regression for top-layer rendering in table cell (#1049)
  src/components/tooltip/bl-tooltip.test.ts
Due: tsc --noEmit, eslint .

docs(popover): note top-layer rendering behavior
  src/components/popover/bl-popover.stories.mdx
Due: none

fix(popover): correct top-layer positioning inside transformed ancestors
  package-lock.json
  package.json
  src/components/popover/bl-popover.test.ts
Due: tsc --noEmit, eslint .

ci: migrate npm release to trusted publishing (OIDC)
  .github/workflows/release.yml
  .github/workflows/verify-and-release-beta.yml
  .github/workflows/verify-and-release-stable.yml
  .npmrc
  package-lock.json
  package.json
Due: none

ci: bump all workflows to Node 24 and drop engine constraints
  .github/workflows/publish-chromatic.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/verify.yml
  .npmrc
  package.json
Due: none

ci: migrate npm release to trusted publishing (OIDC) (#1205)
  .github/workflows/publish-chromatic.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/release.yml
  .github/workflows/verify-and-release-beta.yml
  .github/workflows/verify-and-release-stable.yml
  .github/workflows/verify.yml
  .npmrc
  package-lock.json
  package.json
Due: none

ci: consolidate release into single workflow for npm trusted publishing
  .github/workflows/release.yml
  .github/workflows/verify-and-release-beta.yml
  .github/workflows/verify-and-release-stable.yml
  package.json
Due: none

fix(react): replace React.lazy with synchronous createComponent to eliminate UI flash
  cemPlugins/generateReactExports.js
Due: eslint .

feat(genui): add GenUI engine — render LLM JSON schemas as Baklava React components
  src/genui/GenUiEngine.ts
  src/genui/GenUiView.stories.tsx
  src/genui/GenUiView.tsx
  src/genui/hooks/useGenUi.ts
  src/genui/index.ts
  src/genui/parser/ComponentSchema.ts
  src/genui/parser/SchemaParser.ts
  src/genui/registry/ComponentRegistry.ts
  src/genui/registry/defaultBuilders.tsx
  src/genui/renderer/DynamicRenderer.tsx
  src/genui/test/ComponentRegistry.test.ts
  src/genui/test/GenUiEngine.test.ts
  src/genui/test/SchemaParser.test.ts
  src/genui/transport/ClaudeAdapter.ts
  src/genui/transport/GenUiTransportAdapter.ts
  src/genui/transport/OpenAiAdapter.ts
  src/genui/transport/OpenRouterAdapter.ts
Due: tsc --noEmit, eslint .

feat(bl-button): add icon size tests and update styles for loading state
  src/components/button/bl-button.css
  src/components/button/bl-button.test.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: add dark mode
  .storybook/DocsContainer.tsx
  .storybook/baklava-theme.js
  .storybook/manager.js
  .storybook/preview-head.html
  .storybook/preview.ts
  docs/customizing-baklava-theme.stories.mdx
  package-lock.json
  package.json
  src/components/badge/bl-badge.stories.mdx
  src/components/drawer/bl-drawer.css
  src/components/notification/bl-notification.stories.ts
  src/components/stepper/bl-stepper-item.css
  src/themes/dark.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(i18n): add localization to pagination component
  src/baklava.ts
  src/components/pagination/bl-pagination.ts
  src/generated/locales/ar.ts
  src/generated/locales/ro.ts
  src/generated/locales/tr.ts
  src/localization.ts
  translations/ar.xlf
  translations/ro.xlf
  translations/tr.xlf
Due: tsc --noEmit, eslint .
