Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: expand dynamic row issues
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint .

fix(select): reflect label-fixed attribute
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(select): reflect label property
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(select): reflect label-fixed attribute (#385)
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(drawer): visual fixes for viewport safe margins (#383)
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs: adr and figma links have been added to component docs (#384)
  README.md
  src/components/alert/bl-alert.stories.mdx
  src/components/badge/bl-badge.stories.mdx
  src/components/button/bl-button.stories.mdx
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
  src/components/dialog/bl-dialog.stories.mdx
  src/components/drawer/bl-drawer.stories.mdx
  src/components/dropdown/bl-dropdown.stories.mdx
  src/components/dropdown/group/bl-dropdown-group.stories.mdx
  src/components/dropdown/item/bl-dropdown-item.stories.mdx
  src/components/icon/bl-icon.stories.mdx
  src/components/input/bl-input.stories.mdx
  src/components/pagination/bl-pagination.stories.mdx
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
  src/components/radio-group/bl-radio-group.stories.mdx
  src/components/radio-group/radio/bl-radio.stories.mdx
  src/components/select/bl-select.stories.mdx
  src/components/select/option/bl-select-option.stories.mdx
  src/components/switch/bl-switch.stories.mdx
  src/components/tab-group/bl-tab-group.stories.mdx
  src/components/tab-group/tab-panel/bl-tab-panel.stories.mdx
  src/components/tab-group/tab/bl-tab.stories.mdx
  src/components/tooltip/bl-tooltip.stories.mdx
Due: none

Notes added by 'git notes add'
  c8/74c5d35a267188008ff095d1b859550f2f6306
Due: none

fix: disabled style fixed and added to stories
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.stories.mdx
Due: stylelint src/**/*.css

fix(icon): safari overflow issue fixed
  src/components/icon/bl-icon.css
Due: stylelint src/**/*.css

fix(input): various visual fixes for input
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/themes/default.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(input): placeholder color fix
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

ci: extra padding has been added for chromatic
  .storybook/preview.js
Due: eslint .

fix(input): label max width with icon
  .storybook/preview.js
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
Due: eslint ., stylelint src/**/*.css

ci: clean forgotten style
  .storybook/preview.js
Due: eslint .

feat: add cursor not allowed
  src/components/textarea/bl-textarea.css
Due: stylelint src/**/*.css

feat(input): improve a11y & ui design
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
  src/components/input/bl-input.test.ts
Due: tsc --noEmit, eslint .

fix: fix long label hiding
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(textarea): floating label style fix
  commitlint.config.js
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.stories.mdx
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(input): positioning issues are fixed
  src/components/input/bl-input.css
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(input): variable name fix
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

docs(input): small size added for storybook canvas
  src/components/input/bl-input.stories.mdx
Due: none

docs(input): label fixed attribute in canvas fix
  src/components/input/bl-input.stories.mdx
Due: none

fix(input): disabled style and small size fixes (#389)
  .storybook/preview.js
  src/components/icon/bl-icon.css
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/themes/default.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  bd/5036296e0970bb7a027fd0d7cb3ec2582aa231
Due: none

docs(textarea): extra padding for snapshot testings
  src/components/textarea/bl-textarea.stories.mdx
Due: none

fix(textarea): positioning textarea content
  src/components/textarea/bl-textarea.css
Due: stylelint src/**/*.css

feat(input): update ui
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(input): implement hidden button for reveal btn
  src/components/input/bl-input.css
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: fix help-text style and add new story
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.stories.mdx
Due: stylelint src/**/*.css

fix(textarea): sizing issues fixed
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor: some color adjustments with passive color
  src/components/button/bl-button.css
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/icon/bl-icon.stories.mdx
  src/components/input/bl-input.css
  src/components/radio-group/radio/bl-radio.css
  src/components/select/bl-select.css
  src/components/select/option/bl-select-option.css
  src/components/switch/bl-switch.css
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/tab/bl-tab.css
  src/themes/default.css
Due: stylelint src/**/*.css

fix(button): designs for focused state (#340)
  src/components/button/bl-button.css
Due: stylelint src/**/*.css

feat: textarea component (#347)
  commitlint.config.js
  src/baklava.ts
  src/components/button/bl-button.test.ts
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.stories.mdx
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
  src/utilities/form-control.test.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  a5/5e20864e9cb5a50252d99e072f8b1808591d96
Due: none

Update src/components/input/bl-input.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

feat(input): update password type structure
  src/components/input/bl-input.css
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(input): add type password to storybook
  src/components/input/bl-input.stories.mdx
Due: none

feat(input): update reveal icon color
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs: colors wip
  docs/design-system/colors.stories.mdx
Due: none

fix(textarea): unneeded padding cleared
  src/components/textarea/bl-textarea.css
Due: stylelint src/**/*.css

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
