Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write

Notes added by 'git notes add'
  3f7d66160494a61482ac516d83692112d0afec43
Due: none

refactor: added css improvements, delete unnecessary tokens from theme
  src/components/gr-button/gr-button.css
  src/components/gr-button/gr-button.stories.mdx
  src/components/gr-button/gr-button.ts
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix: lint css
  src/components/button/bl-button.css
  src/themes/default.css
Due: none

fix(button): change: grace element to baklava at button
  src/components/button/bl-button.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: input component first boilerplate
  src/baklava.ts
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs: grace renaming baklava
  docs/linting.stories.mdx
Due: none

fix: border sizing issue at button component
  src/components/button/bl-button.css
  src/themes/default.css
Due: none

refactor(button): add new shared variables to button component to make more clear structure
  src/components/button/bl-button.css
Due: none

fix(design): lint design tokens
  src/themes/default.css
Due: none

refactor(input): style optimizations
  commitlint.config.js
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: input work in progress
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(button): style fixes for button variants
  src/components/button/bl-button.css
  src/components/button/bl-button.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

refactor(button): css lint
  src/components/button/bl-button.css
Due: none

feat(button): breaking very long texts in button
  src/components/button/bl-button.css
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
  src/components/icon/bl-icon.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

add closeOutside functionality
  src/components/GButtonDropdown/GButtonDropdown.vue
Due: none

feat(input): more attributes are defined
  commitlint.config.js
  src/components/input/bl-input.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(icon): icon crop issue fixed
  src/components/icon/bl-icon.css
Due: none

fix(button): outline disabled hover state fixed
  src/components/button/bl-button.css
Due: none

update package.json
  package.json
Due: prettier --write

add stories
  src/components/GButtonDropdown/GButtonDropdown.stories.ts
  src/components/GButtonDropdown/GButtonDropdown.vue
Due: eslint --rule 'no-console: error' --fix, prettier --write

add closeOutside functionality (#125)
  package.json
  src/components/GButtonDropdown/GButtonDropdown.stories.ts
  src/components/GButtonDropdown/GButtonDropdown.vue
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(button): font sizing problems fixed
  src/components/button/bl-button.css
  src/themes/default.css
Due: none

fix(button): error variant renamed as danger
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(button): prettier fine tune
  .prettierrc.json
  src/themes/default.css
Due: prettier --write

feat(button): setting icon as attribute
  package.json
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

refactor: lint fixes
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
  src/components/icon/bl-icon.test.ts
  src/components/icon/bl-icon.ts
  src/utilities/asset-paths.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs(design): some typography and color rules documented
  docs/design-system/colors.stories.mdx
  docs/design-system/typography.stories.mdx
  src/themes/default.css
Due: none

docs(button): storybook stories simplified
  src/components/button/bl-button.stories.mdx
Due: none

feat(button): link buttons renamed as plain buttons
  .storybook/main.js
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs(button): button docs improved
  src/components/button/bl-button.stories.mdx
Due: none

refactor(button): some optimizations
  src/components/button/bl-button.css
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: button component (#118)
  .prettierrc.json
  .storybook/main.js
  commitlint.config.js
  docs/design-system/colors.stories.mdx
  docs/design-system/typography.stories.mdx
  package.json
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
  src/components/icon/bl-icon.css
  src/components/icon/bl-icon.test.ts
  src/components/icon/bl-icon.ts
  src/themes/default.css
  src/utilities/asset-paths.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

Notes added by 'git notes add'
  ce7c1d489e6f4305f3347ac503d73d25bccecf0f
Due: none

feat(input): set validity with custom validation
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(input): styling input
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

remove options from dom prop added to GSelect
  package.json
  src/components/GSelect/GSelect.vue
Due: prettier --write

remove options from dom prop added to GSelect (#126)
  package.json
  src/components/GSelect/GSelect.vue
Due: prettier --write

prop name fixed
  package.json
  src/components/GSelect/GSelect.vue
Due: prettier --write

Feature/remove options from dom (#127)
  package.json
  src/components/GSelect/GSelect.vue
Due: prettier --write

feat: input error validation and label defined
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,md})
