Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write

fix(input): css lint fix
  src/components/input/bl-input.css
Due: none

fix(input): css part definition forgotten in the code
  src/components/input/bl-input.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(input): font style fixed
  .lintstagedrc
  src/themes/default.css
Due: none

docs: using baklava in vue doc added
  .storybook/preview.js
  docs/using-baklava-in-vue.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(input): ui fixes with new rem sizes
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(tooltip): tooltip implemantation
  commitlint.config.js
  package-lock.json
  package.json
  playground/template.html
  src/baklava.ts
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.stories.mdx
  src/components/tooltip/bl-tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

chore(storybook): multi column demos aligned top
  .storybook/preview-head.html
Due: none

refactor(input): private properties pointed, better jsdoc
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

refactor: better web component analyzer
  .storybook/preview.js
  custom-elements-manifest.config.mjs
  package-lock.json
  package.json
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(input): placeholder color fix
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
Due: none

fix(design): duplicate colors removed
  src/components/input/bl-input.css
  src/themes/default.css
Due: none

Fix g-input inherit attribute bug
  package-lock.json
  package.json
  src/components/GInput/GInput.vue
Due: prettier --write

Fix g-input inherit attribute bug (#149)
  package-lock.json
  package.json
  src/components/GInput/GInput.vue
Due: prettier --write

feat: npm namespace renamed as trendyol
  README.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  08f47e1513f1da21bd87a24f3a353121e2bd9d73
Due: none

docs: update release url and fix cosmetics at vue doc
  docs/using-baklava-in-vue.stories.mdx
Due: none

fix(input): label bg color fixed
  src/components/input/bl-input.css
Due: none

feat: input component (#129)
  .lintstagedrc
  .storybook/preview-head.html
  .storybook/preview.js
  custom-elements-manifest.config.mjs
  package-lock.json
  package.json
  src/baklava.ts
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/themes/default.css
  tsconfig.json
Due: eslint --rule 'no-console: error' --fix, prettier --write

Notes added by 'git notes add'
  66ec832ed00ed3acf0f86792942153745f69b20b
Due: none

docs: renaming trendyol-js -> trendyol at using vue doc
  docs/using-baklava-in-vue.stories.mdx
Due: none

fix: linter fixes
  src/utilities/event.test.ts
  src/utilities/event.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs: change release using vue doc
  docs/using-baklava-in-vue.stories.mdx
Due: none

docs: using baklava in vue doc added (#148)
  .storybook/preview.js
  docs/using-baklava-in-vue.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: event decorator as simple function
  custom-elements-manifest.config.mjs
  src/components/badge/bl-badge.ts
  src/components/button/bl-button.ts
  src/components/icon/bl-icon.ts
  src/components/input/bl-input.ts
  src/utilities/event.test.ts
  src/utilities/event.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(tab): init bl-tab, bl-tab-panel, bl-tab-group
  commitlint.config.js
  src/baklava.ts
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/bl-tab-group.ts
  src/components/tab-panel/bl-tab-panel.css
  src/components/tab-panel/bl-tab-panel.ts
  src/components/tab/bl-tab.css
  src/components/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

refactor: some cleanup
  custom-elements-manifest.config.mjs
  src/components/input/bl-input.ts
  tsconfig.json
Due: eslint --rule 'no-console: error' --fix, prettier --write

add chromatic deployment to actions
  .github/workflows/github-actions.yml
  .gitignore
  README.md
  package-lock.json
  package.json
Due: prettier --write

ci: deploy storybook to ghpages
  .github/workflows/publish-storybook.yml
  .gitignore
  README.md
  package-lock.json
  package.json
Due: prettier --write

ci: fix publish-storybook
  .github/workflows/publish-storybook.yml
Due: none

ci: fix publish-storybook
  .github/workflows/publish-storybook.yml
  package.json
Due: prettier --write

ci: add build step to storybook deployment
  .github/workflows/publish-storybook.yml
  package.json
Due: prettier --write

ci: fix deploy storybook env variable
  .github/workflows/publish-storybook.yml
Due: none

ci: disable jekyll
  .nojekyll
Due: none

chore(button): css and documentation improvements
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

ci: fix publish storybook flow
  .github/workflows/publish-chromatic.yml
  .github/workflows/pull-request.yml
  .github/workflows/verify-and-release.yml
Due: none

fix(storybook): baklava paths fixed
  .storybook/preview-head.html
Due: none

Notes added by 'git notes add'
  2b89d6a81bbb5a60c54d1daad352bae31db11f88
Due: none

chore(storybook): storybook update to v6.5.9
  package-lock.json
  package.json
Due: prettier --write

fix(tooltip): fixed tooltip
  package-lock.json
  playground/template.html
  src/components/tooltip/bl-tooltip.stories.mdx
  src/components/tooltip/bl-tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

refactor: fix redeclared variable name issue
  src/utilities/event.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,md})
