Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

chore(deps): lit version upgrade
  package-lock.json
  package.json
Due: none

fix(docs): fix broken link to Contribution Guideline document
  README.md
Due: none

fix(docs): revert broken link update
  README.md
Due: none

feat(icon): new icons added
  src/components/icon/icon-list.ts
  src/components/icon/icons/code.svg
  src/components/icon/icons/copy_checked.svg
  src/components/icon/icons/flag.svg
  src/components/icon/icons/heartbeat.svg
  src/components/icon/icons/meal_bag.svg
  src/components/icon/icons/pie_chart.svg
  src/components/icon/icons/pie_chart_report.svg
  src/components/icon/icons/rocket.svg
  src/components/icon/icons/two_sided_arrow.svg
  src/components/icon/icons/very_happy.svg
  src/components/icon/icons/very_sad.svg
Due: tsc --noEmit, eslint .

icon list order fixed
  src/components/icon/icon-list.ts
Due: tsc --noEmit, eslint .

feat(icon): new icons added (#699)
  src/components/icon/icon-list.ts
  src/components/icon/icons/code.svg
  src/components/icon/icons/copy_checked.svg
  src/components/icon/icons/flag.svg
  src/components/icon/icons/heartbeat.svg
  src/components/icon/icons/meal_bag.svg
  src/components/icon/icons/pie_chart.svg
  src/components/icon/icons/pie_chart_report.svg
  src/components/icon/icons/rocket.svg
  src/components/icon/icons/two_sided_arrow.svg
  src/components/icon/icons/very_happy.svg
  src/components/icon/icons/very_sad.svg
Due: tsc --noEmit, eslint .

fix(checkbox): breaking long words better (#694)
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  c8/02ec8ed646d90ac1f08790e99ffdea4018f5c7
Due: none

chore(deps): lit version upgrade (#696)
  package-lock.json
  package.json
Due: none

chore(engines): node version upgrade
  package.json
Due: none

Revert "chore(engines): node version upgrade"
  package.json
Due: none

chore(deps): update node version
  package.json
Due: none

feat(popover): allow nested popovers closes #703
  src/components/popover/bl-popover.stories.mdx
  src/components/popover/bl-popover.test.ts
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

chore(popover): prevent chromatic failure
  src/components/popover/bl-popover.stories.mdx
Due: none

fix(popover): handle deep nesting
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

feat(popover): allow nested popovers (#705)
  src/components/popover/bl-popover.stories.mdx
  src/components/popover/bl-popover.test.ts
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

chore(deps): update node version (#702)
  package.json
Due: none

Notes added by 'git notes add'
  b6/c9134e660a374345c9ecc91d2bcde79a0f3650
Due: none

feat(select): work with auto width
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(select): more width examples
  src/components/select/bl-select.stories.mdx
Due: none

fix(input): revalidate input on prop changes
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

test(select): label span added to expected result
  src/components/select/bl-select.test.ts
Due: tsc --noEmit, eslint .

chore(react): add jsdoc & upgrade lit
  custom-elements-manifest.config.mjs
  package-lock.json
  package.json
  scripts/generate-react-exports.js
Due: eslint .

fix(react): add missing quotes to displayName
  package-lock.json
  scripts/generate-react-exports.js
Due: eslint .

chore(react): add jsdoc & upgrade lit (#709)
  custom-elements-manifest.config.mjs
  package-lock.json
  package.json
  scripts/generate-react-exports.js
Due: eslint .

feat(input): add showPicker to input
  package-lock.json
  package.json
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/imports.d.ts
Due: tsc --noEmit, eslint .

test(input): fix showPicker tests
  package-lock.json
  package.json
  src/components/input/bl-input.test.ts
Due: tsc --noEmit, eslint .

test(input): remove test for input prototype method
  src/components/input/bl-input.test.ts
Due: tsc --noEmit, eslint .

chore(react): improve react event types & revert lazy loading
  scripts/generate-react-exports.js
Due: eslint .

fix(input): revalidate on each prop change
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

fix(input): add search input type
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

refactor: old array conversion
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/dropdown/bl-dropdown.ts
  src/components/radio-group/bl-radio-group.ts
Due: tsc --noEmit, eslint .

feat(input): display type icons
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

lint(input): css file
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

feat(select): work with auto width (#706)
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

chore(deps): storybook v7.4 upgrade (#695)
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  7e/8c8155d16c1e91240578395f72074540fc34e2
Due: none

fix(input): revalidate input on prop changes (#707)
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

chore(react): improve react event types & revert lazy loading (#711)
  scripts/generate-react-exports.js
Due: eslint .

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
