Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

Downgrade inputmask version (#172)
  package-lock.json
  package.json
Due: prettier --write

feat: tab notify, caption, icon added
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/bl-tab-group.ts
  src/components/tab-panel/bl-tab-panel.css
  src/components/tab/bl-tab.css
  src/components/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

test(tooltip): visual regression tests for tooltip
  src/components/tooltip/bl-tooltip.stories.mdx
  src/components/tooltip/bl-tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore: editorconfig updated for all files
  .editorconfig
Due: none

chore(storybook): canvas size set for centered layouts
  .storybook/preview-body.html
Due: none

refactor(tooltip): linter fix
  src/components/input/bl-input.stories.mdx
  src/components/tooltip/bl-tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

docs(input): focus state interaction test removed
  src/components/input/bl-input.stories.mdx
Due: none

feat(tab): refactor notify
  src/components/tab/bl-tab.css
  src/components/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(tooltip): change max-width for tooltip
  src/components/tooltip/bl-tooltip.css
Due: none

fix(tooltip): change max-width for tooltip (#177)
  src/components/tooltip/bl-tooltip.css
Due: none

Notes added by 'git notes add'
  e066697e7346a76a051222df5d552f73b6d32097
Due: none

feat(tab): added hover event for help text
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/bl-tab-group.ts
  src/components/tab/bl-tab.css
  src/components/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(tab): review issues
  .prettierrc.json
  src/baklava.ts
  src/components/tab-group/bl-tab-group.ts
  src/components/tab/bl-tab.css
  src/components/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

chore: playground template changes reverted back
  playground/template.html
Due: none

fix(tab): remove other component declaration in tab, set panel as protected prop in tab
  src/components/tab-group/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(tab): set name as protected prop in tab
  src/components/tab-group/tab/bl-tab.css
  src/components/tab-group/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

test(tab): added test
  src/baklava.ts
  src/components/tab-group/bl-tab-group.ts
  src/components/tab-group/tab/bl-tab.test.ts
  src/components/tab/bl-tab.css
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat: add react support
  package-lock.json
  package.json
  scripts/build.js
  scripts/generate-react-exports.js
  src/index.ts
  src/react/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

refactor: event matches and paths
  scripts/generate-react-exports.js
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

docs: use baklava in react
  docs/using-baklava-in-react.stories.mdx
Due: none

docs: input story changes reverted back
  src/components/input/bl-input.stories.mdx
Due: none

test(tab): added test for tab-panel
  src/components/tab-group/tab-panel/bl-tab-panel.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

test(tab): added test for tab-panel
  src/components/tab-group/bl-tab-group.test.ts
  src/components/tab-group/tab-panel/bl-tab-panel.css
  src/components/tab-group/tab-panel/bl-tab-panel.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

refactor: remove console.log
  src/components/button/bl-button.stories.mdx
Due: none

docs(tooltip): interaction test for first 2 stories
  src/components/tooltip/bl-tooltip.stories.mdx
Due: none

docs(button): empty space in play function is not allowed
  src/components/button/bl-button.stories.mdx
Due: none

chore: clean dependencies
  package-lock.json
  package.json
  src/components/button/bl-button.stories.mdx
Due: prettier --write

test(tab): added hover effect
  src/components/tab-group/tab/bl-tab.css
Due: none

docs: we need more space to fit side tooltips
  .storybook/preview-body.html
Due: none

fix: linter
  src/react/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

docs: fix for font loading issue on chrome
  .storybook/preview-head.html
Due: none

docs(button): more variants added for hover states
  src/components/button/bl-button.stories.mdx
Due: none

test(tab): complete tests
  src/baklava.ts
  src/components/tab-group/bl-tab-group.test.ts
  src/components/tab-group/bl-tab-group.ts
  src/components/tab-group/tab-panel/bl-tab-panel.test.ts
  src/components/tab-group/tab-panel/bl-tab-panel.ts
  src/components/tab-group/tab/bl-tab.test.ts
  src/components/tab-group/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

test(tab): fixed disabled and selected case in css
  src/components/tab-group/tab/bl-tab.css
Due: none

test(tab): fixed disabled badge color
  src/components/tab-group/tab/bl-tab.css
Due: none

refactor: simplify generate react export script
  .gitignore
  package.json
  scripts/build.js
  scripts/generate-react-exports.js
  src/index.ts
  src/react/index.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

docs: add cdn example
  docs/using-baklava-in-react.stories.mdx
Due: none

fix: gitignore
  .gitignore
  src/baklava.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

docs(button): hover state stories reverted back
  src/components/button/bl-button.stories.mdx
Due: none

test(tab): use expect instead of assert
  src/components/tab-group/bl-tab-group.test.ts
  src/components/tab-group/tab-panel/bl-tab-panel.test.ts
  src/components/tab-group/tab/bl-tab.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx,js}
  prettier --write src/: any of: *.{ts,tsx,js}
  prettier --write: any of: *.{json,md}
