Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(switch): add bl-switch label (#754)
  src/components/switch/bl-switch.css
  src/components/switch/bl-switch.stories.mdx
  src/components/switch/bl-switch.test.ts
  src/components/switch/bl-switch.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  17/0b707933cd1f3c40156ad5c70e3ccc5a3f8ed4
Due: none

fix(select): storybook stories updated and some tests added for bl-select component
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint .

fix(select): fix bl-select storybook story
  src/components/select/bl-select.stories.mdx
Due: none

fix: missing imports
  package-lock.json
  package.json
  src/components/dropdown/group/bl-dropdown-group.stories.mdx
Due: none

fix(dropdown): dropdown group borders are not visible (#589)
  package-lock.json
  package.json
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/bl-dropdown.stories.mdx
  src/components/dropdown/bl-dropdown.test.ts
  src/components/dropdown/bl-dropdown.ts
  src/components/dropdown/group/bl-dropdown-group.css
  src/components/dropdown/group/bl-dropdown-group.stories.mdx
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  63/915ca0676929f7748866d06498f5446e2f0b22
Due: none

fix(select): label property added to bl-select-option to fix #764
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint .

fix(select): update bl-select story
  src/components/select/bl-select.stories.mdx
Due: none

fix(select): label property added to bl-select-option to fix #764 (#766)
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  9e/2d0bad688e7835ad598294dd8a2768ea18400a
Due: none

fix: EventDispatcher allow events without payload
  src/components/drawer/bl-drawer.ts
  src/components/popover/bl-popover.ts
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
  src/utilities/event.ts
Due: tsc --noEmit, eslint .

feat(icon): new icons added
  src/components/icon/icon-list.ts
  src/components/icon/icons/badge.svg
  src/components/icon/icons/express.svg
  src/components/icon/icons/express_delivery.svg
  src/components/icon/icons/express_furniture.svg
  src/components/icon/icons/medal.svg
  src/components/icon/icons/translation.svg
Due: tsc --noEmit, eslint .

feat(icon): medal icon's color issue is fixed.
  src/components/icon/icons/medal.svg
Due: none

feat(icon): new icons added (#769)
  src/components/icon/icon-list.ts
  src/components/icon/icons/badge.svg
  src/components/icon/icons/express.svg
  src/components/icon/icons/express_delivery.svg
  src/components/icon/icons/express_furniture.svg
  src/components/icon/icons/medal.svg
  src/components/icon/icons/translation.svg
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  00/8dd81c52772a97a248834988897fa1a599c0e0
Due: none

feat: table component
  src/components/table/bl-table.stories.mdx
  src/components/table/bl-table.test.ts
  src/components/table/bl-table.ts
  src/components/table/table-cell/bl-table-cell.css
  src/components/table/table-cell/bl-table-cell.test.ts
  src/components/table/table-cell/bl-table-cell.ts
  src/components/table/table-header-cell/bl-table-header-cell.css
  src/components/table/table-header-cell/bl-table-header-cell.ts
  src/components/table/table-row/bl-table-row.css
  src/components/table/table-row/bl-table-row.test.ts
  src/components/table/table-row/bl-table-row.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): add string to boolean convertor for related prop
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(select): add string to boolean converter for related prop (#775)
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  e0/32b7aa25907d269512eb2969fcdb555693ced7
Due: none

fix(pagination): fix the event of the single select
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  8d/ed4521927a01c4044ba108d5c0d85e0df887f3
Due: none

overflow
  src/components/dialog/bl-dialog.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  79/3143a0863c2e47928953f50ab9ea0b3c2bb3cd
Due: none

docs: update version
  README.md
  docs/customizing-baklava-theme.stories.mdx
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
Due: none

Notes added by 'git notes add'
  c4/9b425250b20bc151870fd452b779a1e60f7e0c
Due: none

chore(deps): upgrade ts (#727)
  package-lock.json
  package.json
  src/components/popover/bl-popover.ts
  src/components/select/bl-select.ts
  src/components/tooltip/bl-tooltip.ts
  tsconfig.json
Due: tsc --noEmit, eslint .

feat(design): add localization
  .eslintignore
  lit-localize.json
  package-lock.json
  package.json
  playground/template.html
  scripts/build.js
  src/baklava.ts
  src/components/locale/bl-locale.ts
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
  src/components/select/bl-select.ts
  src/generated/locale-codes.ts
  src/generated/locales/tr-TR.ts
  src/localization.ts
  translations/tr-TR.xlf
Due: tsc --noEmit, eslint .

chore(deps): prettier ignore i18n dir
  .prettierignore
Due: none

feat: table component
  src/components/table/bl-table.css
  src/components/table/table-cell/bl-table-cell.css
  src/components/table/table-header-cell/bl-table-header-cell.css
  src/components/table/table-header/bl-table-header.css
  src/components/table/table-row/bl-table-row.css
Due: stylelint src/**/*.css

feat(design): create localization initializer
  lit-localize.json
  playground/template.html
  src/baklava.ts
  src/components/locale/bl-locale.ts
  src/generated/locale-codes.ts
  src/generated/locales/tr.ts
  src/localization.ts
  translations/tr-TR.xlf
  translations/tr.xlf
Due: tsc --noEmit, eslint .

feat(storybook): add docs & listen for lang change
  docs/localization.stories.mdx
  playground/template.html
  src/localization.ts
Due: tsc --noEmit, eslint .

chore(storybook): fix html lang
  docs/localization.stories.mdx
Due: none

feat: table component
  src/components/table/bl-table.stories.mdx
Due: none

Update BAKLAVA logo for system theme
  README.md
Due: none

fix logo size
  README.md
Due: none

feat: table component
  src/components/table/bl-table.stories.mdx
  src/components/table/bl-table.ts
  src/components/table/table-cell/bl-table-cell.ts
Due: tsc --noEmit, eslint .

refactor(table): improve the readability of selection logic
  commitlint.config.cjs
  src/components/table/bl-table.ts
Due: tsc --noEmit, eslint .

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
