Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

chore(dropdown): styling improvements
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/bl-dropdown.stories.mdx
  src/components/dropdown/bl-dropdown.ts
  src/components/dropdown/group/bl-dropdown-group.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(drawer): update attribute names in stories
  src/components/drawer/bl-drawer.stories.mdx
Due: none

fix(drawer): remove unnecessary console log
  .storybook/preview-body.html
  src/components/drawer/bl-drawer.stories.mdx
Due: none

fix: react wrapper for component files with multiple exports
  scripts/generate-react-exports.js
Due: eslint .

fix: react wrapper for component files with multiple exports (#331)
  scripts/generate-react-exports.js
Due: eslint .

Notes added by 'git notes add'
  fe3eed3ba15c730be647b8724cbcd36a77ee19f1
Due: none

test: add additional keyboard nav tests
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
  src/components/checkbox-group/bl-checkbox-group.test.ts
  src/components/checkbox-group/bl-checkbox-group.ts
Due: tsc --noEmit, eslint .

fix(drawer): add gap between header buttons
  src/components/drawer/bl-drawer.css
Due: stylelint src/**/*.css

feat: drawer component (#327)
  .storybook/preview-body.html
  commitlint.config.js
  src/baklava.ts
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.stories.mdx
  src/components/drawer/bl-drawer.test.ts
  src/components/drawer/bl-drawer.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  f1d49f9beb26dfb9065a1171a092a528c3beb157
Due: none

fix: lazy react exports (#320)
  package-lock.json
  package.json
  scripts/generate-react-exports.js
Due: eslint .

Notes added by 'git notes add'
  d0d0d0b183e58a37c57b94e49d065d2414f3cb32
Due: none

fix(dropdown): new line before custom variable
  commitlint.config.js
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/bl-dropdown.stories.mdx
  src/components/dropdown/bl-dropdown.ts
  src/components/dropdown/item/bl-dropdown-item.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

chore(dropdown): add play functions at story to support chromatic
  src/components/dropdown/bl-dropdown.stories.mdx
Due: none

chore(dropdown): add warning to user if dropdown-item has wrong parents
  src/components/dropdown/item/bl-dropdown-item.ts
Due: tsc --noEmit, eslint .

chore(dropdown): improvements on variable naming
  src/components/dropdown/bl-dropdown.ts
  src/components/dropdown/group/bl-dropdown-group.ts
  src/components/dropdown/item/bl-dropdown-item.ts
Due: tsc --noEmit, eslint .

docs(dropdown): improvements on jsdoc
  src/components/dropdown/bl-dropdown.ts
  src/components/dropdown/group/bl-dropdown-group.ts
  src/components/dropdown/item/bl-dropdown-item.ts
Due: tsc --noEmit, eslint .

feat: checkbox-group component (#324)
  commitlint.config.js
  src/baklava.ts
  src/components/checkbox-group/bl-checkbox-group.css
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
  src/components/checkbox-group/bl-checkbox-group.test.ts
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
  src/components/checkbox-group/checkbox/bl-checkbox.test.ts
  src/components/checkbox-group/checkbox/bl-checkbox.ts
  src/components/checkbox/bl-checkbox.ts
  src/components/select/bl-select.test.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  cf7c787006dea1296ee13c357501f32e36b7dd7d
Due: none

fix(dropdown): improvements on dropdown-group css
  src/components/dropdown/group/bl-dropdown-group.css
Due: stylelint src/**/*.css

fix(dropdown): typos
  src/components/dropdown/bl-dropdown.stories.mdx
  src/components/dropdown/bl-dropdown.test.ts
Due: tsc --noEmit, eslint .

fix(dropdown): tests with custom event
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/bl-dropdown.test.ts
  src/components/dropdown/bl-dropdown.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(dropdown): variable naming
  src/components/dropdown/bl-dropdown.ts
Due: tsc --noEmit, eslint .

feat(drawer): exit animation applied for drawer component
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.stories.mdx
  src/components/drawer/bl-drawer.test.ts
  src/components/drawer/bl-drawer.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(dropdown): improvements on variable naming and a11y
  src/components/button/bl-button.ts
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/bl-dropdown.test.ts
  src/components/dropdown/bl-dropdown.ts
  src/components/dropdown/group/bl-dropdown-group.test.ts
  src/components/dropdown/group/bl-dropdown-group.ts
  src/components/dropdown/item/bl-dropdown-item.test.ts
  src/components/dropdown/item/bl-dropdown-item.ts
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: #265 added search input for select component
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(drawer): re-use trigger method in story
  src/components/drawer/bl-drawer.stories.mdx
Due: none

feat(drawer): exit animation applied for drawer component (#335)
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.stories.mdx
  src/components/drawer/bl-drawer.test.ts
  src/components/drawer/bl-drawer.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  ce67b457c8479257a11883b51f824b614bc7c214
Due: none

chore(dropdown): add keyboard navigation
  src/components/button/bl-button.ts
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/bl-dropdown.test.ts
  src/components/dropdown/bl-dropdown.ts
  src/components/dropdown/group/bl-dropdown-group.css
  src/components/dropdown/item/bl-dropdown-item.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(dropdown): test
  src/components/dropdown/bl-dropdown.test.ts
Due: tsc --noEmit, eslint .

feat: dropdown component (#333)
  commitlint.config.js
  src/baklava.ts
  src/components/button/bl-button.css
  src/components/button/bl-button.ts
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/bl-dropdown.stories.mdx
  src/components/dropdown/bl-dropdown.test.ts
  src/components/dropdown/bl-dropdown.ts
  src/components/dropdown/group/bl-dropdown-group.css
  src/components/dropdown/group/bl-dropdown-group.stories.mdx
  src/components/dropdown/group/bl-dropdown-group.test.ts
  src/components/dropdown/group/bl-dropdown-group.ts
  src/components/dropdown/item/bl-dropdown-item.css
  src/components/dropdown/item/bl-dropdown-item.stories.mdx
  src/components/dropdown/item/bl-dropdown-item.test.ts
  src/components/dropdown/item/bl-dropdown-item.ts
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  a5ce17461144eed40839ecd37584b33c00c886a1
Due: none

fix: remove fouce effect styles & update docs
  README.md
  src/themes/default.css
Due: stylelint src/**/*.css

fix: remove fouce effect styles & update docs (#345)
  README.md
  src/themes/default.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  f0253f99957ea714b806aa30bbc93b325cf5fcdc
Due: none

docs: remove wrong description
  README.md
Due: none

docs: update fouce warning message (#346)
  README.md
Due: none

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
