Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

feat(datepicker): when datepicker value updated datepicker input value should also updated
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

feat(datepicker): remove commends
  src/components/datepicker/bl-datepicker.test.ts
Due: tsc --noEmit, eslint .

docs(storybook): add new import type for nextjs
  docs/using-baklava-in-next.stories.mdx
Due: none

feat(datepicker): when datepicker value updated datepicker input valu… (#983)
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  33/dd9a42b575e97de81456fc4e5980e8cd7f5bd3
Due: none

feat(datepicker): add request update for min and max date and adding storybook
  src/components/datepicker/bl-datepicker.stories.mdx
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

feat(datepicker): fix test cases
  src/components/datepicker/bl-datepicker.test.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.test.ts
Due: tsc --noEmit, eslint .

docs(storybook): add new import type for nextjs (#985)
  docs/using-baklava-in-next.stories.mdx
Due: none

feat(datepicker): fix selected date showing for all dates
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

feat(datepicker): add request update for min and max date and adding … (#986)
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.test.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.test.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

feat(datepicker): fix selected date showing for all dates (#987)
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  d8/ed3552a5e749dec1ab84741e0e98a527513f52
Due: none

refactor: fix review
  playground/template.html
  src/components/input/bl-input.ts
  src/components/textarea/bl-textarea.ts
  src/generated/locales/tr.ts
  src/utilities/form-control.test.ts
  translations/tr.xlf
Due: tsc --noEmit, eslint .

refactor: add stories
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.ts
  src/components/textarea/bl-textarea.stories.mdx
  src/components/textarea/bl-textarea.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint .

refactor: add error attribute for custom errors
  src/components/input/bl-input.ts
  src/components/textarea/bl-textarea.ts
  src/utilities/form-control.test.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint .

test: add input tests
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/components/textarea/bl-textarea.test.ts
  src/utilities/form-control.test.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint .

feat(datepicker): flexible width for datepicker
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.stories.mdx
Due: stylelint src/**/*.css

feat(datepicker): pass label to input when its defined
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

feat(datepicker): flexible width for datepicker (#989)
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.stories.mdx
Due: stylelint src/**/*.css

feat(datepicker): pass label to input when its defined (#988)
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  a1/0f0bf5f4eba6623a835182346e6c8b30f28122
Due: none

feat(datepicker): improve calendar and datepicker components
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.test.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
  src/utilities/normalize-calendar-value.test.ts
  src/utilities/normalize-calendar-value.ts
Due: tsc --noEmit, eslint .

feat(select): add icon property
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.css
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(bl-select): clone nodes
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

style(bl-select): add styles
  src/components/select/bl-select.css
  src/components/select/option/bl-select-option.css
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(select): add stories
  src/components/select/bl-select.stories.mdx
  src/components/select/option/bl-select-option.stories.mdx
Due: none

docs(select): update storybook
  src/components/select/bl-select.stories.mdx
Due: none

style(select): fix prettier
  src/components/calendar/bl-calendar.css
  src/components/select/option/bl-select-option.css
Due: stylelint src/**/*.css

test(select): add test cases for icon
  src/components/select/bl-select.test.ts
  src/components/select/option/bl-select-option.test.ts
Due: tsc --noEmit, eslint .

style(select): prettier
  src/components/select/option/bl-select-option.css
Due: stylelint src/**/*.css

test(select): add missed tests
  src/components/select/bl-select.test.ts
  src/components/select/option/bl-select-option.test.ts
Due: tsc --noEmit, eslint .

feat(datepicker): review updates
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.ts
  src/utilities/format-to-date-array.test.ts
  src/utilities/format-to-date-array.ts
Due: tsc --noEmit, eslint .

feat(datepicker): bug fix for additional dates
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

feat(datepicker): improve calendar and datepicker components (#995)
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.test.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
  src/utilities/format-to-date-array.test.ts
  src/utilities/format-to-date-array.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  92/536ea4ee687bc5102d69fbde6ea77032f7cff8
Due: none

fix(bl-calendar): Add RTL support for arrow icons to prevent visual swapping in right-to-left layouts
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

chore: undo playground template
  playground/template.html
Due: none

chore: undo playground template (#999)
  playground/template.html
Due: none

fix(calendar): add rtl support by rotate icons
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css
