Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(dialog): create component structure
  commitlint.config.js
  src/baklava.ts
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: fixed toast and progress indicator mdx files
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
  src/components/toast/bl-toast.stories.mdx
Due: none

fix(progress-indicator): add reflect for props (#297)
  src/components/progress-indicator/bl-progress-indicator.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  68cd1b2998ec5c8dddcff3af46cfa56da784d2a7
Due: none

feat: radio component
  commitlint.config.js
  src/baklava.ts
  src/components/radio-group/bl-radio-group.css
  src/components/radio-group/bl-radio-group.stories.mdx
  src/components/radio-group/bl-radio-group.ts
  src/components/radio-group/radio/bl-radio.css
  src/components/radio-group/radio/bl-radio.stories.mdx
  src/components/radio-group/radio/bl-radio.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: added toast to commitlint
  commitlint.config.js
Due: eslint .

feat(dialog): improve dialog component
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

test(radio): some unit test cases added
  package-lock.json
  package.json
  src/components/radio-group/bl-radio-group.test.ts
  src/components/radio-group/bl-radio-group.ts
  src/components/radio-group/radio/bl-radio.test.ts
  src/components/radio-group/radio/bl-radio.ts
Due: tsc --noEmit, eslint .

style(dialog): fix content box-shadow
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(dialog): refactor open-close dialog operations
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

style(dialog): add truncate to title
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

test(dialog): add unit tests
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

test(dialog): fix close btn test
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

docs(dialog): add storybook
  src/components/dialog/bl-dialog.stories.mdx
Due: none

test(dialog): complete uncovered test blogs
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

style(dialog): fix container size
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(dialog): refactor storybook
  src/components/dialog/bl-dialog.stories.mdx
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

style(dialog): fix content max height on mobile view
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.test.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(dialog): storybook bug fix
  src/components/dialog/bl-dialog.stories.mdx
Due: none

fix(dialog): fix storybook bug and add layout center
  src/components/dialog/bl-dialog.stories.mdx
Due: none

fix(dialog): change viewport for chromatic
  src/components/dialog/bl-dialog.stories.mdx
Due: none

refactor(dialog): revert story parameters
  src/components/dialog/bl-dialog.stories.mdx
Due: none

fix(dialog): fix dialog dimensions
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(dialog): remove content margin
  src/components/dialog/bl-dialog.stories.mdx
Due: none

feat: dialog component (#306)
  commitlint.config.js
  src/baklava.ts
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.stories.mdx
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  246fda511b55c972d7c23c500289076d26b094fe
Due: none

feat(icon): close icon updated
  src/components/icon/icons/close.svg
Due: none

docs: add eslint info to the vue doc
  docs/using-baklava-in-vue.stories.mdx
Due: none

feat(icon): close icon updated (#308)
  src/components/icon/icons/close.svg
Due: none

Notes added by 'git notes add'
  d93b2890942cd6b1059c5fee4aaf38cdf3760567
Due: none

docs: add eslint info to the vue doc (#309)
  docs/using-baklava-in-vue.stories.mdx
Due: none

feat(pagination): add select options property
  src/components/pagination/bl-pagination.css
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(pagination): add customization to canvas
  src/components/pagination/bl-pagination.stories.mdx
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

style(pagination): change page list on small screens
  src/components/pagination/bl-pagination.css
  src/components/pagination/bl-pagination.stories.mdx
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(pagination): make items-per-page-options property only
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

fix: pagination items per page options (#313)
  src/components/pagination/bl-pagination.css
  src/components/pagination/bl-pagination.stories.mdx
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  2a4e5606ebbfeeea5d84f19539ea148e2baa3c17
Due: none

test(radio): unit test coverage increased
  src/components/radio-group/bl-radio-group.test.ts
  src/components/radio-group/bl-radio-group.ts
  src/components/radio-group/radio/bl-radio.ts
Due: tsc --noEmit, eslint .

fix(dialog): add polyfill dialog component
  playground/template.html
  src/baklava.ts
  src/components/dialog/bl-dialog.css
  src/components/dialog/dialog-polyfill/bl-dialog-polyfill.css
  src/components/dialog/dialog-polyfill/bl-dialog-polyfill.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
