Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(dialog): added examples with autofocus in dialog
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.stories.mdx
Due: stylelint src/**/*.css

feat: z-index tokens are defined
  docs/design-system/z-index.stories.mdx
  src/components/dialog/bl-dialog.css
  src/components/drawer/bl-drawer.css
  src/components/dropdown/bl-dropdown.css
  src/components/popover/bl-popover.css
  src/components/tooltip/bl-tooltip.css
  src/themes/default.css
Due: stylelint src/**/*.css

feat: z-index tokens are defined
  src/components/select/bl-select.css
Due: stylelint src/**/*.css

feat: generic typography styles are added
  .storybook/manager-head.html
  .storybook/manager.js
  src/themes/normalize.css
Due: eslint ., stylelint src/**/*.css

docs(dialog): story canvas size set for including all dialogs in screenshots
  src/components/dialog/bl-dialog.stories.mdx
Due: none

docs: small fixes in zindex doc
  docs/design-system/z-index.stories.mdx
Due: none

fix: default zindex value fixed
  src/themes/default.css
Due: stylelint src/**/*.css

feat(tooltip): integrate popover into tooltip
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint .

style(tooltip): reduce unncessary popover styles from tooltip
  src/components/tooltip/bl-tooltip.css
Due: stylelint src/**/*.css

fix(select): fix additional selection number when value set empty (#481)
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

test(tooltip): sync tests to new tooltip approach
  src/components/tooltip/bl-tooltip.test.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  f0/b7bd0d03399f697cf5b632485ebb1d9fe3c6e6
Due: none

style: zindex default to base rename
  docs/design-system/z-index.stories.mdx
  src/themes/default.css
Due: stylelint src/**/*.css

chore: revert host back to localhost
  scripts/build.js
Due: eslint .

style(tooltip): fix color variables and arrow display
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

test(checkbox): focus snapshot testing fixed
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
Due: none

test(button): threshold for loading button snapshot increased
  src/components/button/bl-button.stories.mdx
Due: none

chore(deps-dev): chromatic version updated
  package-lock.json
  package.json
Due: none

chore: add focus states to tab and switch stories
  src/components/switch/bl-switch.stories.mdx
  src/components/tab-group/tab/bl-tab.stories.mdx
Due: none

test(checkbox): focus snapshot testing fixed (#484)
  package-lock.json
  package.json
  src/components/button/bl-button.stories.mdx
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
Due: none

chore: remove keyboard navigation story for switch until we address it properly
  src/components/switch/bl-switch.stories.mdx
Due: none

feat: new attributes for form fields (#475)
  src/components/button/bl-button.ts
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.stories.mdx
  src/components/dialog/bl-dialog.ts
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/components/select/bl-select.ts
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  01/a5b55b7b7cabbc81fbdc5f7722712024e24b5b
Due: none

feat: z-index tokens are defined (#482)
  docs/design-system/z-index.stories.mdx
  src/components/dialog/bl-dialog.css
  src/components/drawer/bl-drawer.css
  src/components/dropdown/bl-dropdown.css
  src/components/popover/bl-popover.css
  src/components/select/bl-select.css
  src/components/tooltip/bl-tooltip.css
  src/themes/default.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  ed/ee744f82cdd5a6f601185cb896ea4d18ac7193
Due: none

feat(tab): accessibility improvements (#458)
  src/components/tab-group/bl-tab-group.test.ts
  src/components/tab-group/bl-tab-group.ts
  src/components/tab-group/tab-panel/bl-tab-panel.css
  src/components/tab-group/tab-panel/bl-tab-panel.test.ts
  src/components/tab-group/tab-panel/bl-tab-panel.ts
  src/components/tab-group/tab/bl-tab.css
  src/components/tab-group/tab/bl-tab.stories.mdx
  src/components/tab-group/tab/bl-tab.test.ts
  src/components/tab-group/tab/bl-tab.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

chore(deps-dev): storybook version update
  package-lock.json
  package.json
Due: none

feat: new neutral color set
  docs/design-system/colors.stories.mdx
  src/components/button/bl-button.css
  src/themes/default.css
Due: stylelint src/**/*.css

Bug bounty test, please ignore. dxqrqq
  package.json
Due: none

Notes added by 'git notes add'
  28/8192a21e6f4a09649f5799bfd159b4461926be
Due: none

style(button): customize border raises with variable
  src/components/button/bl-button.css
Due: stylelint src/**/*.css

Update src/components/button/bl-button.css
  src/components/button/bl-button.css
Due: stylelint src/**/*.css

docs(button: increase diff threshold for loading story
  src/components/button/bl-button.stories.mdx
Due: none

fix(button): customize border raises with variable (#491)
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  98/c8578af6be4e3199e3d123b4c349879d24e202
Due: none

docs: create SECURITY.md
  SECURITY.md
Due: none

docs: readme preperation for stable release
  README.md
  docs/commit-rules.stories.mdx
  docs/contributing.stories.mdx
  docs/how-to-use-playground.stories.mdx
  docs/linting.stories.mdx
  docs/testing.stories.mdx
Due: none

docs: improving readme
  .storybook/manager.js
  README.md
Due: eslint .

feat(icon): new icons added
  src/components/icon/icon-list.ts
  src/components/icon/icons/global_export.svg
  src/components/icon/icons/history.svg
  src/components/icon/icons/money.svg
  src/components/icon/icons/motorcycle_check.svg
  src/components/icon/icons/qr.svg
  src/components/icon/icons/split_money.svg
Due: tsc --noEmit, eslint .

docs: color palette playground file
  .storybook/assets/color-palette.html
Due: none

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
