Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(dialog): improvement on docs
  .storybook/main.ts
  .storybook/preview-body.html
  package-lock.json
  package.json
  src/components/dialog/bl-dialog.mdx
  src/components/dialog/bl-dialog.stories.mdx
  src/components/dialog/bl-dialog.stories.ts
  src/utilities/chromatic-decorators.ts
Due: tsc --noEmit, eslint .

docs(dialog): typo fix
  src/components/dialog/bl-dialog.mdx
Due: none

feat(select): render remove button on non required selects #608
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

docs(dialog): visual fixes in stories
  .storybook/main.ts
  .storybook/preview-head.html
  package-lock.json
  package.json
  src/components/dialog/bl-dialog.stories.ts
Due: tsc --noEmit, eslint .

docs(dialog): reverted back to static dummy text
  package-lock.json
  package.json
  src/components/dialog/bl-dialog.stories.ts
Due: tsc --noEmit, eslint .

fix(pagination): hide remove button on pagination select
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

fix(input): wait for update to set custom error
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

docs(dialog): improvement on docs (#609)
  .storybook/preview-body.html
  .storybook/preview-head.html
  package-lock.json
  package.json
  src/components/dialog/bl-dialog.mdx
  src/components/dialog/bl-dialog.stories.mdx
  src/components/dialog/bl-dialog.stories.ts
  src/utilities/chromatic-decorators.ts
Due: tsc --noEmit, eslint .

fix(checkbox): remove gap if no label
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.test.ts
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(input): add readonly attribute
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

refactor(checkbox): remove hasLabel state
  src/components/checkbox-group/checkbox/bl-checkbox.test.ts
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint .

style(checkbox): remove redundant css
  src/components/checkbox-group/checkbox/bl-checkbox.css
Due: stylelint src/**/*.css

fix(input): wait for update to set custom error (#613)
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

fix(checkbox): remove gap if no label (#616)
  src/components/checkbox-group/checkbox/bl-checkbox.test.ts
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint .

chore(deps): rubik font version upgrade (#606)
  .storybook/preview-body.html
  package-lock.json
  package.json
  src/themes/default.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  f5/dd7457b70d5376531ccaf089627a8338d79589
Due: none

docs(input): add readonly parameter to storybook
  src/components/input/bl-input.stories.mdx
Due: none

feat(input): add readonly attribute (#619)
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

fix(dropdown): fix wrong labelledby definition (#591)
  src/components/dropdown/group/bl-dropdown-group.test.ts
  src/components/dropdown/group/bl-dropdown-group.ts
Due: tsc --noEmit, eslint .

fix(checkbox): wrong aria label definition removed (#590)
  src/components/checkbox-group/checkbox/bl-checkbox.test.ts
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint .

fix(popover): dont take up space in layout when popover is hidden (#586)
  src/components/popover/bl-popover.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  a6/0aae7511171d4f65ff32ac108b404805ce0219
Due: none

feat(icon): new icons added
  src/components/icon/icon-list.ts
  src/components/icon/icons/graphic_decrease.svg
  src/components/icon/icons/incognito.svg
  src/components/icon/icons/order_boxes.svg
  src/components/icon/icons/shopping_bag_add.svg
Due: tsc --noEmit, eslint .

feat(icon): new icons added (#629)
  src/components/icon/icon-list.ts
  src/components/icon/icons/graphic_decrease.svg
  src/components/icon/icons/incognito.svg
  src/components/icon/icons/order_boxes.svg
  src/components/icon/icons/shopping_bag_add.svg
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  c7/520f789aa662f913dd6ea00630c7a55cf159e6
Due: none

feat(icon): star_fill icon added
  src/components/icon/icon-list.ts
  src/components/icon/icons/star_fill.svg
Due: tsc --noEmit, eslint .

feat(icon): incognito icon fixed
  src/components/icon/icons/incognito.svg
Due: none

feat(icon): star_fill icon color fixed
  src/components/icon/icons/star_fill.svg
Due: none

fix(tooltip): dont take up space in layout when tooltip is hidden
  src/components/tooltip/bl-tooltip.css
Due: stylelint src/**/*.css

feat(dialog): add `levelled` property for setting native or polyfill
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

fix(dialog): trigger openHandler when change levelled
  src/components/dialog/bl-dialog.stories.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

feat(icon): star_fill icon added (#631)
  src/components/icon/icon-list.ts
  src/components/icon/icons/incognito.svg
  src/components/icon/icons/star_fill.svg
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  a0/4952e7b25d9ed8c1786f0d132534bda184f8f8
Due: none

feat(select): show remove button on non required selects (#610)
  src/components/pagination/bl-pagination.ts
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  5e/487768a04e48197c9f97d236fe424a911fdca3
Due: none

docs(dialog): rename property
  src/components/dialog/bl-dialog.stories.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

fix(tooltip): dont take up space in layout when tooltip is hidden (#632)
  src/components/tooltip/bl-tooltip.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  1f/41e46557c724c6ad960eafd0dbc0c2db7d9765
Due: none

feat(dialog): `polyfilled` property to set implementation type (#633)
  src/components/dialog/bl-dialog.stories.ts
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  5d/6c6b2783c66cc3120d8e3eabefacc4bb07db6c
Due: none

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
