Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

chore(deps): upgrade storybook
  .storybook/main.js
  docs/requirements.stories.mdx
  package-lock.json
  package.json
  src/components/tab-group/bl-tab-group.stories.mdx
  src/components/tab-group/tab/bl-tab.stories.mdx
Due: eslint .

feat(icon): add type support for icon name
  src/components/badge/bl-badge.ts
  src/components/button/bl-button.ts
  src/components/dropdown/item/bl-dropdown-item.ts
  src/components/icon/bl-icon.ts
  src/components/icon/icon-list.ts
  src/components/input/bl-input.ts
  src/components/tab-group/tab/bl-tab.ts
Due: tsc --noEmit, eslint .

fix: fix react wrapper types
  .npmrc
  package-lock.json
Due: none

feat(dropdown): close when an item is clicked
  src/components/dropdown/bl-dropdown.test.ts
  src/components/dropdown/item/bl-dropdown-item.ts
Due: tsc --noEmit, eslint .

docs: logo updated as vector format
  README.md
Due: none

feat(switch): implement off color variable on bl-switch (#527)
  src/components/switch/bl-switch.css
  src/components/switch/bl-switch.stories.mdx
  src/components/switch/bl-switch.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  c5/d52b84c537107fc6250a946e26b19fe88f210e
Due: none

Notes added by 'git notes add'
  19/9b3c6078af493d6457a667985db873ec128c33
Due: none

ci: run chromatic out of pr workflow
  .github/workflows/publish-chromatic.yml
  .github/workflows/pull-request.yml
  .github/workflows/verify-and-release-beta.yml
  .github/workflows/verify.yml
Due: none

fix(dropdown): close dropdown when an item is clicked (#533)
  src/components/dropdown/bl-dropdown.test.ts
  src/components/dropdown/item/bl-dropdown-item.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  f7/8477b7e2ea193ee75d5e99025ea915fb016374
Due: none

fix(switch): deprecated tag indicated typescript falsely
  src/components/switch/bl-switch.ts
Due: tsc --noEmit, eslint .

test(icon): mute typing error
  src/components/icon/bl-icon.test.ts
Due: tsc --noEmit, eslint .

fix: fix typing errors on react wrappers
  scripts/generate-react-exports.js
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix: fix react wrapper types (#532)
  .npmrc
  package-lock.json
  scripts/generate-react-exports.js
  src/components/icon/bl-icon.test.ts
  src/components/select/bl-select.ts
  src/components/switch/bl-switch.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  db/6dfd7cf0563beb23ab48cf4edd4ef3ffc08f1e
Due: none

docs: story layout fix
  .storybook/preview-body.html
  src/components/drawer/bl-drawer.stories.mdx
Due: none

test: fix failing keyboard nav tests in webkit
  src/components/select/bl-select.test.ts
Due: tsc --noEmit, eslint .

docs: fix chromatic layout issues
  .storybook/preview.js
  .storybook/preview.ts
  package-lock.json
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
  src/components/dialog/bl-dialog.stories.mdx
  src/components/drawer/bl-drawer.stories.mdx
  src/components/input/bl-input.stories.mdx
  src/components/popover/bl-popover.stories.mdx
  src/components/select/bl-select.stories.mdx
  src/components/textarea/bl-textarea.stories.mdx
  src/components/tooltip/bl-tooltip.stories.mdx
  src/utilities/chromatic-decorators.ts
Due: tsc --noEmit, eslint .

test: fix failing keyboard nav tests in webkit (#541)
  src/components/select/bl-select.test.ts
Due: tsc --noEmit, eslint .

test: layout fix for chromatic
  src/utilities/chromatic-decorators.ts
Due: tsc --noEmit, eslint .

test: layout fix for chromatic
  src/components/dialog/bl-dialog.stories.mdx
  src/components/drawer/bl-drawer.stories.mdx
  src/utilities/chromatic-decorators.ts
Due: tsc --noEmit, eslint .

test: layout fix for chromatic
  .storybook/main.ts
  README.md
  src/utilities/chromatic-decorators.ts
Due: tsc --noEmit, eslint .

feat(react): add generic type support
  scripts/generate-react-exports.js
  src/components/icon/bl-icon.ts
Due: tsc --noEmit, eslint .

fix(dialog): prevent exiting browser fullscreen with dialog close
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

refactor(storybook): clean unneeded code
  .storybook/main.ts
Due: tsc --noEmit, eslint .

refactor(storybook): clean unneeded code (#550)
  .storybook/main.ts
Due: tsc --noEmit, eslint .

Revert "chore(deps): upgrade storybook"
  .storybook/main.js
  docs/requirements.stories.mdx
  package-lock.json
  package.json
  src/components/tab-group/bl-tab-group.stories.mdx
  src/components/tab-group/tab/bl-tab.stories.mdx
Due: eslint .

fix(popover): prevent exiting browser fullscreen with popover close
  src/components/popover/bl-popover.test.ts
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

fix(select): separator is back
  src/components/select/option/bl-select-option.css
Due: stylelint src/**/*.css

feat(icon): custom icon library support added
  src/baklava.ts
  src/components/icon/bl-icon.stories.mdx
  src/components/icon/bl-icon.ts
Due: tsc --noEmit, eslint .

fix(popover): prevent exiting fullscreen with popover close (#551)
  src/components/popover/bl-popover.test.ts
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  2d/31e3c1fa3e4585ee2e6334b2bcdaed9e36bf78
Due: none

fix(dialog): prevent exiting browser fullscreen with dialog close (#548)
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  20/390077e7f13784dc0f8a837531b0a9cdc77c43
Due: none

fix(select): separator is back (#552)
  src/components/select/option/bl-select-option.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  71/811599f97f7fc33f31f81efa2c043c71c2ccd2
Due: none

refactor(tooltip): target att removed for now
  src/components/tooltip/bl-tooltip.stories.mdx
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint .
