Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(input): add 'small' to input size type
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

fix(input): add 'small' to input size type (#455)
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  d5/54656767c3aa97429c541b34c5af0c9fa74e35
Due: none

refactor: using map over reduce for better readability
  scripts/generate-react-exports.js
Due: eslint .

fix: fix react event name mappings BREAKING CHANGE (#449)
  custom-elements-manifest.config.mjs
  package-lock.json
  package.json
  scripts/generate-react-exports.js
Due: eslint .

Notes added by 'git notes add'
  02/54540dcddb53dece652210fd51f2d05c97972e
Due: none

chore(deps-dev): bump @webcomponents/webcomponentsjs from 2.5.0 to 2.7.0
  package-lock.json
  package.json
Due: none

fix(react): fix custom element undefined error in electron
  commitlint.config.js
  scripts/generate-react-exports.js
Due: eslint .

chore(tab): accessibility improvements (#289)
  src/components/tab-group/bl-tab-group.test.ts
  src/components/tab-group/bl-tab-group.ts
  src/components/tab-group/tab-panel/bl-tab-panel.css
  src/components/tab-group/tab-panel/bl-tab-panel.ts
  src/components/tab-group/tab/bl-tab.test.ts
  src/components/tab-group/tab/bl-tab.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(button): reflect loading
  src/components/button/bl-button.ts
Due: tsc --noEmit, eslint .

fix(react): fix custom element undefined error in electron (#457)
  commitlint.config.js
  scripts/generate-react-exports.js
Due: eslint .

fix(input): autofill styling
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  b6/457587763614f6c0fad8c9155ab8d3da2a47ab
Due: none

fix(input): fix listening value property changes
  src/components/input/bl-input.ts
  src/components/pagination/bl-pagination.test.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint .

fix(input): fix label background on non-autofill
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

feat(input): remove styling from label
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

chore(tab): improve focus state look
  src/components/tab-group/tab/bl-tab.css
  src/components/tab-group/tab/bl-tab.test.ts
  src/components/tab-group/tab/bl-tab.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(button): make changes accordingly review
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(input): fix icon & add storybook examples
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(popover): add jsdoc and middleware function
  commitlint.config.js
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

feat(popover): add popover to commitlink
  commitlint.config.js
Due: eslint .

fix(popover): update stories
  src/components/popover/bl-popover.stories.mdx
Due: none

fix(popover): update tests
  src/components/popover/bl-popover.test.ts
Due: tsc --noEmit, eslint .

fix(popover): update styles
  src/components/popover/bl-popover.css
Due: stylelint src/**/*.css

Update src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.stories.mdx
Due: none

fix(popover): update stories click and remove console logs
  src/components/popover/bl-popover.stories.mdx
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

feat(button): update sb example & fix disabled styling
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
Due: stylelint src/**/*.css

feat(input): add autocomplete
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

feat(popover): add esc key to hide and show only one popover at the same time
  src/components/popover/bl-popover.test.ts
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

feat(input): remove autocomplete
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

fix(input): autofill styling (#459)
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  d7/d8278d9118c2a06e2bfb840e6b1de2b82fafaa
Due: none

fix(pagination): pagination change event was triggering multiple times
  src/components/input/bl-input.ts
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

chore: remove generic types from event types in react wrappers
  scripts/generate-react-exports.js
Due: eslint .

refactor: cleanup the generator script
  scripts/generate-react-exports.js
Due: eslint .

refactor: elementClass reverted back to the version in next branch
  scripts/generate-react-exports.js
Due: eslint .

fix(select): keyboard navigation fixes
  src/components/select/bl-select-react.tsm
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

chore: removed the unneeded file
  src/components/select/bl-select-react.tsm
Due: none

fix(select): style fixes for focus state
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor: reformatted react wrapper generator
  scripts/generate-react-exports.js
Due: eslint .

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
