Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js}": [
    "eslint --rule 'no-console: error' --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat(input): added input medium features
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(input): added input large, added all types
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

test(input): some tests are added
  src/components/input/bl-input.css
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write

intersection observer added to GSelect & synced with removeOptionsFromDom prop
  package.json
  src/components/GSelect/GSelect.vue
  src/components/GSelect/GSelectOption.vue
  src/components/GSelect/__snapshots__/GSelect.spec.ts.snap
Due: prettier --write

intersection observer added to GSelect & synced with removeOptionsFromDom prop (#128)
  package.json
  src/components/GSelect/GSelect.vue
  src/components/GSelect/GSelectOption.vue
  src/components/GSelect/__snapshots__/GSelect.spec.ts.snap
Due: prettier --write

test: fix esbuild plugin causes ts decorators dont run
  package-lock.json
  package.json
Due: prettier --write

test(input): test coverage increased
  package.json
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

refactor(input): linter fixes
  package.json
  src/components/input/bl-input.css
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs(input): story file created
  src/components/input/bl-input.stories.mdx
Due: none

feat: badge component
  docs/design-system/colors.stories.mdx
  src/baklava.ts
  src/components/badge/bl-badge.css
  src/components/badge/bl-badge.stories.mdx
  src/components/badge/bl-badge.test.ts
  src/components/badge/bl-badge.ts
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs(storybook): adding user interaction test addon
  .storybook/main.js
  package-lock.json
  package.json
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: adding reportValidity method
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs(storybook): adding basic input ant input labels
  src/components/input/bl-input.stories.mdx
Due: none

refactor: linter fixes
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  tsconfig.json
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs: readme and contributing docs are created
  .storybook/main.js
  CONTRIBUTING.md
  README.md
  docs/contributing.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(input): label-fixed placeholder visibility
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

test: include styles in unit tests
  package.json
  src/components/button/bl-button.test.ts
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs: add information for grace branch
  README.md
Due: prettier --write

test: include styles in unit tests (#133)
  package.json
  src/components/button/bl-button.test.ts
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write

test: clean forgotten tag in test html
  web-test-runner.config.mjs
Due: none

test: dependency fix
  package-lock.json
  package.json
Due: prettier --write

refactor: linter fix
  src/components/input/bl-input.css
Due: none

test: debug tests with puppeteer
  package-lock.json
  package.json
  web-test-runner.config.mjs
Due: prettier --write

test(badge): icon visibility test fixed
  src/components/badge/bl-badge.css
  src/components/badge/bl-badge.test.ts
  src/components/badge/bl-badge.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

refactor(badge): linter fixes
  src/components/badge/bl-badge.css
  src/components/badge/bl-badge.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

test(badge): better check for visibility
  src/components/badge/bl-badge.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs: add some fancy badges
  README.md
Due: prettier --write

docs: add semantic release badge
  README.md
Due: prettier --write

docs: readme and contributing docs are created (#132)
  .storybook/main.js
  CONTRIBUTING.md
  README.md
  docs/contributing.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write

refactor(badge): lint fix
  src/components/badge/bl-badge.test.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: badge component (#131)
  commitlint.config.js
  docs/design-system/colors.stories.mdx
  package-lock.json
  package.json
  src/baklava.ts
  src/components/badge/bl-badge.css
  src/components/badge/bl-badge.stories.mdx
  src/components/badge/bl-badge.test.ts
  src/components/badge/bl-badge.ts
  src/themes/default.css
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write

Notes added by 'git notes add'
  b47ee47bf634561d82bfa9b77741975e7f08292f
Due: none

ci: repo rename worklow fixes
  .github/workflows/pull-request.yml
  .github/workflows/verify-and-release.yml
Due: none

docs: repo rename docs fixes
  .storybook/manager.js
  CONTRIBUTING.md
  docs/adding-a-new-icon.stories.mdx
  docs/linting.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix(storybook): version fixed to 6.5.5
  .storybook/main.js
  package-lock.json
  package.json
  src/components/input/bl-input.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs(input): storybook doc improved
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write
