Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(calendar): dont allow cursor on disabled dates
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

docs(dialog): update styling of story
  src/components/dialog/bl-dialog.stories.ts
Due: tsc --noEmit, eslint .

remove unused important
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(drawer): fix drawer delay bug for removing from dom
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.ts
  src/themes/default.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): update select story
  src/components/select/bl-select.stories.mdx
Due: none

fix(drawer): fix test issues
  src/components/drawer/bl-drawer.ts
Due: tsc --noEmit, eslint .

fix(drawer): fix drawer delay bug for removing from dom (#875)
  src/components/drawer/bl-drawer.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  5e/4ef0e2a9cc9bfb98adc73fc0c952776fcbd79f
Due: none

fix(split-button): fix event bubbling for buttons inside split button
  src/components/split-button/bl-split-button.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  f0/7c5e5c9e0ef9833c217f741b2fbf84ca11a8cc
Due: none

chore: update dependabot.yml configuration
  .github/dependabot.yml
Due: none

fix(select): fix disabled select option can be selected with enter (#874)
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  f3/d1c35f9f30520f6acbf0ad478ba69345948265
Due: none

feat(calendar): rendering days as button
  src/components/button/bl-button.css
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(calendar): run prettier
  src/components/button/bl-button.css
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

feat(calendar): styling fix
  playground/template.html
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(calendar): run prettier
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

chore: update dependabot.yml configuration (#882)
  .github/dependabot.yml
Due: none

feat(calendar): accesibility fix
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
  src/themes/default.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(calendar): run prettier
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

feat(calendar): run prettier
  src/themes/default.css
Due: stylelint src/**/*.css

adding --bl-button-focus-border-color color for calendar
  src/components/button/bl-button.css
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

self review improvements
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(select): Improve select search international character support (#857)
  src/components/select/bl-select.ts
  src/localization.ts
Due: tsc --noEmit, eslint .

feat(select): fix search text is not clear bug when user click clear button (#858)
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  f5/2f6c0aa4af47ab91a50bfd75ca93586bb880ac
Due: none

feat(select): call close fuction when user click single select
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feat (spinner): fix linter check
  src/components/spinner/bl-spinner.test.ts
Due: tsc --noEmit, eslint .

feat: spinner component
  src/baklava.ts
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/spinner/bl-spinner.css
  src/components/spinner/bl-spinner.stories.mdx
  src/components/spinner/bl-spinner.test.ts
  src/components/spinner/bl-spinner.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat (spinner): overlay color updates
  src/components/spinner/bl-spinner.css
  src/components/spinner/bl-spinner.stories.mdx
Due: stylelint src/**/*.css

feat: spinner -> fix lint errors
  src/components/spinner/bl-spinner.css
Due: stylelint src/**/*.css

feat (spinner): fix test
  src/components/spinner/bl-spinner.test.ts
Due: tsc --noEmit, eslint .

feat (spinner): review updates
  src/components/button/bl-button.css
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/spinner/bl-spinner.css
  src/components/spinner/bl-spinner.stories.mdx
  src/components/spinner/bl-spinner.test.ts
  src/components/spinner/bl-spinner.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat (spinner): ui review updates
  src/components/button/bl-button.stories.mdx
Due: none

review updates
  playground/template.html
  src/components/calendar/bl-calendar.constant.ts
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Update src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
