Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(input): trigger input event on clear (#1041)
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  61/ee37a5e55d04e91d8800335d82c1169ad23408
Due: none

feat(datepicker): make clear icon disabled
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

doc(select): update label
  src/components/select/bl-select.stories.mdx
Due: none

fix(dialog): improve footer visibility
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

style(dialog): format css
  src/components/dialog/bl-dialog.css
Due: stylelint src/**/*.css

test(dialog): add unit test
  src/components/dialog/bl-dialog.test.ts
Due: tsc --noEmit, eslint .

fix(dialog): improve footer visibility (#1014)
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  c3/c488ed5f52bc5d284fdbb4d6b0935b6bd29a14
Due: none

docs: update iframe versions to latest
  src/components/calendar/bl-calendar.stories.mdx
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/pagination/bl-pagination.stories.mdx
  src/components/split-button/bl-split-button.stories.mdx
  src/components/switch/bl-switch.stories.mdx
Due: none

v3.3.1 (#1044)
  src/components/calendar/bl-calendar.stories.mdx
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/components/pagination/bl-pagination.stories.mdx
  src/components/split-button/bl-split-button.stories.mdx
  src/components/switch/bl-switch.stories.mdx
  src/components/table/bl-table.test.ts
  src/components/table/bl-table.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: trigger minor release
  src/components/switch/bl-switch.stories.mdx
Due: none

Notes added by 'git notes add'
  16/590a9fbace2896526ccdae455e6dfc996d0518
Due: none

Notes added by 'git notes add'
  c7/8f0611bfce1d4ff3905db07c57e8435d5ff1f1
Due: none

Notes added by 'git notes add'
  78/beaed3a98683ef6fc051d17d29f5f06cc2a10b
Due: none

Notes added by 'git notes add'
  4d/f8882cbef780946a25ff4ddacdee193e4b02f1
Due: none

fix(select): stop propagation added on click event to prevent unnecessary event bubbling
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(select): only change bl-icon to bl-button on non-searchable selects
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  1a/210e1d9466648b4c7a746d28705da0e97c1e4a
Due: none

fix(dropdown): dropdown group double hr
  src/components/dropdown/group/bl-dropdown-group.css
Due: stylelint src/**/*.css

CEM-1512 add hover tooltip functionality to the calendar component
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

CEM-1512 calendar component tests added
  src/components/datepicker/bl-datepicker.test.ts
Due: tsc --noEmit, eslint .

CEM-1512 calendar component tests added
  src/components/calendar/bl-calendar.test.ts
Due: tsc --noEmit, eslint .

CEM-1512 tooltip content find performance improvements
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

CEM-1512 update storybook documentation and fix padding issue
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.stories.mdx
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

CEM-1512 update storybook with disabled dates example
  src/components/datepicker/bl-datepicker.stories.mdx
Due: none

CEM-1512 update bl-datepicker.css
  src/components/datepicker/bl-datepicker.css
Due: stylelint src/**/*.css

CEM-1512 update bl-calendar.css
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

CEM-1512 update bl-calendar.test.ts
  src/components/calendar/bl-calendar.test.ts
Due: tsc --noEmit, eslint .

CEM-1512 update calendar and datepicker stories
  src/components/calendar/bl-calendar.stories.mdx
  src/components/datepicker/bl-datepicker.stories.mdx
Due: none

CEM-1512 fix calendar tooltip padding
  src/components/calendar/bl-calendar.css
  src/components/datepicker/bl-datepicker.css
Due: stylelint src/**/*.css

fix(bl-datepicker) fix the issue that causes min-date and max-date cannot be the same day
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  ae/27b1709faffe2bd090f397c227bb16d440f447
Due: none

feat(bl-calendar): add custom dayRenderer functionality
  src/baklava.ts
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

feat(bl-calendar): add custom dayRenderer functionality
  src/components/calendar/bl-calendar.css
  src/components/datepicker/bl-datepicker.css
Due: stylelint src/**/*.css

feat(bl-calendar): remove unnecessary story items
  src/components/calendar/bl-calendar.stories.mdx
  src/components/datepicker/bl-datepicker.stories.mdx
Due: none

feat(bl-calendar): clean up imports
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
