Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

feat: #1124 file upload component
  src/components/upload/bl-upload.css
  src/components/upload/bl-upload.stories.mdx
  src/components/upload/bl-upload.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(button): add focus state story and optimize WCAG contrast
  .vscode/settings.json
  src/components/button/bl-button.stories.mdx
Due: none

feat: #1124 file upload component
  src/components/upload/bl-upload.stories.mdx
Due: none

feat: #1124 file upload component
  src/components/upload/bl-upload.stories.mdx
  src/components/upload/bl-upload.ts
Due: tsc --noEmit, eslint .

feat: #1124 file upload component
  src/components/upload/bl-upload.test.ts
  src/components/upload/bl-upload.ts
Due: tsc --noEmit, eslint .

feat(i18n): add localization to pagination component
  src/baklava.ts
  src/components/pagination/bl-pagination.ts
  src/generated/locales/ar.ts
  src/generated/locales/ro.ts
  src/generated/locales/tr.ts
  src/localization.ts
  translations/ar.xlf
  translations/ro.xlf
  translations/tr.xlf
Due: tsc --noEmit, eslint .

feat: #1124 file upload component
  src/components/upload/bl-upload.css
Due: stylelint src/**/*.css

fix: add Turkish localization to pagination buttons #1152
  src/components/pagination/bl-pagination.ts
  translations/tr.xlf
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  76/462b17638abd24f3569f2bac67b4513adf7364
Due: none

refactor(button): separate focus state template and clean main template
  src/components/button/bl-button.stories.mdx
Due: none

refactor(button): separate focus state template and clean main template
  .vscode/settings.json
Due: none

refactor(button): separate focus state template and clean main template" --no-verify
  .vscode/settings.json
Due: none

feat: #1123 breadcrumb component
  src/baklava.ts
  src/components/breadcrumb/bl-breadcrumb.css
  src/components/breadcrumb/bl-breadcrumb.stories.mdx
  src/components/breadcrumb/bl-breadcrumb.test.ts
  src/components/breadcrumb/bl-breadcrumb.ts
  src/components/breadcrumb/item/bl-breadcrumb-item.css
  src/components/breadcrumb/item/bl-breadcrumb-item.test.ts
  src/components/breadcrumb/item/bl-breadcrumb-item.ts
  src/components/link/bl-link.css
  src/components/upload/bl-upload.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: #1123 breadcrumb component
  src/components/breadcrumb/bl-breadcrumb.test.ts
  src/components/breadcrumb/bl-breadcrumb.ts
  src/components/breadcrumb/item/bl-breadcrumb-item.ts
Due: tsc --noEmit, eslint .

feat: #1124 file upload component
  src/components/upload/bl-upload.stories.mdx
  src/components/upload/doc/ADR.md
Due: none

feat: #1124 file upload component
  src/components/breadcrumb/item/bl-breadcrumb-item.css
Due: stylelint src/**/*.css

feat: #1124 file upload component
  src/components/upload/bl-upload.css
  src/components/upload/bl-upload.stories.mdx
  src/components/upload/bl-upload.test.ts
  src/components/upload/bl-upload.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: #1125 tree select component
  .storybook/preview-body.html
  src/baklava.ts
  src/components/popover/bl-popover.ts
  src/components/tree-select/bl-tree-select.css
  src/components/tree-select/bl-tree-select.stories.mdx
  src/components/tree-select/bl-tree-select.test.ts
  src/components/tree-select/bl-tree-select.ts
  src/components/tree-select/doc/ADR.md
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

chore: fix lint padding rule
  src/components/input/bl-input.test.ts
Due: tsc --noEmit, eslint .

feat: #1125 tree select component
  .storybook/preview-body.html
  src/baklava.ts
  src/components/popover/bl-popover.ts
  src/components/tree-select/bl-tree-select.css
  src/components/tree-select/bl-tree-select.test.ts
  src/components/tree-select/bl-tree-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: #1125 tree select component
  src/components/tree-select/bl-tree-select.css
  src/components/tree-select/bl-tree-select.stories.mdx
  src/components/tree-select/bl-tree-select.test.ts
  src/components/tree-select/bl-tree-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(table): use MutationObserver for reactive row detection
  src/components/table/table-body/bl-table-body.ts
Due: tsc --noEmit, eslint .

test(table): add MutationObserver reactivity tests for bl-table-body
  src/components/table/table-body/bl-table-body.test.ts
Due: tsc --noEmit, eslint .

feat: #1125 tree select component
  .npmrc
  src/components/tree-select/bl-tree-select.css
  src/components/tree-select/bl-tree-select.test.ts
  src/components/tree-select/bl-tree-select.ts
  src/generated/locales/ar.ts
  src/generated/locales/ro.ts
  src/generated/locales/tr.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: #1125 tree select component
  src/components/tree-select/bl-tree-select.test.ts
  src/components/tree-select/bl-tree-select.ts
  src/components/tree-select/doc/ADR.md
Due: tsc --noEmit, eslint .

feat: #1125 tree select component
  src/generated/locales/ar.ts
  src/generated/locales/ro.ts
  src/generated/locales/tr.ts
Due: tsc --noEmit, eslint .

feat: #1125 tree select component
  src/components/tree-select/bl-tree-select.ts
  translations/ar.xlf
  translations/ro.xlf
  translations/tr.xlf
Due: tsc --noEmit, eslint .

feat: #508 baklava next ssr
  docs/using-baklava-in-next.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/localization.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.test.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

feat: #508 baklava next ssr
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feat: #156 skeleton component
  src/baklava.ts
  src/components/skeleton/bl-skeleton.css
  src/components/skeleton/bl-skeleton.stories.mdx
  src/components/skeleton/bl-skeleton.test.ts
  src/components/skeleton/bl-skeleton.ts
  src/components/skeleton/doc/ADR.md
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: #156 skeleton component
  src/components/skeleton/bl-skeleton.css
Due: stylelint src/**/*.css

feat: #144 color picker component
  src/baklava.ts
  src/components/color-picker/bl-color-picker.css
  src/components/color-picker/bl-color-picker.stories.mdx
  src/components/color-picker/bl-color-picker.test.ts
  src/components/color-picker/bl-color-picker.ts
  src/components/color-picker/doc/ADR.md
Due: tsc --noEmit, eslint ., stylelint src/**/*.css
