Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

feat(datepicker): coding improvments on bl-calendar component
  playground/template.html
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(datepicker): coding improvments on bl-datepicker component
  playground/template.html
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

feat(datepicker): show calendar on popover
  playground/template.html
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(table): multiple checkbox should only handle currently rendered row selections Otherwise it removes previous selections on paginated table. #910
  src/components/table/bl-table.stories.mdx
  src/components/table/bl-table.test.ts
  src/components/table/bl-table.ts
  src/components/table/table-row/bl-table-row.ts
Due: tsc --noEmit, eslint .

feat(datepicker): default value bug fix
  playground/template.html
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

feat(datepicker): fixing datepicker story
  src/components/calendar/bl-calendar.stories.mdx
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.stories.mdx
Due: tsc --noEmit, eslint .

docs(table): update pagination style
  src/components/table/bl-table.stories.mdx
Due: none

fix(table): multiple checkbox should only handle currently rendered rows (#913)
  src/components/table/bl-table.stories.mdx
  src/components/table/bl-table.test.ts
  src/components/table/bl-table.ts
  src/components/table/table-row/bl-table-row.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  b2/fe023741b3797b42d812ad21206490a17b832a
Due: none

feat(datepicker): add bl-calendar test cases
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

feat(datepicker): add test cases for bl-calendar and bl-datepicker components
  playground/template.html
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

feat(datepicker): run prettier
  src/components/datepicker/bl-datepicker.css
Due: stylelint src/**/*.css

feat(datepicker): remove unnecessary tests
  src/components/datepicker/bl-datepicker.test.ts
Due: tsc --noEmit, eslint .

feat(datepicker): remove calendar border
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

feature(rtl-support): add rtl support for baklava components
  playground/template.html
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.ts
  src/components/notification/bl-notification.css
  src/components/notification/bl-notification.ts
  src/components/pagination/bl-pagination.css
  src/components/pagination/bl-pagination.ts
  src/components/split-button/bl-split-button.css
  src/components/split-button/bl-split-button.ts
  src/components/switch/bl-switch.css
  src/components/switch/bl-switch.ts
  src/themes/default.css
  src/utilities/direction.test.ts
  src/utilities/direction.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feature(rtl): use css logical properties
  playground/template.html
  src/components/alert/bl-alert.css
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/dialog/bl-dialog.css
  src/components/drawer/bl-drawer.css
  src/components/input/bl-input.css
  src/components/notification/bl-notification.css
  src/components/notification/card/bl-notification-card.css
  src/components/pagination/bl-pagination.css
  src/components/popover/bl-popover.css
  src/components/popover/bl-popover.ts
  src/components/progress-indicator/bl-progress-indicator.css
  src/components/select/bl-select.css
  src/components/spinner/bl-spinner.css
  src/components/split-button/bl-split-button.css
  src/components/switch/bl-switch.css
  src/components/tab-group/tab/bl-tab.css
  src/components/table/bl-table.stories.mdx
  src/components/table/table-cell/bl-table-cell.css
  src/components/table/table-header-cell/bl-table-header-cell.css
  src/components/table/table-header/bl-table-header.css
  src/components/table/table-row/bl-table-row.css
  src/components/textarea/bl-textarea.css
  src/themes/default.css
  src/utilities/direction.test.ts
  src/utilities/direction.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs: add rtl support for storybook
  CONTRIBUTING.md
  docs/rtl-support.stories.mdx
  playground/template.html
  src/components/split-button/bl-split-button.stories.mdx
Due: none

test(tooltip): refactor tooltip component tests
  src/components/tooltip/bl-tooltip.test.ts
Due: tsc --noEmit, eslint .

fix(popover): revert left and right css property
  src/components/popover/bl-popover.css
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

test(tooltip): revert
  src/components/tooltip/bl-tooltip.test.ts
Due: tsc --noEmit, eslint .

feat(datepicker): remove calendar border (#917)
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  07/fe1d49cc69a6dc04dc9efd14399475c7e76115
Due: none

feat(datepicker): fix selected date color bug
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

feat(datepicker): add all test cases for datepicker and calendar components
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(datepicker): review update for important usage
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

feat(datepicker): fix lint bug
  src/components/calendar/bl-calendar.test.ts
Due: tsc --noEmit, eslint .

feat(datepicker): fix selected date color bug (#922)
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  1f/c0aed7dc9fa99b46b0254818bd13f8a526aa45
Due: none

feat(datepicker): adding missing statement tests
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

feat(datepicker): adding missing test for mixin
  src/components/calendar/bl-calendar.test.ts
  src/components/datepicker/bl-datepicker.test.ts
Due: tsc --noEmit, eslint .

feat(datepicker): add input width prop to datepicker
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

feat(datepicker): min date and max date validation added
  playground/template.html
  src/components/calendar/bl-calendar.test.ts
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

feat(datepicker): min date and max date validation test cases added
  src/components/datepicker/bl-datepicker.test.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

fix: resolve conflict
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
Due: none

fix: resolve conflict
  docs/using-baklava-in-react.stories.mdx
Due: none

fix: upgrade next version to resolve vulnerability
  examples/next-app-router-ssr/package.json
Due: none
