Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js}": [
    "eslint --rule 'no-console: error' --fix",
    "prettier --write src/"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

ci: deploy storybook to ghpages
  .github/workflows/publish-storybook.yml
  .gitignore
  README.md
  package-lock.json
  package.json
Due: prettier --write

ci: disable jekyll
  .nojekyll
Due: none

ci: fix publish storybook flow
  .github/workflows/publish-chromatic.yml
  .github/workflows/pull-request.yml
  .github/workflows/verify-and-release.yml
Due: none

chore: event decorator for components (#115)
  custom-elements-manifest.config.mjs
  package-lock.json
  package.json
  src/components/badge/bl-badge.ts
  src/components/button/bl-button.ts
  src/components/icon/bl-icon.ts
  src/components/input/bl-input.ts
  src/utilities/event.test.ts
  src/utilities/event.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

ci: chromatic needs git history
  .github/workflows/publish-chromatic.yml
Due: none

ci: allow secrets on PR from forks
  .github/workflows/pull-request.yml
  .github/workflows/verify.yml
Due: none

docs: Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

chore(storybook): updated html title (#154)
  .storybook/main.js
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

ci: pass sonar token to verify workflow
  .github/workflows/verify.yml
Due: none

ci: npm cache and remove playwright action (#152)
  .github/workflows/publish-chromatic.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/verify.yml
Due: none

chore: update issue templates
  .github/ISSUE_TEMPLATE/new-component-definition.md
Due: prettier --write

feat(tab): init bl-tab, bl-tab-panel, bl-tab-group
  src/baklava.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

update version number
  package.json
Due: prettier --write

feat(tab): added ::after,::before pseudo for borders
  src/components/tab/bl-tab.css
  src/components/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

add slot to GDrawer component (#157)
  package.json
  src/components/GDrawer/GDrawer.stories.ts
  src/components/GDrawer/GDrawer.vue
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

feat(tab): rename active prop to selected
  src/components/tab-group/bl-tab-group.ts
  src/components/tab/bl-tab.css
  src/components/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(tooltip): tooltip completed
  package-lock.json
  package.json
  playground/template.html
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.stories.mdx
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

feat(tab): added button for tab element
  src/components/tab-group/bl-tab-group.ts
  src/components/tab/bl-tab.css
  src/components/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix: delete spaces
  playground/template.html
Due: none

Upgrade inputmask version from 5.0.0 to 5.0.7
  package-lock.json
  package.json
Due: prettier --write

Upgrade inputmask version from 5.0.0 to 5.0.7 (#161)
  package-lock.json
  package.json
Due: prettier --write

fix(tooltip): remove unnecessary config and test runner commands package for tests
  package-lock.json
  package.json
  web-test-runner.config.mjs
Due: prettier --write

feat: tab styling
  src/components/input/bl-input.css
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/bl-tab-group.ts
  src/components/tab-panel/bl-tab-panel.css
  src/components/tab/bl-tab.css
  src/components/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(tooltip): add spaces for storybook
  src/components/tooltip/bl-tooltip.stories.mdx
Due: none

feat(tab): added help text, badge
  src/components/badge/bl-badge.css
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/bl-tab-group.ts
  src/components/tab/bl-tab.css
  src/components/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

test: bl-icon is mocked for tests other than its own test (#155)
  package-lock.json
  package.json
  src/components/badge/bl-badge.test.ts
  src/components/button/bl-button.test.ts
  src/components/input/bl-input.test.ts
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

fix(tooltip): code review and fix
  src/components/tooltip/bl-tooltip.stories.mdx
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat: browser support fine-tuned to cover more historic versions
  package-lock.json
  package.json
  scripts/build.js
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

feat: browser support fine-tuned to cover older versions (#165)
  package-lock.json
  package.json
  scripts/build.js
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

Notes added by 'git notes add'
  0a7adb508a9086cd950ff785200c5118a8dcc92d
Due: none

140 tooltip component (#159)
  commitlint.config.js
  package-lock.json
  package.json
  src/baklava.ts
  src/components/input/bl-input.css
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.stories.mdx
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

fix(tooltip): fix prettier format
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

fix(tooltip): lint fixes for tooltip
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

refactor(tooltip): lint warnings are fixed
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

ci: run PR worfklow in the context of head branch
  .github/workflows/pull-request.yml
Due: none

refactor(tooltip): lint warnings are fixed (#170)
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat: tooltip component
  src/components/tooltip/bl-tooltip.stories.mdx
Due: none

Notes added by 'git notes add'
  9aaec1b5b717387bd44f8627bbc3759e7cc4e811
Due: none

Downgrade inputmask version
  package-lock.json
  package.json
Due: prettier --write
