Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

feat(calendar): fix undefined case on formatToDateArrayFunction
  src/utilities/format-to-date-array.ts
Due: tsc --noEmit, eslint .

feat(calendar): fix code coverage
  src/utilities/format-to-date-array.test.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  3d/efde2f73a174baf896141807831850fa4eb9a0
Due: none

feat(datepicker): add month-year-only selection
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

feat(datepicker): add action log
  src/components/datepicker/bl-datepicker.stories.mdx
Due: none

feat(datepicker): remove some stories
  src/components/datepicker/bl-datepicker.stories.mdx
Due: none

Notes added by 'git notes add'
  fb/0b2cd7b4a6f9d21453c572c45e17a1a5d786be
Due: none

feat(datepicker): add month year only feature for multi and range types
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.stories.mdx
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(accordion): smooth open close animation
  src/components/accordion-group/accordion/bl-accordion.css
  src/components/accordion-group/accordion/bl-accordion.test.ts
  src/components/accordion-group/accordion/bl-accordion.ts
  src/components/accordion-group/bl-accordion-group.test.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(input): use padding-inline for RTL support
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  84/ed6dbf2bb176532cac7f7b676aff145cebbf33
Due: none

Notes added by 'git notes add'
  4f/a37a999730f412a3c72651f93cd4aa2b95140f
Due: none

feat(stepper): stepper component completed
  playground/template.html
  src/components/stepper/bl-stepper-item.css
  src/components/stepper/bl-stepper-item.test.ts
  src/components/stepper/bl-stepper-item.ts
  src/components/stepper/bl-stepper.css
  src/components/stepper/bl-stepper.mdx
  src/components/stepper/bl-stepper.test.ts
  src/components/stepper/bl-stepper.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(stepper): run prettier for bl-stepper-item.css
  src/components/stepper/bl-stepper-item.css
Due: stylelint src/**/*.css

feat(stepper): increase code coverage
  src/components/stepper/bl-stepper-item.test.ts
  src/components/stepper/bl-stepper.test.ts
Due: tsc --noEmit, eslint .

feat: slider component #683
  src/components/slider/bl-slider.css
Due: stylelint src/**/*.css

feat: slider component #683
  src/components/slider/bl-slider.stories.mdx
  src/components/slider/bl-slider.ts
  src/components/slider/doc/ADR.md
Due: tsc --noEmit, eslint .

feat: using bl-popover in bl select #479
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: input and textarea interaction tests #207
  src/components/input/bl-input.test.ts
  src/components/textarea/bl-textarea.test.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  3b/b52223487b8375caf927088f430be8291fb002
Due: none

feat(stepper): review updates
  src/components/stepper/bl-stepper-item.test.ts
  src/components/stepper/bl-stepper-item.ts
  src/components/stepper/bl-stepper.mdx
  src/components/stepper/bl-stepper.stories.ts
  src/components/stepper/bl-stepper.test.ts
  src/components/stepper/bl-stepper.ts
  src/components/stepper/doc/ADR.md
Due: tsc --noEmit, eslint .

feat(stepper): run prettier
  src/components/stepper/bl-stepper.mdx
Due: none

feat(stepper): review updates
  src/components/stepper/bl-stepper-item.css
  src/components/stepper/bl-stepper-item.test.ts
  src/components/stepper/bl-stepper-item.ts
  src/components/stepper/bl-stepper.css
  src/components/stepper/bl-stepper.mdx
  src/components/stepper/bl-stepper.stories.ts
  src/components/stepper/bl-stepper.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(stepper): run linter
  src/components/stepper/bl-stepper.mdx
Due: none

feat(stepper): remove storybook content
  src/components/stepper/bl-stepper.mdx
Due: none

feat(stepper): update stepper component to match Figma design
  playground/template.html
  src/components/stepper/bl-stepper-item.css
  src/components/stepper/bl-stepper-item.test.ts
  src/components/stepper/bl-stepper-item.ts
  src/components/stepper/bl-stepper.css
  src/components/stepper/bl-stepper.stories.ts
  src/components/stepper/bl-stepper.test.ts
  src/components/stepper/bl-stepper.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css
