Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

docs: version upgrade
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  docs/customizing-baklava-theme.stories.mdx
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
Due: none

docs: version upgrade (#734)
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  docs/customizing-baklava-theme.stories.mdx
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
Due: none

Notes added by 'git notes add'
  ca/a388c6a5b2d6ea79a26f03a12b27f7eaccb25a
Due: none

fix(react): remove dead code
  scripts/generate-react-exports.js
Due: eslint .

feat(icon): new icons added
  src/components/icon/icon-list.ts
  src/components/icon/icons/camera_off.svg
  src/components/icon/icons/left_sided_arrow.svg
  src/components/icon/icons/microphone.svg
  src/components/icon/icons/microphone_off.svg
  src/components/icon/icons/photo_off.svg
  src/components/icon/icons/right_sided_arrow.svg
  src/components/icon/icons/sound_off.svg
Due: tsc --noEmit, eslint .

feat(icon): photo_off icon fixed
  src/components/icon/icons/photo_off.svg
Due: none

chore(react): refactor generate-react-exports (#725)
  .prettierrc.json
  package-lock.json
  package.json
  scripts/generate-react-exports.js
  tsconfig.json
Due: eslint .

feat(icon): new icons added (#735)
  src/components/icon/icon-list.ts
  src/components/icon/icons/camera_off.svg
  src/components/icon/icons/left_sided_arrow.svg
  src/components/icon/icons/microphone.svg
  src/components/icon/icons/microphone_off.svg
  src/components/icon/icons/photo_off.svg
  src/components/icon/icons/right_sided_arrow.svg
  src/components/icon/icons/sound_off.svg
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  fd/32b93fb37165f7f972c186c3848252e7bb2f4d
Due: none

style: add missing font weights
  docs/design-system/typography.stories.mdx
  src/themes/default.css
Due: stylelint src/**/*.css

feat(notification): implement notification base
  src/baklava.ts
  src/components/alert/bl-alert.ts
  src/components/notification/bl-notification.css
  src/components/notification/bl-notification.stories.mdx
  src/components/notification/bl-notification.test.ts
  src/components/notification/bl-notification.ts
  src/components/notification/card/bl-notification-card.css
  src/components/notification/card/bl-notification-card.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(notification): popover to display above dialog But notifications are not interactable beacuse of dialog backdrop?
  src/components/notification/bl-notification.css
  src/components/notification/bl-notification.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

revert: notification revert popover changes
  src/components/notification/bl-notification.css
  src/components/notification/bl-notification.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(notification): rename slots and replace danger variant with error
  src/components/notification/bl-notification.test.ts
  src/components/notification/bl-notification.ts
  src/components/notification/card/bl-notification-card.ts
Due: tsc --noEmit, eslint .

refactor(notification): card hides itself on close now Also implement request event similar to dialog. If the request event is prevented, card will not be closed.
  commitlint.config.cjs
  src/components/notification/bl-notification.ts
  src/components/notification/card/bl-notification-card.ts
Due: tsc --noEmit, eslint .

refactor(alert): action slot handling should flatten slots
  src/components/alert/bl-alert.test.ts
  src/components/alert/bl-alert.ts
Due: tsc --noEmit, eslint .

test(notification): implement notification tests
  src/components/alert/bl-alert.test.ts
  src/components/alert/bl-alert.ts
  src/components/notification/bl-notification.test.ts
  src/components/notification/bl-notification.ts
  src/components/notification/card/bl-notification-card.ts
Due: tsc --noEmit, eslint .

refactor: extract getMiddleOfElement util
  src/components/tooltip/bl-tooltip.test.ts
  src/utilities/elements.ts
Due: tsc --noEmit, eslint .

test(notification): implement card tests
  src/components/notification/card/bl-notification-card.test.ts
Due: tsc --noEmit, eslint .

build: storybook build fix
  src/components/notification/bl-notification.stories.mdx
Due: none

refactor(dialog): use polyfilled by default
  src/components/dialog/bl-dialog.mdx
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

test(notification): refactor event tests
  src/components/notification/card/bl-notification-card.test.ts
Due: tsc --noEmit, eslint .

docs(notification): implement notification docs
  src/components/notification/bl-notification.mdx
  src/components/notification/bl-notification.stories.mdx
  src/components/notification/bl-notification.stories.ts
  src/components/notification/bl-notification.test.ts
  src/components/notification/bl-notification.ts
  src/components/notification/card/bl-notification-card.test.ts
  src/components/notification/card/bl-notification-card.ts
Due: tsc --noEmit, eslint .

chore: fix lint error
  src/components/notification/bl-notification.mdx
Due: none

chore: fix chromatic screenshots
  src/components/notification/bl-notification.stories.ts
Due: tsc --noEmit, eslint .

fix(notification): slide out from top animation
  src/components/notification/bl-notification.css
  src/components/notification/card/bl-notification-card.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(alert): display issue preventing close
  src/components/alert/bl-alert.ts
Due: tsc --noEmit, eslint .

fix(select): select check additional count event loop
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(notification): card jumps down after swipe
  src/components/notification/bl-notification.test.ts
  src/components/notification/bl-notification.ts
Due: tsc --noEmit, eslint .

fix(select): select check additional count event loop (#743)
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  43/d6b0d50112de8ea4437bcd2b9bae6115fda593
Due: none

docs(notification): implement notification control
  src/components/notification/bl-notification.mdx
  src/components/notification/bl-notification.stories.ts
  src/components/notification/card/bl-notification-card.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(notification): disable touchmove down
  src/components/notification/bl-notification.test.ts
  src/components/notification/bl-notification.ts
Due: tsc --noEmit, eslint .

docs(notification): add card without actions
  src/components/notification/bl-notification.stories.ts
Due: tsc --noEmit, eslint .

docs(notification): showcase duration variants
  src/components/notification/bl-notification.mdx
  src/components/notification/bl-notification.stories.ts
Due: tsc --noEmit, eslint .

docs(notification): secondary example should include primary
  src/components/notification/bl-notification.stories.ts
Due: tsc --noEmit, eslint .

test(notification): refactor assertions
  src/components/alert/bl-alert.test.ts
  src/components/notification/bl-notification.ts
Due: tsc --noEmit, eslint .

feat: notification component (#741)
  commitlint.config.cjs
  src/baklava.ts
  src/components/alert/bl-alert.test.ts
  src/components/alert/bl-alert.ts
  src/components/dialog/bl-dialog.mdx
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
  src/components/notification/bl-notification.css
  src/components/notification/bl-notification.mdx
  src/components/notification/bl-notification.stories.ts
  src/components/notification/bl-notification.test.ts
  src/components/notification/bl-notification.ts
  src/components/notification/card/bl-notification-card.css
  src/components/notification/card/bl-notification-card.test.ts
  src/components/notification/card/bl-notification-card.ts
  src/components/tooltip/bl-tooltip.test.ts
  src/utilities/elements.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  cb/12aa687a9c86afdefd1ef6fdaa93a5ad7a8190
Due: none

feat(select): implement select all
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css
