Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

docs: upgrade baklava version for iframe
  src/components/switch/bl-switch.stories.mdx
Due: none

ci: update securty gate artifact (#1023)
  .github/workflows/scorecard.yml
Due: none

docs: rtl support (#1022)
  README.md
  src/components/accordion-group/accordion/bl-accordion.stories.mdx
  src/components/accordion-group/bl-accordion-group.stories.mdx
  src/components/alert/bl-alert.stories.mdx
  src/components/badge/bl-badge.stories.mdx
  src/components/button/bl-button.stories.mdx
  src/components/calendar/bl-calendar.stories.mdx
  src/components/checkbox-group/bl-checkbox-group.stories.mdx
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/dialog/bl-dialog.mdx
  src/components/dialog/bl-dialog.stories.ts
  src/components/drawer/bl-drawer.stories.mdx
  src/components/dropdown/bl-dropdown.stories.mdx
  src/components/dropdown/group/bl-dropdown-group.stories.mdx
  src/components/dropdown/item/bl-dropdown-item.stories.mdx
  src/components/input/bl-input.stories.mdx
  src/components/notification/bl-notification.mdx
  src/components/notification/bl-notification.stories.ts
  src/components/pagination/bl-pagination.stories.mdx
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
  src/components/radio-group/bl-radio-group.stories.mdx
  src/components/radio-group/radio/bl-radio.stories.mdx
  src/components/select/bl-select.stories.mdx
  src/components/split-button/bl-split-button.stories.mdx
  src/components/switch/bl-switch.stories.mdx
  src/components/tab-group/tab/bl-tab.stories.mdx
  src/components/table/bl-table.stories.mdx
  src/components/textarea/bl-textarea.stories.mdx
  src/components/tooltip/bl-tooltip.stories.mdx
Due: tsc --noEmit, eslint .

fix(calendar): fix range days design issues
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

fix(calendar): use logical css properties
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

fix(calendar): fix range days design issues (#1026)
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  87/acb5082785935f60c2c94d5e5e07bbec73345c
Due: none

docs: improve rtl support examples
  src/components/calendar/bl-calendar.stories.mdx
  src/components/notification/bl-notification.mdx
  src/components/notification/bl-notification.stories.ts
  src/components/split-button/bl-split-button.stories.mdx
Due: tsc --noEmit, eslint .

feat: remove query decorator
  src/components/tag/bl-tag.ts
Due: tsc --noEmit, eslint .

feat: add overflow hidden to tag
  src/components/tag/bl-tag.css
Due: stylelint src/**/*.css

fix: stylings
  src/components/tag/bl-tag.css
  src/components/tag/bl-tag.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs: improve rtl support examples (#1027)
  src/components/calendar/bl-calendar.stories.mdx
  src/components/notification/bl-notification.mdx
  src/components/notification/bl-notification.stories.ts
  src/components/split-button/bl-split-button.stories.mdx
Due: tsc --noEmit, eslint .

fix: removable medium padding
  src/components/tag/bl-tag.css
Due: stylelint src/**/*.css

feat(tag-component): tag component (#955)
  commitlint.config.cjs
  scripts/build.js
  src/baklava.ts
  src/components/tag/bl-tag.css
  src/components/tag/bl-tag.stories.mdx
  src/components/tag/bl-tag.test.ts
  src/components/tag/bl-tag.ts
  src/components/tag/doc/ADR.md
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  a5/9a00bfe33975d7f4e732e3e16e0bc705e5a5b6
Due: none

feat(datepicker): clear styles when value cleared
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

feat(datepicker): clear styles when value cleared (#1028)
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  c5/f26a0aa2e54e2206c8d9ff91bdf10ca20bd74f
Due: none

fix(button): button min-width
  src/components/button/bl-button.css
  src/components/tag/doc/ADR.md
Due: stylelint src/**/*.css

docs: change datepicker baklava version
  src/components/datepicker/bl-datepicker.stories.mdx
Due: none

docs: add rtl support badge for tag docs
  src/components/tag/bl-tag.stories.mdx
Due: none

fix(tag): remove button small
  src/components/tag/bl-tag.ts
Due: tsc --noEmit, eslint .

fix(button): button min-width (#1030)
  src/components/button/bl-button.css
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/tag/bl-tag.stories.mdx
  src/components/tag/bl-tag.ts
  src/components/tag/doc/ADR.md
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  ce/0773fcd9ffb5d7c390ae673cdb86533d284e88
Due: none

docs: update Baklava stable versions
  README.md
  docs/customizing-baklava-theme.stories.mdx
  docs/localization.stories.mdx
  docs/using-baklava-in-next.stories.mdx
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
Due: none

fix(notification): fix duration time for rtl
  src/components/notification/card/bl-notification-card.css
Due: stylelint src/**/*.css

docs: update Baklava stable versions (#1031)
  README.md
  docs/customizing-baklava-theme.stories.mdx
  docs/localization.stories.mdx
  docs/using-baklava-in-next.stories.mdx
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
Due: none

fix(notification): fix duration time for rtl (#1032)
  src/components/notification/card/bl-notification-card.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  48/dc83c6d832e2bf26c704be9bbe88aab133b1ea
Due: none

feat: trigger new release
  README.md
Due: none

Notes added by 'git notes add'
  5d/e01562fa450b1958292198435371b6465e0490
Due: none

Notes added by 'git notes add'
  71/8250a663b1e751a94c05cadd9295156dd1e7a8
Due: none

fix(table): event variables causes wrong bindings on react bundle
  src/components/table/bl-table.test.ts
  src/components/table/bl-table.ts
Due: tsc --noEmit, eslint .

fix(table): event variables causes wrong bindings on react bundle (#1037)
  src/components/table/bl-table.test.ts
  src/components/table/bl-table.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  1d/ea30f0df440e4c1a45c2f9ae26ecaed91c3222
Due: none

feat(slider-component): slider component adr
  src/components/slider/doc/ADR.md
Due: none

fix(input): trigger input event on clear
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .
