Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: enhance theme management and update badge stories for dark mode support
  .storybook/manager.js
  .storybook/preview-head.html
  src/components/badge/bl-badge.stories.mdx
  src/components/drawer/bl-drawer.css
  src/components/notification/bl-notification.stories.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: dark mode color palette #770
  src/components/badge/bl-badge.css
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/radio-group/radio/bl-radio.css
  src/components/tag/bl-tag.css
  src/themes/dark.css
Due: stylelint src/**/*.css

feat: update Storybook themes and remove deprecated manager-head.html
  .storybook/baklava-theme.js
  .storybook/manager-head.html
  .storybook/manager.js
Due: eslint .

feat: dark mode color palette added #770
  .storybook/manager.js
  .storybook/preview.ts
  docs/customizing-baklava-theme.stories.mdx
  src/components/dialog/bl-dialog.test.ts
  src/components/textarea/bl-textarea.test.ts
  src/themes/dark.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: dark mode color palette #770
  .storybook/baklava-theme.js
  .storybook/manager-head.html
  .storybook/manager.js
Due: eslint .

feat: dark mode color palette #770
  .storybook/DocsContainer.tsx
  .storybook/baklava-theme.js
  .storybook/manager-head.html
  .storybook/manager.js
  .storybook/preview.ts
Due: tsc --noEmit, eslint .

Revert "feat: improve sidebar & toolbar styles for better theme visibility"
  .storybook/manager.js
Due: eslint .

feat: improve sidebar & toolbar styles for better theme visibility
  .storybook/manager.js
Due: eslint .

feat: implement custom dark theme and update color palette
  .storybook/DocsContainer.tsx
  src/themes/dark.css
Due: stylelint src/**/*.css

style: update connector colors in stepper item to use CSS variables
  src/components/stepper/bl-stepper-item.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  ee/769487f7cd208d6e46d94594c23f3c8ca4e200
Due: none

refactor: remove dark theme from Storybook and streamline theme management
  .storybook/DocsContainer.tsx
  .storybook/baklava-theme.js
  .storybook/manager.js
  .storybook/preview-head.html
  .storybook/preview.ts
  src/components/badge/bl-badge.css
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/dialog/bl-dialog.test.ts
  src/components/notification/bl-notification.stories.ts
  src/components/radio-group/radio/bl-radio.css
  src/components/tag/bl-tag.css
  src/components/textarea/bl-textarea.test.ts
  src/themes/default.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

chore: add @storybook/manager-api dependency at version 7.4.3
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  46/c42d8a3e1e6e0229467738160eb128d2d4d9bb
Due: none

feat: add dark mode
  README.md
Due: none

feat: dark mode color palette (#1131)
  README.md
Due: none

Notes added by 'git notes add'
  b2/bd0a28e33204e4300c3d5560a22173978af5d3
Due: none

Notes added by 'git notes add'
  56/72863a584ffc812b1f4f363a063212a50a1d93
Due: none

feat: add dark mode
  .storybook/DocsContainer.tsx
  .storybook/baklava-theme.js
  .storybook/manager.js
  .storybook/preview-head.html
  .storybook/preview.ts
  docs/customizing-baklava-theme.stories.mdx
  package-lock.json
  package.json
  src/components/badge/bl-badge.stories.mdx
  src/components/drawer/bl-drawer.css
  src/components/notification/bl-notification.stories.ts
  src/components/stepper/bl-stepper-item.css
  src/themes/dark.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  e9/1ec88c28980f5fef41cd06e9897662122727ec
Due: none

feat: baklava book web component documentation project #1146
  baklava-book/src/components/demos/AlertDemo.vue
  baklava-book/src/components/demos/DialogDemo.vue
  baklava-book/src/components/demos/DropdownDemo.vue
  baklava-book/src/components/demos/NotificationDemo.vue
  baklava-book/src/components/demos/PopoverDemo.vue
  baklava-book/src/components/demos/TableDemo.vue
  baklava-book/src/components/demos/TooltipDemo.vue
  baklava-book/src/views/ComponentView.vue
  baklava-book/src/views/DocView.vue
  baklava-book/src/views/HomeView.vue
Due: none

feat: baklava book web component documentation project #1146
  .eslintignore
  baklava-book/src/components/ApiTable.vue
  baklava-book/src/components/BorderRadiusDemo.vue
  baklava-book/src/components/ColorPalette.vue
  baklava-book/src/components/DemoSection.vue
  baklava-book/src/components/IconographyDemo.vue
  baklava-book/src/components/SizingDemo.vue
  baklava-book/src/components/TypographyDemo.vue
  baklava-book/src/components/ZIndexDemo.vue
  baklava-book/src/components/demos/AccordionGroupDemo.vue
  baklava-book/src/components/demos/AlertDemo.vue
  baklava-book/src/components/demos/BadgeDemo.vue
  baklava-book/src/components/demos/ButtonDemo.vue
  baklava-book/src/components/demos/CalendarDemo.vue
  baklava-book/src/components/demos/CheckboxGroupDemo.vue
  baklava-book/src/components/demos/DatepickerDemo.vue
  baklava-book/src/components/demos/DialogDemo.vue
  baklava-book/src/components/demos/DrawerDemo.vue
  baklava-book/src/components/demos/DropdownDemo.vue
  baklava-book/src/components/demos/IconDemo.vue
  baklava-book/src/components/demos/InputDemo.vue
  baklava-book/src/components/demos/LinkDemo.vue
  baklava-book/src/components/demos/NotificationDemo.vue
  baklava-book/src/components/demos/PaginationDemo.vue
  baklava-book/src/components/demos/PopoverDemo.vue
  baklava-book/src/components/demos/ProgressIndicatorDemo.vue
  baklava-book/src/components/demos/RadioGroupDemo.vue
  baklava-book/src/components/demos/SelectDemo.vue
  baklava-book/src/components/demos/SpinnerDemo.vue
  baklava-book/src/components/demos/SplitButtonDemo.vue
  baklava-book/src/components/demos/StepperDemo.vue
  baklava-book/src/components/demos/SwitchDemo.vue
  baklava-book/src/components/demos/TabGroupDemo.vue
  baklava-book/src/components/demos/TableDemo.vue
  baklava-book/src/components/demos/TagDemo.vue
  baklava-book/src/components/demos/TextareaDemo.vue
  baklava-book/src/components/demos/TooltipDemo.vue
  baklava-book/src/data/components.ts
  baklava-book/src/views/ComponentView.vue
  baklava-book/src/views/DocView.vue
Due: tsc --noEmit, eslint .

feat: baklava book web component documentation project #1146
  package.json
Due: none

feat: baklava book web component documentation project #1146
  baklava-book/src/components/DemoSection.vue
  baklava-book/src/components/Header.vue
  baklava-book/src/data/doc-contents.ts
  baklava-book/src/main.ts
  baklava-book/src/views/DocView.vue
  package-lock.json
  package.json
Due: tsc --noEmit, eslint .

feat: baklava book web component documentation project #1146
  baklava-book/src/components/CodeBlock.vue
  baklava-book/src/components/DemoSection.vue
  baklava-book/src/views/ComponentView.vue
  baklava-book/src/views/DocView.vue
Due: none

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
