Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

feat(input): implement password type to input (#381)
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  0b/e574b1522b166b872d26ed2e4efaef7dbf61be
Due: none

fix(textarea): unneeded padding cleared (#401)
  src/components/textarea/bl-textarea.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  7e/04ffa4d68513aa081487224152fae77557a045
Due: none

feat(icon): sort icon added
  src/components/icon/icons/sort.svg
Due: none

feat(icon): add icon to icon-list
  src/components/icon/icon-list.ts
Due: tsc --noEmit, eslint .

fix(button): designs for focused state (#340) (#395)
  src/components/button/bl-button.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  d3/b58eddafbab865b88c1755b81c052d78ba5a9c
Due: none

feat(icon): replace old icon with currently added
  src/components/icon/icon-list.ts
  src/components/icon/icons/sort.svg
  src/components/icon/icons/sorting.svg
Due: tsc --noEmit, eslint .

fix(button): submit type works
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
  src/components/input/bl-input.stories.mdx
  src/components/textarea/bl-textarea.stories.mdx
Due: tsc --noEmit, eslint .

fix(pagination): accessibility improvements (#293)
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

feat(icon): update icon
  src/components/icon/icons/sorting.svg
Due: none

fix(button): submit type works (#407)
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
  src/components/input/bl-input.stories.mdx
  src/components/textarea/bl-textarea.stories.mdx
Due: tsc --noEmit, eslint .

feat(icon): sorting icon updated (#402)
  src/components/icon/icons/sorting.svg
Due: none

Notes added by 'git notes add'
  e4/5a18fe792ca78e53d808763c60389403ff2aa3
Due: none

chore(pagination): introduce gap between page numbers
  src/components/pagination/bl-pagination.css
Due: stylelint src/**/*.css

chore: track dependency updates
  .github/dependabot.yml
Due: none

fix(pagination): accessibility improvements (#408)
  src/components/pagination/bl-pagination.css
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  33/6462b31fce0dcb8630fd34874dab1684c15a69
Due: none

fix: form participation fixes
  package-lock.json
  package.json
  src/components/drawer/bl-drawer.test.ts
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint .

style(input): style autofill input
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

chore(input): use css variable
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

chore(input): remove unnecessary selectors
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

style(input): add browser support for autofill
  src/components/input/bl-input.css
Due: stylelint src/**/*.css

feat(select): element internals implementation wip
  src/components/select/bl-select.css
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

chore: dependency update tracking enabled for gh actions
  .github/dependabot.yml
Due: none

fix: form participation fixes (#411)
  package-lock.json
  package.json
  src/components/drawer/bl-drawer.test.ts
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  51/e2725311edf104d6ba0365d31476ceeef9c35b
Due: none

chore: track dependency updates (#410)
  .github/dependabot.yml
Due: none

test(textarea): testing simplified to running it quicker
  src/components/textarea/bl-textarea.test.ts
Due: tsc --noEmit, eslint .

test(textarea): commented code cleaned
  src/components/textarea/bl-textarea.test.ts
Due: tsc --noEmit, eslint .

feat(input): add loading state
  src/components/button/bl-button.css
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

chore(button): remove reflect from loading
  src/components/button/bl-button.ts
Due: tsc --noEmit, eslint .

test(textarea): testing simplified to running it quicker (#421)
  src/components/textarea/bl-textarea.test.ts
Due: tsc --noEmit, eslint .

chore: build script updated for esbuild upgrade
  docs/how-to-use-playground.stories.mdx
  playground/template.html
  scripts/build.js
Due: eslint .

feat(button): add story & fix disabled state
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(icon): add star_two icon
  src/components/icon/icon-list.ts
  src/components/icon/icons/star_two.svg
Due: tsc --noEmit, eslint .

feat(icon): add star_double icon
  src/components/icon/icon-list.ts
  src/components/icon/icons/star_double.svg
  src/components/icon/icons/star_two.svg
Due: tsc --noEmit, eslint .

feat(icon): add star_double icon (#427)
  src/components/icon/icon-list.ts
  src/components/icon/icons/star_double.svg
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  f9/ebbc6f658d7c93f8007eb9892d0930af45b0dc
Due: none
