Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

fix(link): set default font
  src/components/link/bl-link.css
Due: stylelint src/**/*.css

feat(link): add all anchor attrs, non-standalone links support slotted icons
  src/components/link/bl-link.css
  src/components/link/bl-link.stories.ts
  src/components/link/bl-link.test.ts
  src/components/link/bl-link.ts
  src/components/link/docs/ADR/link-component-implementation.md
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(link): enhance examples
  src/components/link/bl-link.stories.ts
Due: tsc --noEmit, eslint .

feat(dropdown): trigger release
  src/components/dropdown/docs/ADR/icon-implementation.md
Due: none

doc: add adr documents for dropdown
  src/components/dropdown/docs/ADR/icon-implementation.md
Due: none

fix(link): make anchor attrs optional
  src/components/link/bl-link.test.ts
  src/components/link/bl-link.ts
Due: tsc --noEmit, eslint .

fix(link): change default font family
  src/components/link/bl-link.css
Due: stylelint src/**/*.css

fix(link): remove unnecessary navigation handling
  src/components/link/bl-link.test.ts
  src/components/link/bl-link.ts
Due: tsc --noEmit, eslint .

ci: change playwright install command
  .github/workflows/verify-and-release-beta.yml
Due: none

ci: change verify stages
  .github/workflows/verify-and-release-beta.yml
Due: none

feat(link): link component add link component no breaking change, new component, 906
  commitlint.config.cjs
  src/baklava.ts
  src/components/link/bl-link.css
  src/components/link/bl-link.stories.ts
  src/components/link/bl-link.test.ts
  src/components/link/bl-link.ts
  src/components/link/docs/ADR/link-component-implementation.md
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  9c/f4ff280f64cfed7c0e5188cbb68601bed1af26
Due: none

feat(input): increase design consistency of input
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(input): rewrote clear test
  cemPlugins/generateReactExports.js
  src/components/input/bl-input.test.ts
Due: tsc --noEmit, eslint .

chore: remove console log
  src/components/input/bl-input.test.ts
Due: tsc --noEmit, eslint .

chore: remove unused events
  cemPlugins/generateReactExports.js
Due: eslint .

Notes added by 'git notes add'
  b1/31e04afaad6d984a61134228ae91af6799f5af
Due: none

feat(toggle): introduce toggle component
  commitlint.config.cjs
  src/baklava.ts
  src/components/toggle/bl-toggle.css
  src/components/toggle/bl-toggle.stories.mdx
  src/components/toggle/bl-toggle.test.ts
  src/components/toggle/bl-toggle.ts
  src/components/toggle/doc/ADR.md
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(toggle): introduce toggle component
  src/components/toggle/bl-toggle.css
  src/components/toggle/bl-toggle.stories.mdx
  src/components/toggle/bl-toggle.test.ts
  src/components/toggle/bl-toggle.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Add security-gates workflow and update README
  .github/workflows/security-gates.yml
Due: none

feat(segmented-control): introduce segmented control
  commitlint.config.cjs
  src/baklava.ts
  src/components/segmented-control/bl-segmented-control.css
  src/components/segmented-control/bl-segmented-control.extra.test.ts
  src/components/segmented-control/bl-segmented-control.stories.mdx
  src/components/segmented-control/bl-segmented-control.test.ts
  src/components/segmented-control/bl-segmented-control.ts
  src/components/segmented-control/segment/bl-segment.css
  src/components/segmented-control/segment/bl-segment.test.ts
  src/components/segmented-control/segment/bl-segment.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(stepper): add adr
  commitlint.config.cjs
  src/components/stepper/doc/ADR.md
Due: none

fix(calendar): enable custom day renderer tooltips on disabled dates
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: initial commit of component
  playground/template.html
  src/baklava.ts
  src/components/stepper/bl-stepper-item.css
  src/components/stepper/bl-stepper-item.test.ts
  src/components/stepper/bl-stepper-item.ts
  src/components/stepper/bl-stepper.css
  src/components/stepper/bl-stepper.mdx
  src/components/stepper/bl-stepper.stories.ts
  src/components/stepper/bl-stepper.test.ts
  src/components/stepper/bl-stepper.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(datepicker): add Disabled Dates With Tooltip story demonstrating dayRenderer on disabled dates
  src/components/datepicker/bl-datepicker.stories.mdx
Due: none

docs(datepicker): wire Disabled Dates With Tooltip story to Controls and parse disabledDates string via stringToDateArray
  src/components/datepicker/bl-datepicker.stories.mdx
Due: none

docs(datepicker): show tooltip only for disabled days and add Controls for tooltip text
  src/components/calendar/bl-calendar.css
  src/components/datepicker/bl-datepicker.stories.mdx
Due: stylelint src/**/*.css

feat(stepper): update stepper component to match Figma design
  playground/template.html
  src/components/stepper/bl-stepper-item.css
  src/components/stepper/bl-stepper-item.test.ts
  src/components/stepper/bl-stepper-item.ts
  src/components/stepper/bl-stepper.css
  src/components/stepper/bl-stepper.stories.ts
  src/components/stepper/bl-stepper.test.ts
  src/components/stepper/bl-stepper.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: use blpopover in select component
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: input and textarea interaction tests #207
  src/components/input/bl-input.test.ts
  src/components/textarea/bl-textarea.test.ts
Due: tsc --noEmit, eslint .

feat: bl slider completed #683
  src/baklava.ts
  src/components/slider/bl-slider.css
  src/components/slider/bl-slider.stories.mdx
  src/components/slider/bl-slider.test.ts
  src/components/slider/bl-slider.ts
  src/components/slider/doc/ADR.md
Due: tsc --noEmit, eslint ., stylelint src/**/*.css
