Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

feat: add localization (#787)
  .eslintignore
  .prettierignore
  docs/localization.stories.mdx
  lit-localize.json
  package-lock.json
  package.json
  scripts/build.js
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
  src/components/select/bl-select.ts
  src/generated/locale-codes.ts
  src/generated/locales/tr.ts
  src/localization.ts
  translations/tr.xlf
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  7a/6cea3a0a55ee6cba6f383aa8836af4513d75d9
Due: none

feat: table component
  src/components/table/bl-table.test.ts
  src/components/table/bl-table.ts
  src/components/table/table-header-cell/bl-table-header-cell.ts
Due: tsc --noEmit, eslint .

fix(select): fix disabled select can be open using keydowns
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(select): change item count color if select is disabled
  src/components/select/bl-select.css
Due: stylelint src/**/*.css

docs(using-baklava-in-vue.stories.mdx): remove unneeded code + valid syntax
  docs/using-baklava-in-vue.stories.mdx
Due: none

feat(accordion): add accordion & accordion-group component
  playground/template.html
  src/baklava.ts
  src/components/accordion-group/accordion/bl-accordion.css
  src/components/accordion-group/accordion/bl-accordion.ts
  src/components/accordion-group/bl-accordion-group.css
  src/components/accordion-group/bl-accordion-group.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(using-baklava-in-vue.stories): 2 small improvements (#798)
  docs/using-baklava-in-vue.stories.mdx
Due: none

feat: table component
  src/components/table/bl-table.stories.mdx
  src/components/table/table-cell/bl-table-cell.ts
  src/components/table/table-header-cell/bl-table-header-cell.ts
  src/components/table/table-row/bl-table-row.ts
Due: tsc --noEmit, eslint .

fix(select): remove highlight when the select is disabled
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feat: table component
  src/components/table/bl-table.stories.mdx
Due: none

feat: table story
  src/components/table/bl-table.stories.mdx
Due: none

docs(table): added missing stories
  src/components/table/bl-table.stories.mdx
Due: none

Notes added by 'git notes add'
  ad/09502ebabf855567ca581413daf6b0ac425b34
Due: none

fix(select): do not show popover if there is no options
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feat: table component
  src/components/table/bl-table.ts
Due: tsc --noEmit, eslint .

fix(select): do not close the popover if the user press the space button when searching
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feat: edit table story title
  src/components/table/bl-table.stories.mdx
Due: none

feat: table component
  src/components/table/table-cell/bl-table-cell.css
  src/components/table/table-header-cell/bl-table-header-cell.css
Due: stylelint src/**/*.css

feat: table component
  src/components/icon/icon-list.ts
  src/components/icon/icons/sorting_default.svg
  src/components/table/bl-table.test.ts
  src/components/table/table-header-cell/bl-table-header-cell.css
  src/components/table/table-header-cell/bl-table-header-cell.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(accordion-group): add auto-collapse attribute
  commitlint.config.cjs
  src/components/accordion-group/accordion/bl-accordion.ts
  src/components/accordion-group/bl-accordion-group.ts
Due: tsc --noEmit, eslint .

chore(table): rename event and attributes
  src/components/table/bl-table.stories.mdx
  src/components/table/bl-table.test.ts
  src/components/table/bl-table.ts
  src/components/table/table-cell/bl-table-cell.ts
  src/components/table/table-header-cell/bl-table-header-cell.ts
Due: tsc --noEmit, eslint .

chore(table): rename selectedValues attribute
  src/components/table/bl-table.stories.mdx
  src/components/table/bl-table.test.ts
  src/components/table/bl-table.ts
Due: tsc --noEmit, eslint .

feat(accordion): add unit test
  src/components/accordion-group/accordion/bl-accordion.test.ts
  src/components/accordion-group/accordion/bl-accordion.ts
  src/components/accordion-group/bl-accordion-group.ts
Due: tsc --noEmit, eslint .

refactor(table): remove unneeded lifecyle methods & fix table header sticky-header attribute
  src/components/table/bl-table.stories.mdx
  src/components/table/bl-table.ts
  src/components/table/table-body/bl-table-body.ts
  src/components/table/table-cell/bl-table-cell.ts
  src/components/table/table-header-cell/bl-table-header-cell.ts
  src/components/table/table-header/bl-table-header.css
  src/components/table/table-header/bl-table-header.ts
  src/components/table/table-row/bl-table-row.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(table): rename header sticky attribute
  src/components/table/bl-table.stories.mdx
  src/components/table/table-header/bl-table-header.css
  src/components/table/table-header/bl-table-header.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: table component
  src/components/table/bl-table.css
  src/components/table/table-cell/bl-table-cell.css
  src/components/table/table-row/bl-table-row.css
Due: stylelint src/**/*.css

feat: table component
  src/components/table/table-cell/bl-table-cell.ts
  src/components/table/table-header-cell/bl-table-header-cell.ts
Due: tsc --noEmit, eslint .

feat: table component
  src/components/table/bl-table.stories.mdx
  src/components/table/bl-table.ts
Due: tsc --noEmit, eslint .

refactor(table): improve accessibility
  src/components/table/table-header-cell/bl-table-header-cell.css
  src/components/table/table-header-cell/bl-table-header-cell.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: table component (#788)
  commitlint.config.cjs
  src/baklava.ts
  src/components/icon/icon-list.ts
  src/components/icon/icons/sorting_asc.svg
  src/components/icon/icons/sorting_desc.svg
  src/components/table/bl-table.css
  src/components/table/bl-table.stories.mdx
  src/components/table/bl-table.test.ts
  src/components/table/bl-table.ts
  src/components/table/table-body/bl-table-body.css
  src/components/table/table-body/bl-table-body.test.ts
  src/components/table/table-body/bl-table-body.ts
  src/components/table/table-cell/bl-table-cell.css
  src/components/table/table-cell/bl-table-cell.test.ts
  src/components/table/table-cell/bl-table-cell.ts
  src/components/table/table-header-cell/bl-table-header-cell.css
  src/components/table/table-header-cell/bl-table-header-cell.test.ts
  src/components/table/table-header-cell/bl-table-header-cell.ts
  src/components/table/table-header/bl-table-header.css
  src/components/table/table-header/bl-table-header.test.ts
  src/components/table/table-header/bl-table-header.ts
  src/components/table/table-row/bl-table-row.css
  src/components/table/table-row/bl-table-row.test.ts
  src/components/table/table-row/bl-table-row.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  e1/c54b98d6e74d39ddf83e899621ed1c93fd84e8
Due: none

fix(select): do not show popover if there are no options (#803)
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  15/9b706fa696e7b65f5e7c5459338deff3b69d80
Due: none

docs(storybook): add version button in storybook toolbar
  .storybook/preview.ts
Due: tsc --noEmit, eslint .

fix(dialog): remove shadow from footer when scroll hits bottom
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

fix(dialog): remove shadow from footer when scroll hits bottom Closes #624
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

test
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.ts
  src/utilities/style-to-px.converter.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: table component
  src/components/table/table-row/bl-table-row.css
Due: stylelint src/**/*.css
