Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write

feat: button component
  src/components/gr-button/gr-button.css
  src/components/gr-button/gr-button.stories.mdx
  src/components/gr-button/gr-button.test.ts
  src/components/gr-button/gr-button.ts
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

chore: playground with esbuild implemented
  package-lock.json
  package.json
  playground/index.html
  scripts/build.js
Due: eslint --rule 'no-console: error' --fix, prettier --write

chore: ignore playground folder from commits
  .gitignore
  playground/index.html
Due: none

chore: revert adding playground folder
  .gitignore
  playground/index.html
Due: none

chore: ignore playground file from commit history
  package.json
Due: prettier --write

chore(storybook): use dist build directly in storybook ui
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
  docs/design-system/typography.stories.mdx
  src/components/gr-button/gr-button.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: icon component implemented
  docs/design-system/iconography.stories.mdx
  src/components/icon/gr-icon.css
  src/components/icon/gr-icon.stories.mdx
  src/components/icon/gr-icon.test.ts
  src/components/icon/gr-icon.ts
  src/components/icon/icons/alert.svg
  src/components/icon/icons/calendar.svg
  src/components/icon/icons/check.svg
  src/components/icon/icons/close.svg
  src/components/icon/icons/dislike.svg
  src/components/icon/icons/error.svg
  src/components/icon/icons/help.svg
  src/components/icon/icons/info.svg
  src/components/icon/icons/like.svg
  src/components/icon/icons/pin.svg
  src/components/icon/icons/search.svg
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix: firefox sometimes fails with concurrent tests
  web-test-runner.config.mjs
Due: none

chore: build script refactored
  scripts/build.js
Due: eslint --rule 'no-console: error' --fix, prettier --write

chore: dependencies are updated
  package-lock.json
  package.json
Due: prettier --write

chore(design): linter fixes
  src/themes/default.css
Due: none

chore(storybook): storybook upgraded to v6.5.5
  .eslintrc.js
  .eslintrc.json
  .storybook/main.js
  package-lock.json
  package.json
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: icon component
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
  docs/design-system/iconography.stories.mdx
  docs/design-system/typography.stories.mdx
  package-lock.json
  package.json
  scripts/build.js
  src/components/gr-button/gr-button.stories.mdx
  src/components/icon/gr-icon.css
  src/components/icon/gr-icon.stories.mdx
  src/components/icon/gr-icon.test.ts
  src/components/icon/gr-icon.ts
  src/components/icon/icons/alert.svg
  src/components/icon/icons/calendar.svg
  src/components/icon/icons/check.svg
  src/components/icon/icons/close.svg
  src/components/icon/icons/dislike.svg
  src/components/icon/icons/error.svg
  src/components/icon/icons/help.svg
  src/components/icon/icons/info.svg
  src/components/icon/icons/like.svg
  src/components/icon/icons/pin.svg
  src/components/icon/icons/search.svg
  src/grace.ts
  src/themes/default.css
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write

Notes added by 'git notes add'
  ae6992680e991a9799c149f604b0771cbc00a951
Due: none

chore: playground index updated as template
  package-lock.json
  package.json
  playground/index.html
  playground/template.html
  scripts/build.js
Due: eslint --rule 'no-console: error' --fix, prettier --write

chore: new files in playground folder are ignored
  .gitignore
Due: none

chore(storybook): lit expression comments cleared in v6.5
  .storybook/preview.js
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: button component
  src/components/gr-button/gr-button.css
  src/components/gr-button/gr-button.stories.mdx
  src/components/gr-button/gr-button.test.ts
  src/components/gr-button/gr-button.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(icon): svg icon path set automatically for cdn usage
  commitlint.config.js
  package.json
  playground/template.html
  scripts/build.js
  src/components/icon/gr-icon.ts
  src/grace.ts
  src/utilities/asset-paths.test.ts
  src/utilities/asset-paths.ts
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write

ci: remove unneeded js files generated for svgs
  scripts/build.js
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat(icon): svg icon path set automatically for cdn usage (#119)
  commitlint.config.js
  package.json
  playground/template.html
  scripts/build.js
  src/components/icon/gr-icon.ts
  src/grace.ts
  src/utilities/asset-paths.test.ts
  src/utilities/asset-paths.ts
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write

chore(storybook): storybook upgraded to v6.5.5 (#117)
  .eslintrc.js
  .eslintrc.json
  .storybook/preview.js
  package-lock.json
  package.json
Due: eslint --rule 'no-console: error' --fix, prettier --write

Notes added by 'git notes add'
  be02a6809c0f1a0fa7b2a47017f203bc4dd00d0c
Due: none

fix(storybook): still this workaround needed
  .storybook/preview.js
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs(icon): fine tune storybook controls
  .editorconfig
  src/components/icon/gr-icon.stories.mdx
Due: none

Notes added by 'git notes add'
  246ee03bd2f8be5f33fd6aa1de3c6b8280416c34
Due: none

feat(icon): arrangement icon is added
  src/components/icon/icons/arrangement.svg
Due: none

fix(icon): arrangement icon is added
  src/components/icon/icon-list.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs(design): icon component link fixed in iconography page
  docs/design-system/iconography.stories.mdx
Due: none

docs: adding new icons documantation addded
  .storybook/manager.js
  docs/adding-a-new-icon.stories.mdx
  docs/images/commit-and-push.png
  docs/images/create-branch-in-vscode.png
  docs/images/files-staged.png
  docs/images/icons-folder.png
  docs/images/open-pr.png
  docs/images/pr-form.png
  docs/images/stage-files.png
Due: eslint --rule 'no-console: error' --fix, prettier --write

docs: adding new icons documantation addded (#122)
  .storybook/manager.js
  docs/adding-a-new-icon.stories.mdx
  docs/images/commit-and-push.png
  docs/images/create-branch-in-vscode.png
  docs/images/files-staged.png
  docs/images/icons-folder.png
  docs/images/open-pr.png
  docs/images/pr-form.png
  docs/images/stage-files.png
Due: eslint --rule 'no-console: error' --fix, prettier --write

feat: design system renamed as baklava
  .gitmessage
  .storybook/preview-head.html
  README.md
  docs/adding-a-new-icon.stories.mdx
  docs/commit-rules.stories.mdx
  docs/design-system/colors.stories.mdx
  docs/design-system/iconography.stories.mdx
  docs/design-system/typography.stories.mdx
  docs/linting.stories.mdx
  docs/testing.stories.mdx
  docs/welcome.stories.mdx
  package-lock.json
  package.json
  scripts/build.js
  src/baklava.ts
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
  src/components/icon/bl-icon.css
  src/components/icon/bl-icon.stories.mdx
  src/components/icon/bl-icon.test.ts
  src/components/icon/bl-icon.ts
  src/grace.ts
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

fix: playground template fixed with new naming
  playground/template.html
Due: none

docs: storybook link is added to readme
  README.md
Due: prettier --write

feat: design system renamed as baklava (#123)
  .gitmessage
  .storybook/preview-head.html
  README.md
  docs/adding-a-new-icon.stories.mdx
  docs/commit-rules.stories.mdx
  docs/design-system/colors.stories.mdx
  docs/design-system/iconography.stories.mdx
  docs/design-system/typography.stories.mdx
  docs/linting.stories.mdx
  docs/testing.stories.mdx
  docs/welcome.stories.mdx
  package-lock.json
  package.json
  playground/template.html
  scripts/build.js
  src/baklava.ts
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
  src/components/icon/bl-icon.css
  src/components/icon/bl-icon.stories.mdx
  src/components/icon/bl-icon.test.ts
  src/components/icon/bl-icon.ts
  src/grace.ts
  src/themes/default.css
Due: eslint --rule 'no-console: error' --fix, prettier --write

Notes added by 'git notes add'
  69140c2abf718887dca1cd59dee345757e16b404
Due: none

ci: publish config added for making new npm package public
  package.json
Due: prettier --write

fix: removed empty changelog
  CHANGELOG.md
Due: prettier --write

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx,js}
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,md})
