Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

chore: use node 18 for actions
  .github/workflows/publish-chromatic.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  .npmrc
  package-lock.json
Due: none

feat(deps): use type module
  package.json
  scripts/build.js
  scripts/generate-react-exports.js
Due: eslint .

fix(dialog): fire dialog close / open events by checking current open status
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

fix(dialog): update toggleDialogHandler checks
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

fix(dialog): refactor
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

test(tooltip): keyboard nav test fixed
  src/components/tooltip/bl-tooltip.test.ts
Due: tsc --noEmit, eslint .

fix(tooltip): fix tooltip sizing limits
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(popover): extra customization with css
  src/components/popover/bl-popover.css
  src/components/popover/bl-popover.ts
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(popover): max width css prop doc added
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

refactor(tooltip): clean up
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint .

chore: allow setting 0px value in custom properties
  .stylelintrc.json
  src/components/popover/bl-popover.ts
  src/components/tooltip/bl-tooltip.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: uglifycss breaks 0px values
  package-lock.json
  package.json
  scripts/build.js
  src/components/tab-group/tab/bl-tab.css
Due: eslint ., stylelint src/**/*.css

refactor: more definition about hover class replacer
  scripts/build.js
Due: eslint .

fix: level 2 css minification may break the things
  scripts/build.js
Due: eslint .

docs(storybook): fix broken contribution guide link fixes(#568)
  README.md
Due: none

chore(deps): replace eslint js with cjs
  .eslintrc.cjs
Due: none

chore(deps): support node v18 (#526)
  .github/workflows/publish-chromatic.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  package-lock.json
  package.json
  web-test-runner.config.mjs
Due: none

fix: fix css replacement errors
  .storybook/preview.ts
  scripts/build.js
Due: tsc --noEmit, eslint .

ci: fix node version
  .github/workflows/release.yml
Due: none

fix: set package type as module (#570)
  .eslintrc.cjs
  package.json
  scripts/build.js
  scripts/generate-react-exports.js
Due: eslint .

Notes added by 'git notes add'
  47/9b900f79cf984f3a5bca40495d54ee915d90e8
Due: none

fix: hover style mocker selector fix
  scripts/build.js
Due: eslint .

feat(popover): max-width and border-size css properties are added (#483)
  .lintstagedrc.js
  .storybook/preview.ts
  .stylelintrc.json
  commitlint.config.cjs
  package-lock.json
  package.json
  scripts/build.js
  src/components/popover/bl-popover.css
  src/components/popover/bl-popover.ts
  src/components/tab-group/tab/bl-tab.css
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.stories.mdx
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  c0/f5fc2ba66ce97d195f97959d76c139daae90e6
Due: none

docs: version references updated for 2.1.0
  README.md
  docs/customizing-baklava-theme.stories.mdx
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
Due: none

Notes added by 'git notes add'
  6f/9d7258ab273cbebe1e702634b48b2a9931e1db
Due: none

fix(input): add pattern mismatch to validity states
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint .

fix(dialog): update toggleHandler check logic
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

docs: added neutral badge variant to the docs
  src/components/badge/bl-badge.stories.mdx
Due: none

docs(input): add pattern to story params
  src/components/input/bl-input.stories.mdx
Due: none

fix(input): add missing pattern mismatch to validity states (#576)
  src/components/input/bl-input.stories.mdx
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  02/0fc98cc16c05273be40638fb9257a6fb85085c
Due: none

Notes added by 'git notes add'
  be/2403c9bac7b8f00ebd4fd94e36958e8468f749
Due: none

ci: fix chromatic branch misalignment
  .github/workflows/publish-chromatic.yml
  .github/workflows/pull-request-main.yml
  .github/workflows/pull-request-next.yml
  .github/workflows/verify-and-release-beta.yml
  package.json
Due: none

ci: fix workflow file syntax
  .github/workflows/pull-request-next.yml
Due: none

ci: fix workflow file syntax
  .github/workflows/pull-request-main.yml
Due: none

ci: fix workflow file syntax
  .github/workflows/verify-and-release-beta.yml
Due: none

ci: use chromaui action
  .github/workflows/publish-chromatic.yml
Due: none

ci: prevent pr checks for semantic release dry run
  .github/workflows/pull-request-main.yml
  .github/workflows/pull-request-next.yml
Due: none

ci: remove preview release jobs
  .github/workflows/pull-request-main.yml
  .github/workflows/pull-request-next.yml
Due: none

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
