Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(theme): add missing font weights (#740)
  docs/design-system/typography.stories.mdx
  src/themes/default.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  b2/5170273c536517d1f7c32457c92c15c3672e1a
Due: none

fix(select): check state with disabled option
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(select): simple example on select all
  src/components/select/bl-select.stories.mdx
Due: none

fix(select): should not clear disabled selected
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feat(select): implement select all (#746)
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  ca/f155e79e9b7d5d86e2cb4908a1f778af304199
Due: none

fix(select): change select all default behaviour to off
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): change select all default behaviour to off (#750)
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  ec/c8a30c9c3e38194b239aa6f77de331427ba40b
Due: none

feat(switch): add bl-switch label
  src/components/switch/bl-switch.css
  src/components/switch/bl-switch.stories.mdx
  src/components/switch/bl-switch.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): non label-fixed select breaks input styling
  src/components/select/bl-select.css
Due: stylelint src/**/*.css

fix(select): return value instead of array on single select
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(tooltip): invisible progress indicator
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(select): add search feature for select
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select/select-option): fix prettier issue
  src/components/select/bl-select.css
  src/components/select/option/bl-select-option.css
Due: stylelint src/**/*.css

chore(select): remove search mag animation
  src/components/select/bl-select.css
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): fix styling issues, show divider after search and loading icon, unshow remove button when searching, show label if the placeholder is missing
  src/components/select/bl-select.css
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(select): autofocus search input if the selected options more than 1
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

chore(select): change no result found popover height
  src/components/select/bl-select.css
Due: stylelint src/**/*.css

feat(select): seperate divider from remove button, be smaller icons and give padding, improve storybook for select
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): Using label and placeholder on non label-fixed select breaks input styling
  src/components/select/bl-select.css
Due: stylelint src/**/*.css

feat: add info color and implement it on alert and notification #685
  docs/design-system/colors.stories.mdx
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
  src/components/notification/card/bl-notification-card.css
  src/themes/default.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(tooltip): update default tooltip bg color
  src/components/tooltip/bl-tooltip.css
Due: stylelint src/**/*.css

refactor(alert): update alert radius
  src/components/alert/bl-alert.css
Due: stylelint src/**/*.css

fix(select): fix lowercase convert for search text
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feat(deps): upgrade ts & fix errors
  package-lock.json
  package.json
  src/components/popover/bl-popover.ts
  src/components/select/bl-select.ts
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint .

chore(deps): remove duplicate import
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

chore(select): remove select all if no result found
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feat(select): select works on filtered results now
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feat(switch): add bl-switch label
  src/components/switch/bl-switch.css
  src/components/switch/bl-switch.stories.mdx
  src/components/switch/bl-switch.test.ts
  src/components/switch/bl-switch.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: table component
  src/baklava.ts
  src/components/icon/icon-list.ts
  src/components/icon/icons/sorting_asc.svg
  src/components/icon/icons/sorting_default.svg
  src/components/icon/icons/sorting_desc.svg
  src/components/table/bl-table.css
  src/components/table/bl-table.stories.mdx
  src/components/table/bl-table.test.ts
  src/components/table/bl-table.ts
  src/components/table/table-body/bl-table-body.css
  src/components/table/table-body/bl-table-body.test.ts
  src/components/table/table-body/bl-table-body.ts
  src/components/table/table-cell/bl-table-cell.css
  src/components/table/table-cell/bl-table-cell.test.ts
  src/components/table/table-cell/bl-table-cell.ts
  src/components/table/table-header-cell/bl-table-header-cell.css
  src/components/table/table-header-cell/bl-table-header-cell.test.ts
  src/components/table/table-header-cell/bl-table-header-cell.ts
  src/components/table/table-header/bl-table-header.css
  src/components/table/table-header/bl-table-header.test.ts
  src/components/table/table-header/bl-table-header.ts
  src/components/table/table-row/bl-table-row.css
  src/components/table/table-row/bl-table-row.test.ts
  src/components/table/table-row/bl-table-row.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): option-label property added to bl-select-option to fix #764
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint .

feat(select): add search feature for select (#759)
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): Using label and placeholder on non label-fixed select br… (#760)
  src/components/select/bl-select.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  1b/5a10e08a2a9416e2aa9c61cd133e433daa2ce1
Due: none

feat: add info color and implement it on alert and notification (#761)
  docs/design-system/colors.stories.mdx
  src/components/alert/bl-alert.css
  src/components/alert/bl-alert.ts
  src/components/notification/card/bl-notification-card.css
  src/components/tooltip/bl-tooltip.css
  src/themes/default.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  a9/9ff416883f54d210b5a42e97ce73e159b50c14
Due: none

fix(select): return single value for single select (#677)
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  23/0448534f3973c7c41e4715e81c2dce62c995d2
Due: none

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
