Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

ci: sonarcloud analysis added
  .github/workflows/sonarcloud.yml
Due: none

ci: sonarcloud run via gh actions
  .github/workflows/sonarcloud.yml
  .github/workflows/verify.yml
  sonar-project.properties
Due: none

ci: inherit env variables for verify workflow
  .github/workflows/pull-request.yml
  .github/workflows/verify-and-release.yml
Due: none

ci: include src folder and non test files as source for sonar
  sonar-project.properties
Due: none

ci: npm cache and remove playwright action
  .github/workflows/publish-chromatic.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/verify.yml
Due: none

chore: prevent using old node versions
  .npmrc
Due: none

fix(tooltip): change and fix tooltip logic
  package-lock.json
  playground/template.html
  src/components/tooltip/bl-tooltip.css
  src/components/tooltip/bl-tooltip.stories.mdx
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

chore(storybook): storybook update to v6.5.9 (#150)
  package-lock.json
  package.json
Due: prettier --write

chore: prevent using old node versions (#153)
  .npmrc
Due: none

ci: npm cache and remove playwright action (#152)
  .github/workflows/publish-chromatic.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/verify.yml
Due: none

ci: chromatic needs git history
  .github/workflows/publish-chromatic.yml
Due: none

chore: event decorator for components (#115)
  custom-elements-manifest.config.mjs
  package-lock.json
  package.json
  src/components/badge/bl-badge.ts
  src/components/button/bl-button.ts
  src/components/icon/bl-icon.ts
  src/components/input/bl-input.ts
  src/utilities/event.test.ts
  src/utilities/event.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

feat(storybook): updated html title
  .storybook/main.js
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

ci: pass sonar token to verify workflow
  .github/workflows/verify.yml
Due: none

ci: use latest version of sonar action
  .github/workflows/verify.yml
Due: none

docs: Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

feat: component states testing wip
  .storybook/main.js
  package-lock.json
  package.json
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

ci: allow secrets on PR from forks
  .github/workflows/pull-request.yml
  .github/workflows/verify.yml
Due: none

chore(storybook): updated html title (#154)
  .storybook/main.js
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

chore: update issue templates
  .github/ISSUE_TEMPLATE/new-component-definition.md
Due: prettier --write

refactor: continue to try
  .storybook/preview-head.html
  docs/contributing.stories.mdx
  docs/welcome.stories.mdx
  package-lock.json
  package.json
  playground/template.html
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

test: bl-icon is mocked for tests other than its own test
  package-lock.json
  package.json
  src/components/badge/bl-badge.test.ts
  src/components/button/bl-button.test.ts
  src/components/input/bl-input.test.ts
  web-test-runner.config.mjs
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

feat(tab): added tab css, borders css
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/bl-tab-group.ts
  src/components/tab/bl-tab.css
  src/components/tab/bl-tab.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat(tab): added var for css rules
  src/components/tab/bl-tab.css
Due: none

feat: tab empty commit
  src/components/tab-group/bl-tab-group.css
Due: none

add slot to GDrawer component
  src/components/GDrawer/GDrawer.stories.ts
  src/components/GDrawer/GDrawer.vue
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

feat: input component (#129)
  .lintstagedrc
  .storybook/preview-head.html
  .storybook/preview.js
  custom-elements-manifest.config.mjs
  package-lock.json
  package.json
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/themes/default.css
  tsconfig.json
Due: eslint --rule 'no-console: error' --fix, prettier --write src/, prettier --write

ci: fix deploy storybook env variable
  .github/workflows/publish-storybook.yml
Due: none

fix(storybook): baklava paths fixed
  .storybook/preview-head.html
Due: none

ci: fix publish-storybook
  .github/workflows/publish-storybook.yml
Due: none

ci: add build step to storybook deployment
  .github/workflows/publish-storybook.yml
  package.json
Due: prettier --write

chore(button): css and documentation improvements
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.ts
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

ci: fix publish-storybook
  .github/workflows/publish-storybook.yml
  package.json
Due: prettier --write

docs: using baklava in vue doc added (#148)
  .storybook/preview.js
  docs/using-baklava-in-vue.stories.mdx
Due: eslint --rule 'no-console: error' --fix, prettier --write src/

Path conditions:
  eslint --rule 'no-console: error' --fix: any of: *.{ts,tsx,js}
  prettier --write src/: any of: *.{ts,tsx,js}
  prettier --write: any of: *.{json,md}
