Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(storybook): update version button text
  .storybook/preview.ts
Due: tsc --noEmit, eslint .

feature: add beta and stable version button into index page
  README.md
Due: none

docs(storybook): update welcome page
  README.md
  docs/welcome.stories.mdx
Due: none

fix(dialog): remove shadow from footer when scroll hits bottom (#809)
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  ae/0cffdbf443e85341b0eda1654833ef5f27240b
Due: none

fix(select): fix select value bug when undefined
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(select): fix divider displaying for single variant
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

refactor(accordion): add tests & update parameters
  src/components/accordion-group/accordion/bl-accordion.css
  src/components/accordion-group/accordion/bl-accordion.test.ts
  src/components/accordion-group/accordion/bl-accordion.ts
  src/components/accordion-group/bl-accordion-group.css
  src/components/accordion-group/bl-accordion-group.test.ts
  src/components/accordion-group/bl-accordion-group.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): fix condition for clear button
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

docs(accordion): add stories
  src/components/accordion-group/accordion/bl-accordion.stories.mdx
  src/components/accordion-group/bl-accordion-group.stories.mdx
Due: none

fix(select): update condition for searchable situations
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(select): linter
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feat: split-button component
  commitlint.config.cjs
  src/baklava.ts
  src/components/dropdown/item/bl-dropdown-item.ts
  src/components/split-button/bl-split-button.css
  src/components/split-button/bl-split-button.stories.mdx
  src/components/split-button/bl-split-button.test.ts
  src/components/split-button/bl-split-button.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): fix divider displaying for single variant (#817)
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  98/9d1b7c0a3d3cca329523828f350697cddd9edf
Due: none

fix(select): fix select value bug when undefined (#815)
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  47/4cd949c8c289431395cccbde543b1563baacad
Due: none

docs: revert template
  playground/template.html
Due: none

refactor(accordion): run prettier
  src/components/accordion-group/accordion/bl-accordion.css
  src/components/accordion-group/bl-accordion-group.css
Due: stylelint src/**/*.css

feat: split-button component (#814)
  commitlint.config.cjs
  src/baklava.ts
  src/components/dropdown/item/bl-dropdown-item.ts
  src/components/split-button/bl-split-button.css
  src/components/split-button/bl-split-button.stories.mdx
  src/components/split-button/bl-split-button.test.ts
  src/components/split-button/bl-split-button.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  ca/06fb678866c562e160129d9a6e00faeaa461d8
Due: none

style(accordion): change focus-visible behavior
  src/components/accordion-group/accordion/bl-accordion.css
Due: stylelint src/**/*.css

refactor(accordion): linter
  src/components/accordion-group/accordion/bl-accordion.css
Due: stylelint src/**/*.css

style(accordion): outline auto not working expected in firefox
  src/components/accordion-group/accordion/bl-accordion.css
Due: stylelint src/**/*.css

feat(drawer): add dynamic width feature to drawer
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.test.ts
  src/components/drawer/bl-drawer.ts
  src/utilities/style-to-px-converter.test.ts
  src/utilities/style-to-px.converter.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(drawer): add dynamic width feature to drawer with props
  src/components/drawer/bl-drawer.stories.mdx
  src/components/drawer/bl-drawer.test.ts
  src/components/drawer/bl-drawer.ts
Due: tsc --noEmit, eslint .

feat(drawer): add min width threshold & code review
  src/components/drawer/bl-drawer.stories.mdx
  src/components/drawer/bl-drawer.test.ts
  src/components/drawer/bl-drawer.ts
  src/utilities/style-to-px-converter.test.ts
  src/utilities/style-to-px.converter.ts
Due: tsc --noEmit, eslint .

feat(drawer): add dynamic width feature to drawer (#820)
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.stories.mdx
  src/components/drawer/bl-drawer.test.ts
  src/components/drawer/bl-drawer.ts
  src/utilities/style-to-px-converter.test.ts
  src/utilities/style-to-px.converter.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  ae/f2ae8411dc5808838543201b9ecb972f3bba36
Due: none

calendar component calculate calendar days and render
  playground/template.html
  src/baklava.ts
  src/components/calendar/bl-calendar.constant.ts
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

changing names to be understandable
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

build: continue if component is not custom element
  scripts/generate-react-exports.js
Due: eslint .

feat(calendar): calculate calendar days and render calendar component
  commitlint.config.cjs
  playground/template.html
  src/baklava.ts
  src/components/calendar/bl-calendar.constant.ts
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(calendar): changing names to be understandable
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

refactor(calendar): review updates
  playground/template.html
  src/components/calendar/bl-calendar.constant.ts
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint .

refactor(calendar): improve excluded files for build
  custom-elements-manifest.config.mjs
  scripts/generate-react-exports.js
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

docs(storybook): add ssr and csr documentation for next
  docs/using-baklava-in-next.stories.mdx
  docs/using-baklava-in-react.stories.mdx
Due: none

feat(calendar): set months and years view for calendar
  playground/template.html
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
