Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

feat(bl-calendar): more clean up
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  68/b2dfa801541135381cc0dc7662c5dbcb55c23b
Due: none

fix(bl-calendar): min-date max-date compare fix
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  36/f146c0b3d6cae1c9b1f54b6773434bb4cc87a8
Due: none

fix(bl-datepicker) fix the issue that causes min-date and max-date cannot be the same day
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

CEM-1512 add hover tooltip functionality to the calendar component
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

CEM-1512 calendar component tests added
  src/components/datepicker/bl-datepicker.test.ts
Due: tsc --noEmit, eslint .

CEM-1512 calendar component tests added
  src/components/calendar/bl-calendar.test.ts
Due: tsc --noEmit, eslint .

CEM-1512 tooltip content find performance improvements
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

CEM-1512 update storybook documentation and fix padding issue
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.stories.mdx
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.stories.mdx
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

CEM-1512 update storybook with disabled dates example
  src/components/datepicker/bl-datepicker.stories.mdx
Due: none

CEM-1512 add hover tooltip functionality to the calendar component
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.css
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(calendar): fix undefined error
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  fd/2a6d7a7b429a7a0bae1f7d5f882531dae489a6
Due: none

feat(lang): support for romanian and arabic
  commitlint.config.cjs
  lit-localize.json
  package.json
  scripts/generate-react-exports.js
  src/generated/locale-codes.ts
  src/generated/locales/ar.ts
  src/generated/locales/ro.ts
  src/generated/locales/tr.ts
  translations/ar.xlf
  translations/ro.xlf
Due: tsc --noEmit, eslint .

chore(storybook): update localization page text
  docs/localization.stories.mdx
Due: none

Notes added by 'git notes add'
  b0/c89be2c29cc890ae21412d80f24c8fb9ba6cc7
Due: none

fix(lang): support romanian and arabic this fixes romanian and arabic language support, also only loads the required language and not all
  src/localization.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  47/2576f54880ad36b027833aba99c9b111b96539
Due: none

feat(table): add table no data content area
  src/components/table/bl-table.stories.mdx
  src/components/table/table-body/bl-table-body.css
  src/components/table/table-body/bl-table-body.ts
  src/generated/locales/ar.ts
  src/generated/locales/ro.ts
  src/generated/locales/tr.ts
  translations/ar.xlf
  translations/ro.xlf
  translations/tr.xlf
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

test(table): add unit tests for no-data feature
  src/components/table/table-body/bl-table-body.test.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  17/9d5be6c011304d97e40d911eb835c342b61b16
Due: none

refactor(deps): add legacy react exports
  cemPlugins/generateReactExports.js
Due: eslint .

refactor(deps): rewrite all type generations and support svelte types
  cemPlugins/addJsDoc.js
  cemPlugins/decoratedEventCollector.js
  cemPlugins/generateReactExports.js
  cemPlugins/generateSvelteTypes.js
  cemPlugins/generateVueTypes.js
  cemPlugins/parsedTypeEnhancer.js
  cemPlugins/utils/Resolver.js
  cemPlugins/utils/removeDuplications.js
  cemPlugins/utils/resolveFilePath.js
  cemPlugins/utils/resolveParsedType.js
  custom-elements-manifest.config.mjs
  package-lock.json
  package.json
  scripts/generate-react-exports.js
  scripts/generate-vue-types.js
Due: eslint .

doc: add adr documents for dropdown
  src/components/dropdown/docs/ADR/icon-implementation.md
Due: none

ci: change playwright install command
  .github/workflows/verify-and-release-beta.yml
Due: none

ci: change verify stages
  .github/workflows/verify-and-release-beta.yml
Due: none

feat(dropdown): trigger release
  src/components/dropdown/docs/ADR/icon-implementation.md
Due: none

feat(link): link component add link component no breaking change, new component, 906
  commitlint.config.cjs
  src/baklava.ts
  src/components/link/bl-link.css
  src/components/link/bl-link.stories.ts
  src/components/link/bl-link.test.ts
  src/components/link/bl-link.ts
  src/components/link/docs/ADR/link-component-implementation.md
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(link): make anchor attrs optional
  src/components/link/bl-link.test.ts
  src/components/link/bl-link.ts
Due: tsc --noEmit, eslint .

fix(link): change default font family
  src/components/link/bl-link.css
Due: stylelint src/**/*.css

fix(link): remove unnecessary navigation handling
  src/components/link/bl-link.test.ts
  src/components/link/bl-link.ts
Due: tsc --noEmit, eslint .
