Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

doc(select): better form validation demo
  .storybook/preview-body.html
  src/components/select/bl-select.stories.mdx
Due: none

docs(select): use inner button to submit form
  src/components/select/bl-select.stories.mdx
Due: none

refactor(dropdown): integrate bl-popover instead of local solution #480
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/bl-dropdown.test.ts
  src/components/dropdown/bl-dropdown.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(popover): fit-size should act as minimum width Docs says fit-size matches popover width at least to target, but uses fixed width. Also refer: #480
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

fix(dropdown): popover width should be at least the size of the button
  src/components/dropdown/bl-dropdown.test.ts
  src/components/dropdown/bl-dropdown.ts
Due: tsc --noEmit, eslint .

docs(select): better form validation demo (#509)
  .storybook/preview-body.html
  src/components/select/bl-select.stories.mdx
Due: none

refactor(dropdown): popover target should be the button, not dropdown component
  src/components/dropdown/bl-dropdown.ts
Due: tsc --noEmit, eslint .

fix(input): icon gaps fixed
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
Due: stylelint src/**/*.css

docs: fluid wrapper for story snapshots
  .storybook/preview.js
Due: eslint .

fix(input): make showing password reveal button reactive
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

fix(input): label style and background color fixed (#506)
  .github/workflows/verify.yml
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(popover): using min-width for fit-size (#510)
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/bl-dropdown.test.ts
  src/components/dropdown/bl-dropdown.ts
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  08/615a4043e61f4a72ab4d34b77362089a220028
Due: none

refactor: color palette playground removed
  .storybook/assets/color-palette.html
Due: none

fix: color fixes in components
  src/components/button/bl-button.css
  src/components/dialog/bl-dialog.css
  src/themes/default.css
Due: stylelint src/**/*.css

fix: color fixes in components
  src/components/input/bl-input.css
  src/components/textarea/bl-textarea.css
Due: stylelint src/**/*.css

fix(dialog): backdrop color fix
  src/components/dialog/bl-dialog.css
Due: stylelint src/**/*.css

fix: color fixes
  src/components/input/bl-input.css
  src/components/tab-group/tab/bl-tab.css
Due: stylelint src/**/*.css

feat(input): set custom error state (#503)
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

fix: duplicate rows
  src/components/input/bl-input.ts
  src/components/select/bl-select.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  c1/eca71b5d4f9ec98a835faf85424185c63312f4
Due: none

fix(checkbox): delegate focus in checkbox (#507)
  src/components/checkbox-group/checkbox/bl-checkbox.ts
  src/components/input/bl-input.ts
  src/components/select/bl-select.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  66/ff731babc793eade5a98c552eb2d0ce9703739
Due: none

feat: add target property
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
Due: tsc --noEmit, eslint .

fix: color fixes
  .storybook/manager.js
  src/components/input/bl-input.css
  src/components/progress-indicator/bl-progress-indicator.css
Due: eslint ., stylelint src/**/*.css

docs(dialog): fix dialog opener
  src/components/dialog/bl-dialog.stories.mdx
Due: none

docs(dialog): dialog opener id fix
  src/components/dialog/bl-dialog.stories.mdx
Due: none

ci: branch based deployments
  .github/workflows/verify-and-release-beta.yml
  .github/workflows/verify-and-release-stable.yml
Due: none

docs: readme tunings
  README.md
  package-lock.json
  package.json
Due: none

docs: logo update
  .storybook/manager.js
Due: eslint .

docs: beta to v2
  docs/baklava-release-flow.stories.mdx
  docs/customizing-baklava-theme.stories.mdx
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
Due: none

docs: readme preperation for stable release (#493)
  .eslintrc.js
  .github/workflows/verify-and-release-beta.yml
  .github/workflows/verify-and-release-stable.yml
  .npmrc
  .storybook/manager.js
  README.md
  docs/baklava-release-flow.stories.mdx
  docs/commit-rules.stories.mdx
  docs/contributing.stories.mdx
  docs/customizing-baklava-theme.stories.mdx
  docs/how-to-use-playground.stories.mdx
  docs/linting.stories.mdx
  docs/testing.stories.mdx
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
  package-lock.json
  package.json
  src/components/badge/bl-badge.ts
  src/components/button/bl-button.ts
  src/components/checkbox-group/bl-checkbox-group.ts
  src/components/icon/bl-icon.ts
  src/components/radio-group/bl-radio-group.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feat: new color palette (#359)
  .storybook/manager.js
  docs/design-system/colors.stories.mdx
  docs/how-to-customize-a-components-style.stories.mdx
  docs/using-baklava-in-react.stories.mdx
  src/components/alert/bl-alert.css
  src/components/badge/bl-badge.css
  src/components/badge/bl-badge.stories.mdx
  src/components/badge/bl-badge.ts
  src/components/button/bl-button.css
  src/components/checkbox-group/bl-checkbox-group.css
  src/components/checkbox-group/checkbox/bl-checkbox.css
  src/components/checkbox-group/checkbox/bl-checkbox.stories.mdx
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.stories.mdx
  src/components/drawer/bl-drawer.css
  src/components/drawer/bl-drawer.ts
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/group/bl-dropdown-group.css
  src/components/icon/bl-icon.stories.mdx
  src/components/input/bl-input.css
  src/components/pagination/bl-pagination.css
  src/components/popover/bl-popover.css
  src/components/popover/bl-popover.stories.mdx
  src/components/popover/bl-popover.ts
  src/components/progress-indicator/bl-progress-indicator.css
  src/components/progress-indicator/bl-progress-indicator.stories.mdx
  src/components/radio-group/bl-radio-group.css
  src/components/radio-group/radio/bl-radio.css
  src/components/select/bl-select.css
  src/components/select/option/bl-select-option.css
  src/components/switch/bl-switch.css
  src/components/switch/bl-switch.stories.mdx
  src/components/switch/bl-switch.ts
  src/components/tab-group/bl-tab-group.css
  src/components/tab-group/tab-panel/bl-tab-panel.css
  src/components/tab-group/tab/bl-tab.css
  src/components/textarea/bl-textarea.css
  src/components/tooltip/bl-tooltip.css
  src/themes/default.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  2e/72455aced799be5322d5efabfbd0cac61cc2db
Due: none

Notes added by 'git notes add'
  5f/18dce42dd0abb0e8c104aef26d4de9f90a7010
Due: none

ci: add delay to wait downloading font
  .storybook/preview.js
Due: eslint .

ci: increase delay to test
  .storybook/preview.js
Due: eslint .

feat(deps): support node v18
  .npmrc
  package-lock.json
  package.json
  web-test-runner.config.mjs
Due: none

feat(switch): implement off color variable on bl-switch
  src/components/switch/bl-switch.css
  src/components/switch/bl-switch.stories.mdx
  src/components/switch/bl-switch.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(switch): update attribute defined check
  src/components/switch/bl-switch.stories.mdx
Due: none
