Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

fix(dialog): closed dialog takes up space in layout
  src/components/dialog/bl-dialog.css
Due: stylelint src/**/*.css

docs: update github issue and pr templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE/pull_request.md
Due: none

fix(popover): dont take up space in layour when popover is hidden
  src/components/popover/bl-popover.css
Due: stylelint src/**/*.css

docs: added neutral badge variant to the docs (#578)
  src/components/badge/bl-badge.stories.mdx
Due: none

fix(dialog): closed dialog takes up space in layout (#584)
  src/components/dialog/bl-dialog.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  22/7741e3002570f159823b7bcc2608ac6d9d2c7b
Due: none

docs: update feature & component templates
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new-component-definition.md
Due: none

docs: fix incorrect template extension
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/new-component-definition.yml
Due: none

refactor(dropdown): unneeded default values are removed
  src/components/dropdown/bl-dropdown.test.ts
  src/components/dropdown/bl-dropdown.ts
Due: tsc --noEmit, eslint .

fix(checkbox): wrong aria label definition removed
  src/components/checkbox-group/checkbox/bl-checkbox.test.ts
  src/components/checkbox-group/checkbox/bl-checkbox.ts
Due: tsc --noEmit, eslint .

fix(dropdown): fix wrong labelledby definition
  src/components/dropdown/group/bl-dropdown-group.test.ts
  src/components/dropdown/group/bl-dropdown-group.ts
Due: tsc --noEmit, eslint .

fix(radio): fix aria label
  src/components/radio-group/bl-radio-group.test.ts
  src/components/radio-group/bl-radio-group.ts
Due: tsc --noEmit, eslint .

docs: improve storybook canvas control definitions
  src/components/button/bl-button.stories.mdx
  src/components/input/bl-input.stories.mdx
Due: none

feat(dialog): bl-dialog-before-close event added
  src/components/dialog/bl-dialog.stories.mdx
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
  src/utilities/event.ts
Due: tsc --noEmit, eslint .

refactor(dialog): fix mixed and remaining codes
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

docs: update pr template
  .github/PULL_REQUEST_TEMPLATE/pull_request.md
Due: none

fix(radio): fix aria label (#592)
  src/components/radio-group/bl-radio-group.test.ts
  src/components/radio-group/bl-radio-group.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  8b/810a7d9299f50c13e307d41642e3dd8a4187aa
Due: none

docs: update github issue and pr templates (#585)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/new-component-definition.md
  .github/ISSUE_TEMPLATE/new-component-definition.yml
  .github/PULL_REQUEST_TEMPLATE/pull_request.md
Due: none

docs: update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

docs: fix syntax issues
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/new-component-definition.yml
Due: none

docs: update wordings
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix(tab): fix persistent scrollbar issues for the tab-group component on Windows #582
  src/components/tab-group/bl-tab-group.css
Due: stylelint src/**/*.css

docs: update bug_report.yml (#602)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/new-component-definition.yml
Due: none

fix(dialog): no bottom padding for content if actions exists
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(button): form property added for setting target form
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
Due: tsc --noEmit, eslint .

fix(tab): fix the persistent scrollbar issue for the tab-group component (#601)
  src/components/tab-group/bl-tab-group.css
Due: stylelint src/**/*.css

docs(dropdown): set label for stories
  src/components/dropdown/bl-dropdown.stories.mdx
Due: none

Notes added by 'git notes add'
  3b/a54211523fe57e8b8352f61c8ded9df62ebd12
Due: none

feat(select): accessibility improvement on select and option component
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.test.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint .

docs(dropdown): set label for stories
  src/components/dropdown/group/bl-dropdown-group.stories.mdx
Due: none

fix(dropdown): group border fix
  src/components/dropdown/bl-dropdown.css
  src/components/dropdown/bl-dropdown.ts
  src/components/dropdown/group/bl-dropdown-group.css
  src/components/dropdown/group/bl-dropdown-group.stories.mdx
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(dialog): no bottom padding for content if actions exists (#604)
  src/components/dialog/bl-dialog.css
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(button): form property added for setting target form (#605)
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
Due: tsc --noEmit, eslint .

chore(deps): rubik font version upgrade
  .storybook/preview-body.html
  package-lock.json
  package.json
  src/themes/default.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  cd/d499b7cc566543b731290b6d6b79856729be54
Due: none

refactor(dialog): before-close renamed as request-close
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

docs(dialog): event name fix and better example
  src/components/dialog/bl-dialog.stories.mdx
Due: none

feat(dialog): bl-dialog-request-close event added (#594)
  src/components/dialog/bl-dialog.stories.mdx
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
  src/utilities/event.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  9f/42c040ba4c9ebce0b8ca377a10e2207ca020bf
Due: none
