Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: baklava book web component documentation project #1146
  baklava-book/src/components/Header.vue
  baklava-book/src/components/SearchModal.vue
Due: none

feat: baklava book web component documentation project #1146
  package.json
Due: none

feat: baklava book web component documentation project #1136
  .storybook/main.ts
  .storybook/manager-head.html
  baklava-book/vite.config.ts
  package.json
Due: tsc --noEmit, eslint .

feat: baklava book web component documentation project #1136
  package.json
Due: none

feat: baklava book web component documentation project #1136
  baklava-book/package-lock.json
  baklava-book/package.json
  baklava-book/src/components/IconographyDemo.vue
  baklava-book/src/components/demos/IconDemo.vue
  baklava-book/src/data/doc-contents.ts
Due: tsc --noEmit, eslint .

feat: baklava book web component documentation project #1136
  baklava-book/package.json
Due: none

feat: baklava book web component documentation project #1136
  .storybook/main.ts
  package.json
Due: tsc --noEmit, eslint .

feat: baklava book web component documentation project #1136
  .github/workflows/deploy-book.yml
  baklava-book/package.json
  baklava-book/vite.config.ts
Due: tsc --noEmit, eslint .

feat(input): add text-overflow ellipsis for disabled inputs
  src/components/input/bl-input.css
  src/components/input/bl-input.test.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: baklava book web component documentation project #1136
  baklava-book/src/components/Sidebar.vue
  baklava-book/src/data/components.ts
Due: tsc --noEmit, eslint .

feat: #683 slider component
  src/baklava.ts
  src/components/slider/bl-slider.css
  src/components/slider/bl-slider.stories.mdx
  src/components/slider/bl-slider.test.ts
  src/components/slider/bl-slider.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: #683 slider component
  src/components/slider/bl-slider.test.ts
Due: tsc --noEmit, eslint .

feat: #683 slider component
  src/components/slider/bl-slider.stories.mdx
Due: none

chore: update deploy workflow to include new-docs branch and standardize quotes
  .github/workflows/deploy-book.yml
Due: none

chore: remove new-docs branch from deploy workflow
  .github/workflows/deploy-book.yml
Due: none

feat: #683 slider component
  src/components/slider/bl-slider.css
  src/components/slider/bl-slider.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: new docs
  baklava-book/src/components/ColorPalette.vue
  baklava-book/src/components/DemoSection.vue
  baklava-book/src/components/SizingDemo.vue
  baklava-book/src/components/TypographyDemo.vue
  baklava-book/src/components/demos/AccordionGroupDemo.vue
  baklava-book/src/components/demos/BadgeDemo.vue
  baklava-book/src/components/demos/CalendarDemo.vue
  baklava-book/src/components/demos/CheckboxGroupDemo.vue
  baklava-book/src/components/demos/DialogDemo.vue
  baklava-book/src/components/demos/DrawerDemo.vue
  baklava-book/src/components/demos/DropdownDemo.vue
  baklava-book/src/components/demos/NotificationDemo.vue
  baklava-book/src/components/demos/PopoverDemo.vue
  baklava-book/src/components/demos/RadioGroupDemo.vue
  baklava-book/src/components/demos/SelectDemo.vue
  baklava-book/src/components/demos/SplitButtonDemo.vue
  baklava-book/src/components/demos/StepperDemo.vue
  baklava-book/src/components/demos/SwitchDemo.vue
  baklava-book/src/components/demos/TabGroupDemo.vue
  baklava-book/src/data/components.ts
  baklava-book/src/data/docs.ts
  baklava-book/src/views/ComponentView.vue
Due: tsc --noEmit, eslint .

fix(accordion-group): fix border bug when bl-accordion-group has a single bl-accordion child
  src/components/accordion-group/bl-accordion-group.css
Due: stylelint src/**/*.css

feat: #683 slider component
  src/components/slider/bl-slider.css
Due: stylelint src/**/*.css

feat: #1124 file upload component
  src/baklava.ts
  src/components/upload/bl-upload.css
  src/components/upload/bl-upload.stories.ts
  src/components/upload/bl-upload.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(deps): add event handlers to react export
  cemPlugins/generateReactExports.js
Due: eslint .

fix(deps): add event handlers to react export (#1146)
  cemPlugins/generateReactExports.js
Due: eslint .

feat: #1124 file upload component
  src/components/upload/bl-upload.css
  src/components/upload/bl-upload.stories.mdx
  src/components/upload/bl-upload.stories.ts
  src/components/upload/bl-upload.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  f1/25719ca4b3af453bac936d61eeb9eb030beee8
Due: none

fix(deps): add event handlers to react export (#1145)
  cemPlugins/generateReactExports.js
Due: eslint .

Notes added by 'git notes add'
  38/aa48f721cc268441324fedaffc4d7429c7df00
Due: none

feat(switch): add loading state
  src/components/switch/bl-switch.css
  src/components/switch/bl-switch.test.ts
  src/components/switch/bl-switch.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(deps): rename name to tag name for element class
  cemPlugins/generateReactExports.js
Due: eslint .

fix(deps): rename name to tag name for element class (#1148)
  cemPlugins/generateReactExports.js
Due: eslint .

feat: #1124 file upload component
  src/components/upload/bl-upload.css
  src/components/upload/bl-upload.stories.mdx
  src/components/upload/bl-upload.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  e5/b004564ad4cac307150ead0259b36856c6c65c
Due: none

fix(deps): rename name to tag name for element class (#1149)
  cemPlugins/generateReactExports.js
Due: eslint .

Notes added by 'git notes add'
  20/4c80fd788b4e1f84cb2b3f75ec7c172e144cfb
Due: none

fix(table): row highlight on checkbox selection
  src/components/table/bl-table.ts
Due: tsc --noEmit, eslint .

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
