Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

chore(deps): form-control version up
  commitlint.config.js
  package-lock.json
  package.json
Due: eslint .

fix(popover): fix some words, spaces and values
  src/components/popover/bl-popover.stories.mdx
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

fix(popover): fix storybook errır
  src/components/popover/bl-popover.stories.mdx
Due: none

fix(select): visual fixes
  src/components/select/bl-select.css
  src/components/select/option/bl-select-option.css
Due: stylelint src/**/*.css

fix(input): fix listening value property changes (#460)
  src/components/input/bl-input.ts
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint .

feat(input): add loading state (#422)
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.test.ts
  src/components/button/bl-button.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  15/b83e8a441b1b3f5454109c35e04be6f9dcfb84
Due: none

fix(tab): remove redundant divider span
  src/components/tab-group/tab/bl-tab.css
  src/components/tab-group/tab/bl-tab.test.ts
  src/components/tab-group/tab/bl-tab.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(popover): arrow border, click outside and stories padding
  src/components/popover/bl-popover.css
  src/components/popover/bl-popover.stories.mdx
  src/components/popover/bl-popover.test.ts
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(popover): middleware order fixed, safer event listening
  src/components/popover/bl-popover.css
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(popover): default values are replaced with variables
  src/components/popover/bl-popover.stories.mdx
Due: none

refactor(popover): code formatting
  src/components/popover/bl-popover.test.ts
Due: tsc --noEmit, eslint .

chore(deps): submit helper updated
  package-lock.json
  package.json
Due: none

chore: floating ui version bump
  package-lock.json
  package.json
Due: none

fix(select): fixed issues with keyboard navigation
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint .

test(textarea): fix timeout test
  src/components/textarea/bl-textarea.test.ts
Due: tsc --noEmit, eslint .

chore(tab): change tab-panel hidden attribute to a state
  src/components/tab-group/tab-panel/bl-tab-panel.css
  src/components/tab-group/tab-panel/bl-tab-panel.test.ts
  src/components/tab-group/tab-panel/bl-tab-panel.ts
  src/components/tab-group/tab/bl-tab.css
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): close popover when focus leave select
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(popover): remove shift param
  src/components/popover/bl-popover.stories.mdx
  src/components/popover/bl-popover.test.ts
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

feat(popover): add font and color
  src/components/popover/bl-popover.css
Due: stylelint src/**/*.css

fix(popover): content color
  src/components/popover/bl-popover.css
Due: stylelint src/**/*.css

feat(select): native form integration and a11y improvements (#431)
  commitlint.config.js
  custom-elements-manifest.config.mjs
  package-lock.json
  package.json
  scripts/generate-react-exports.js
  src/components/drawer/bl-drawer.css
  src/components/input/bl-input.css
  src/components/input/bl-input.ts
  src/components/pagination/bl-pagination.ts
  src/components/select/bl-select.css
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.css
  src/components/select/option/bl-select-option.test.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

test(textarea): fix timeout test (#473)
  src/components/textarea/bl-textarea.test.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  fe/080749ae4c0f2a675fbe4b43c58e1906a9502a
Due: none

docs(popover): storybook doc is improved
  src/components/popover/bl-popover.stories.mdx
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

test(select): fixed randomly failing test
  src/components/select/bl-select.test.ts
Due: tsc --noEmit, eslint .

feat: popover component (#453)
  commitlint.config.js
  package-lock.json
  package.json
  src/baklava.ts
  src/components/popover/bl-popover.css
  src/components/popover/bl-popover.stories.mdx
  src/components/popover/bl-popover.test.ts
  src/components/popover/bl-popover.ts
  src/components/select/bl-select.test.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  01/95600a4f1a5d0127bb988c9969e8ef7ccbc83b
Due: none

chore: listen local network in serve mode
  scripts/build.js
Due: eslint .

refactor(dialog): jsdoc comment placement fixed
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

fix(input): stepMismatch validity state added for checks
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint .

feat(button): autofocus attribute added for button
  src/components/button/bl-button.ts
Due: tsc --noEmit, eslint .

feat(input): add more missing attributes
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
Due: tsc --noEmit, eslint .

feat(textarea): add more missing attributes
  src/components/textarea/bl-textarea.css
  src/components/textarea/bl-textarea.test.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(select): fix additional selection number when value set empty
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

refactor(select): console log clear
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

test(select): case added for clearing value
  src/components/select/bl-select.test.ts
Due: tsc --noEmit, eslint .

refactor(select): clear commented code
  src/components/select/bl-select.test.ts
Due: tsc --noEmit, eslint .

chore: readonly prop removed because of ux reasons
  src/components/input/bl-input.ts
  src/components/textarea/bl-textarea.ts
Due: tsc --noEmit, eslint .

feat(select): autofocus property is added
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .
