Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

Notes added by 'git notes add'
  e65cb90a68973769a9b800901cdb8d5d67759640
Due: none

feat(icon): partial_approve and disable icons added
  src/components/icon/icon-list.ts
  src/components/icon/icons/disable.svg
  src/components/icon/icons/partial_approve.svg
Due: tsc --noEmit, eslint .

refactor(pagination): button events
  src/components/pagination/bl-pagination.css
  src/components/pagination/bl-pagination.stories.mdx
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(input): elementinternals for input
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint .

feat(input): elementinternals implementation for input
  src/components/button/bl-button.ts
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/utilities/form-control.test.ts
Due: tsc --noEmit, eslint .

feat(input): elementinternals implementation for input component (#220)
  package-lock.json
  package.json
  src/components/button/bl-button.ts
  src/components/input/bl-input.css
  src/components/input/bl-input.stories.mdx
  src/components/input/bl-input.test.ts
  src/components/input/bl-input.ts
  src/utilities/form-control.test.ts
  src/utilities/form-control.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(icon): partial_approve and disable icons added (#249)
  src/components/icon/icon-list.ts
  src/components/icon/icons/disable.svg
  src/components/icon/icons/partial_approve.svg
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  c178d6974b7c4705e81929ef4efb59fac4f615db
Due: none

style(bl-tooltip): add max-content width
  src/components/tooltip/bl-tooltip.css
Due: stylelint src/**/*.css

test: add pagination tests
  src/components/pagination/bl-pagination.css
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
  web-test-runner.config.mjs
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: popover and selected issue
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

refactor: change typography and fix document
  docs/design-system/typography.stories.mdx
  src/components/alert/bl-alert.css
  src/components/badge/bl-badge.css
  src/themes/default.css
Due: stylelint src/**/*.css

docs: release flow document added
  docs/baklava-release-flow.stories.mdx
Due: none

fix(select): fix delay of arrow icon change on opening popup
  commitlint.config.js
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix: fix typo
  docs/design-system/typography.stories.mdx
Due: none

test(pagination): revert icon changes
  src/components/pagination/bl-pagination.test.ts
  web-test-runner.config.mjs
Due: tsc --noEmit, eslint .

fix(select): fix delay of arrow icon change on opening popup (#256)
  commitlint.config.js
  src/components/select/bl-select.css
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  17ee9be7a153d901635e4a2454b1df88bf0c6b6d
Due: none

test: mocking strategy of bl-icon is improved
  package-lock.json
  package.json
  src/components/pagination/bl-pagination.ts
  src/utilities/icon-mock.ts
  web-test-runner.config.mjs
Due: tsc --noEmit, eslint .

docs: release flow document added (#255)
  docs/baklava-release-flow.stories.mdx
Due: none

fix(tooltip): use max-content width for tooltip content (#253)
  src/components/tooltip/bl-tooltip.css
Due: stylelint src/**/*.css

Notes added by 'git notes add'
  54ca2c0df97d9bb162e1a904b53ca822d6536eb9
Due: none

fix(select): popover and selected issue (#257)
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  4cd7d67cc76e120290806fef0fa877100f4cca91
Due: none

test(pagination): complete tests for select helper
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

docs: theme customization document added
  docs/customizing-baklava-theme.stories.mdx
Due: none

docs: menu title shortened
  docs/how-to-customize-a-components-style.stories.mdx
Due: none

docs: select helper docs for pagination
  src/components/pagination/bl-pagination.stories.mdx
Due: none

fix(pagination): setting page on select changes
  src/components/pagination/bl-pagination.stories.mdx
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
Due: tsc --noEmit, eslint .

docs: word accent change
  docs/customizing-baklava-theme.stories.mdx
Due: none

fix: change typography variable in select and input
  src/components/input/bl-input.css
  src/components/select/bl-select.css
Due: stylelint src/**/*.css

docs: theme customization document added (#260)
  docs/customizing-baklava-theme.stories.mdx
  docs/how-to-customize-a-components-style.stories.mdx
Due: none

refactor(button): replace variants and kinds
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
  src/components/button/bl-button.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(button): update stories
  src/components/button/bl-button.stories.mdx
Due: none

fix: typography body-text names changed
  docs/design-system/typography.stories.mdx
  src/components/alert/bl-alert.css
  src/themes/default.css
Due: stylelint src/**/*.css

refactor: change typography variables and fix document (#254)
  docs/design-system/typography.stories.mdx
  src/components/alert/bl-alert.css
  src/components/badge/bl-badge.css
  src/components/input/bl-input.css
  src/components/select/bl-select.css
  src/themes/default.css
Due: stylelint src/**/*.css

fix(pagination): implement review finding
  src/components/pagination/bl-pagination.css
  src/components/pagination/bl-pagination.stories.mdx
  src/components/pagination/bl-pagination.test.ts
  src/components/pagination/bl-pagination.ts
  web-test-runner.config.mjs
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: purge cache on cdn
  .github/workflows/purge-cache.yml
  .github/workflows/verify-and-release.yml
Due: none

fix: delete unnecessary secret
  .github/workflows/purge-cache.yml
Due: none

style(button): relocate style variables under button
  src/components/button/bl-button.css
  src/components/button/bl-button.stories.mdx
Due: stylelint src/**/*.css
