Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

feat: initial commit of component
  playground/template.html
  src/baklava.ts
  src/components/stepper/bl-stepper-item.css
  src/components/stepper/bl-stepper-item.test.ts
  src/components/stepper/bl-stepper-item.ts
  src/components/stepper/bl-stepper.css
  src/components/stepper/bl-stepper.mdx
  src/components/stepper/bl-stepper.stories.ts
  src/components/stepper/bl-stepper.test.ts
  src/components/stepper/bl-stepper.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(stepper): add adr
  commitlint.config.cjs
  src/components/stepper/doc/ADR.md
Due: none

feat(stepper): run prettier for bl-stepper-item.css
  src/components/stepper/bl-stepper-item.css
Due: stylelint src/**/*.css

feat(stepper): increase code coverage
  src/components/stepper/bl-stepper-item.test.ts
  src/components/stepper/bl-stepper.test.ts
Due: tsc --noEmit, eslint .

feat(stepper): run linter
  src/components/stepper/bl-stepper.mdx
Due: none

feat(stepper): stepper component completed
  playground/template.html
  src/components/stepper/bl-stepper-item.css
  src/components/stepper/bl-stepper-item.test.ts
  src/components/stepper/bl-stepper-item.ts
  src/components/stepper/bl-stepper.css
  src/components/stepper/bl-stepper.mdx
  src/components/stepper/bl-stepper.test.ts
  src/components/stepper/bl-stepper.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

style(select): prettier
  src/components/select/option/bl-select-option.css
Due: stylelint src/**/*.css

doc(select): update label
  src/components/select/bl-select.stories.mdx
Due: none

docs(select): update storybook
  src/components/select/bl-select.stories.mdx
Due: none

fix(bl-select): clone nodes
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

style(select): fix prettier
  src/components/select/option/bl-select-option.css
Due: stylelint src/**/*.css

feat(select): add icon property
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.css
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

style(bl-select): add styles
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint .

test(select): add missed tests
  src/components/select/bl-select.test.ts
  src/components/select/option/bl-select-option.test.ts
Due: tsc --noEmit, eslint .

feat(select): add stories
  src/components/select/bl-select.stories.mdx
  src/components/select/option/bl-select-option.stories.mdx
Due: none

style(bl-select): add styles
  src/components/select/bl-select.css
  src/components/select/option/bl-select-option.css
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

test(select): add test cases for icon
  src/components/select/bl-select.test.ts
  src/components/select/option/bl-select-option.test.ts
Due: tsc --noEmit, eslint .

style: fix multiple select
  src/components/select/bl-select.css
Due: stylelint src/**/*.css

feat(select): add icon property
  src/components/select/bl-select.ts
  src/components/select/option/bl-select-option.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  a8/d38a62582e3fe45794a3ded7fd88c4c7d485f3
Due: none

Notes added by 'git notes add'
  48/698ed71d3de9b94d83f9e7f9b4b25219494586
Due: none

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
