Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

.lintstagedrc:

{
  "*.ts": [
    "tsc --noEmit"
  ],
  "*.{ts,js}": [
    "eslint ."
  ],
  "*.css": [
    "stylelint src/**/*.css"
  ]
}

docs: bump version in docs (#851)
  README.md
  docs/customizing-baklava-theme.stories.mdx
  docs/localization.stories.mdx
  docs/using-baklava-in-next.stories.mdx
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
Due: none

docs: bump version (#852)
  README.md
  docs/customizing-baklava-theme.stories.mdx
  docs/localization.stories.mdx
  docs/using-baklava-in-next.stories.mdx
  docs/using-baklava-in-react.stories.mdx
  docs/using-baklava-in-vue.stories.mdx
Due: none

feat(calendar): changing calendarDate type implementations and first steps for developing range picker
  playground/template.html
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

refactor(select): getLocale exported from configureLocalization
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/localization.ts
  src/utilities/get-locale-from-html.ts
  web-test-runner.config.mjs
Due: tsc --noEmit, eslint .

feat(icon): add door icon
  src/components/icon/icon-list.ts
  src/components/icon/icons/door.svg
Due: tsc --noEmit, eslint .

feat(icon): add credit_card icon
  src/components/icon/icon-list.ts
  src/components/icon/icons/credit_card.svg
Due: tsc --noEmit, eslint .

feat(icon): rename the door icon with door_open
  src/components/icon/icon-list.ts
  src/components/icon/icons/door_open.svg
Due: tsc --noEmit, eslint .

feat(icon): add door and credit_card icons (#855)
  src/components/icon/icon-list.ts
  src/components/icon/icons/credit_card.svg
  src/components/icon/icons/door_open.svg
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  2f/41ef7678775d84fd486d5a2a096814c57205d3
Due: none

feat(select): improve option navigation by key
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feat(select): fix search text is not clear bug when user click clear button
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

docs(ADR): move ADRs under components directories
  src/components/accordion-group/doc/ADR.md
  src/components/alert/doc/ADR.md
  src/components/badge/doc/ADR.md
  src/components/button/doc/ADR.md
  src/components/checkbox-group/doc/ADR.md
  src/components/dialog/doc/ADR.md
  src/components/drawer/doc/ADR.md
  src/components/dropdown/doc/ADR.md
  src/components/icon/doc/ADR.md
  src/components/input/doc/ADR.md
  src/components/notification/doc/ADR.md
  src/components/pagination/doc/ADR.md
  src/components/popover/doc/ADR.md
  src/components/progress-indicator/doc/ADR.md
  src/components/radio-group/doc/ADR.md
  src/components/select/doc/ADR.md
  src/components/select/doc/Accessibility.md
  src/components/split-button/doc/ADR.md
  src/components/switch/doc/ADR.md
  src/components/tab-group/doc/ADR.md
  src/components/table/doc/ADR.md
  src/components/textarea/doc/ADR.md
  src/components/tooltip/doc/ADR.md
Due: none

feat(select): improve option navigation by key (#856)
  src/components/select/bl-select.stories.mdx
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  a5/26c35ba8f3f6c904b05ae823e4a27b773ee54f
Due: none

story(input): add input masking documentation
  src/components/input/bl-input.stories.mdx
Due: none

feat(select): Improve select search international character support
  src/components/select/bl-select.ts
  src/localization.ts
Due: tsc --noEmit, eslint .

feat(calendar): adding all stories for calendar
  src/components/calendar/bl-calendar.constant.ts
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.stories.mdx
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(calendar): run prettier
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

feat(dialog): implement critical variant
  src/components/dialog/bl-dialog.mdx
  src/components/dialog/bl-dialog.stories.ts
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

fix(dialog): lint error
  src/components/dialog/bl-dialog.stories.ts
Due: tsc --noEmit, eslint .

docs(dialog): update critical dialog confirm button
  src/components/dialog/bl-dialog.stories.ts
Due: tsc --noEmit, eslint .

feat(calendar): design fixes
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.stories.mdx
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(popover): Fix bl-tooltip trigger issue
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

feat(calendar): design fixes and type adding for calendar view and calendar type
  src/components/calendar/bl-calendar.constant.ts
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
  src/components/calendar/bl-calendar.types.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(calendar): change medium button vertical padding
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

style(dialog): add style for tab-group in dialog
  src/components/dialog/bl-dialog.css
Due: stylelint src/**/*.css

docs(dialog): add new story for tab situation in dialog
  src/components/dialog/bl-dialog.mdx
  src/components/dialog/bl-dialog.stories.ts
Due: tsc --noEmit, eslint .

fix(popover): Fix bl-tooltip trigger issue (#871)
  src/components/popover/bl-popover.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  e6/91c7a64d0adb8db45acb4f1e05c109787a02aa
Due: none

feat(tooltip): add target attribute (#848)
  src/components/popover/bl-popover.ts
  src/components/tooltip/bl-tooltip.stories.mdx
  src/components/tooltip/bl-tooltip.test.ts
  src/components/tooltip/bl-tooltip.ts
  src/utilities/elements.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  f2/deab2eeb3fb2c537ba0d6aab7b2cee4ebde04b
Due: none

feat(dialog): implement critical variant (#870)
  src/components/dialog/bl-dialog.mdx
  src/components/dialog/bl-dialog.stories.ts
  src/components/dialog/bl-dialog.test.ts
  src/components/dialog/bl-dialog.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  33/73a3927e18d97ac346584eb3e83b8016f3ace2
Due: none

fix(select): fix disabled select option can be selected with enter
  playground/template.html
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

fix(select): fix disabled select option can be selected with enter
  playground/template.html
Due: none

adding hover class to days
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(calendar): make color white if other month date is selected
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

feat(calendar): format with prettier
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css

feat(calendar): dont give hover to disabled dates
  src/components/calendar/bl-calendar.css
Due: stylelint src/**/*.css
