Repository Trendyol/baklava: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(calendar): fix default date bug
  src/components/datepicker/bl-datepicker.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

ci: change verify stages
  .github/workflows/verify.yml
Due: none

ci: change verify stages
  .github/workflows/pull-request-next.yml
  .github/workflows/verify-and-release-beta.yml
Due: none

fix: fix tests
  src/components/accordion-group/accordion/bl-accordion.css
  src/components/accordion-group/accordion/bl-accordion.test.ts
  src/components/notification/bl-notification.test.ts
  src/components/textarea/bl-textarea.test.ts
  src/components/tooltip/bl-tooltip.test.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(select): add feature fallback for select search
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

docs(dropdown): add icon examples to storybook
  src/components/dropdown/bl-dropdown.stories.mdx
Due: none

fix(select): increase code coverage
  package-lock.json
  package.json
  src/components/select/bl-select.test.ts
Due: tsc --noEmit, eslint .

fix(select): increase code coverage
  src/components/select/bl-select.ts
Due: tsc --noEmit, eslint .

feature(dropdown): add dropdown icon integration (#969)
  .github/workflows/pull-request-next.yml
  .github/workflows/verify.yml
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/accordion-group/accordion/bl-accordion.css
  src/components/accordion-group/accordion/bl-accordion.test.ts
  src/components/dropdown/bl-dropdown.stories.mdx
  src/components/dropdown/bl-dropdown.ts
  src/components/dropdown/doc/ADR.md
  src/components/dropdown/docs/ADR/event-system.md
  src/components/dropdown/docs/ADR/group-support.md
  src/components/dropdown/docs/ADR/icon-implementation.md
  src/components/dropdown/docs/ADR/keyboard-navigation.md
  src/components/dropdown/docs/ADR/variant-system.md
  src/components/notification/bl-notification.test.ts
  src/components/select/bl-select.test.ts
  src/components/select/bl-select.ts
  src/components/textarea/bl-textarea.test.ts
  src/components/tooltip/bl-tooltip.test.ts
  web-test-runner.config.mjs
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(dropdown): trigger release
  src/components/dropdown/docs/ADR/icon-implementation.md
Due: none

feat(dropdown): add dropdown icon integration (#971)
  src/components/dropdown/docs/ADR/icon-implementation.md
Due: none

Notes added by 'git notes add'
  63/e0bcca1fbc0fc8b2d40ae3f45876a5e25c682d
Due: none

fix: request update
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.test.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

feat(calendar): adding commend for request update case
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

feat(datepicker): fix test
  src/components/datepicker/bl-datepicker.test.ts
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

feat(datepicker): eng docs added
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

Calendar datepicker bug fix (#966)
  src/components/calendar/bl-calendar.css
  src/components/calendar/bl-calendar.test.ts
  src/components/calendar/bl-calendar.ts
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
  src/components/input/bl-input.css
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

Notes added by 'git notes add'
  d5/661c34390b2090219b0326dc30eaaf4c1479c4
Due: none

feat(tag): update tag element styles
  src/components/tag/bl-tag.css
  src/components/tag/bl-tag.stories.mdx
  src/components/tag/bl-tag.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

docs(tag): add adr link to storybook
  src/components/tag/bl-tag.stories.mdx
Due: none

feat(tag): dynamically set size of remove button
  src/components/tag/bl-tag.css
  src/components/tag/bl-tag.stories.mdx
  src/components/tag/bl-tag.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

fix(tag): typo removeable -> removable
  src/components/tag/bl-tag.css
  src/components/tag/bl-tag.stories.mdx
  src/components/tag/bl-tag.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

feat(tag): use button for selectable tag
  src/components/tag/bl-tag.css
  src/components/tag/bl-tag.ts
Due: tsc --noEmit, eslint ., stylelint src/**/*.css

test(radio): increase code coverage
  src/components/radio-group/bl-radio-group.test.ts
Due: tsc --noEmit, eslint .

feat(tag-component): run prettier
  src/components/tag/bl-tag.css
Due: stylelint src/**/*.css

feat(tag): add tests
  src/components/tag/bl-tag.test.ts
Due: tsc --noEmit, eslint .

feat(calendar-component): fix calendar component test case
  src/components/calendar/bl-calendar.test.ts
Due: tsc --noEmit, eslint .

feat(calendar-component): fix calendar component test case (#977)
  src/components/calendar/bl-calendar.test.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  10/9ed0b9e67a56805468eb49987a40f77e5de62a
Due: none

feat(datepicker): fix disabled dates type
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

feat(datepicker): fix disabled dates type (#979)
  src/mixins/datepicker-calendar-mixin/datepicker-calendar-mixin.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  cd/a4b34f58a71eaa39d5d90a8c316c98f564fa31
Due: none

feat(datepicker): fix clear dates event bug
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

feat(datepicker): update test case
  src/components/datepicker/bl-datepicker.test.ts
Due: tsc --noEmit, eslint .

feat(datepicker): fix clear dates event bug (#982)
  src/components/datepicker/bl-datepicker.test.ts
  src/components/datepicker/bl-datepicker.ts
Due: tsc --noEmit, eslint .

Notes added by 'git notes add'
  00/4e7696158381e6f8bcb4346a0d68d9e0880c00
Due: none

Path conditions:
  tsc --noEmit: any of: *.ts
  eslint .: any of: *.{ts,js}
  stylelint src/**/*.css: any of: *.css
